[2018-11-08 10:55] kevinpapst opened #1 "Rename repo?"
This might be a stupid question, but could you rename the repository to kimai2-docker?
The naming is a bit misleading and forking it creates a repository called **kimai2-1**, at least if someone already has Kimai2 cloned.

[2018-11-08 10:57] tobybatch commented on #1
I totally agree with you but if i do i can't get an auto build on docker hub called kimai2.

It defaults to the repo name and I can't override if I want the auto build tag.  I could drop the 2 and just use kimai.

[2018-11-08 13:21] kevinpapst commented on #1
Hm, thats a good argument and a ptty that they don't allow to change the image name.
Dropping the "2" would be more confusing, so we gonna stick with it for now!

[2018-11-08 13:21] #1 closed, assigned to nobody

[2018-12-18 17:33] noblevirk opened #3 "Working with reverse proxy"
I have a nginx-proxy docker-based reverse proxy server w/ SSL enabled that is in front of the docker container running the Kimai2 server.

I can successfully run the docker-compose file of kimai2 itself with no problem, however when I integrate it with [jwilder/nginx-proxy setup ](https://github.com/jwilder/nginx-proxy/blob/master/README.md) things don't work at all. I am greeted with Bad gateway

[2018-12-18 22:00] noblevirk commented on #3
Update 12/18
The log file as you can see is generating errors, because the docker app couldn't find the database. I have that removed now, I am successfully able to connect to database and verify it using bin/console as follows:

`root@eab63b257b5f:/opt/kimai# ./bin/console doctrine:database:create`

`Could not create database kimai for connection named default
An exception occurred while executin

[2018-12-20 11:08] tobybatch commented on #3
@noblevirk I'm not sure if this will fix your issue but you have found a bug related to the startup.sh

Weirdly I'm using this setup behind a nginx reverse proxy for our complany and didn't hit this problem but anyway I have typo'd the line that sets the trusted proxy, it should read .env not ,env.

Master has been fixed and travis has built it, so can you pull master (or prod image) and try again

[2018-12-22 19:47] noblevirk commented on #3
@tobybatch

I figured out what was causing it, I was trying to connect to kimai at port 8000 instead of 8080.

Thank you for your support, please close this issue.

[2018-12-22 19:47] #3 closed, assigned to nobody

[2019-01-07 18:34] noblevirk opened #4 "500: Internal Server Error on going to settings in prod - Docker"
Hi Toby,

I am wondering if you can take a look at this, i am experiencing this in the docker environment. Kevin says this is a cache issue.

Cross linked:
https://github.com/kevinpapst/kimai2/issues/480

[2019-01-07 20:00] kevinpapst commented on #4
The error message

tells us, that there is a problem while loading the doctrine/database specific SQL functions. From my experience this error goes away after flushing the cache.

I saw it in my dev environment multiple times when switching the database type during tests without refreshing the cache. But no idea why it might happen without manual config changes.

[2019-01-10 20:54] alinefr commented on #4
Same for me. Using mariadb:latest or mysql:latest containers.

[2019-01-11 08:37] tobybatch commented on #4
@noblevirk @alinefr Can you let me have some details please?

I guess @noblevirk you are using a docker-compose?  Can I have that so I can replicate.

@alinefr Are you using a docker compose too?

[2019-01-12 01:56] alinefr commented on #4
@tobybatch I was using [terraform docker provider](https://www.terraform.io/docs/providers/docker/index.html) reproducing the docker-compose contents. I've just tried plain docker-compose.yml from this repo locally and the same issue appears.

This is the steps I've took:
[code]
[code]
[code]
[code]
When i go to `Settings -> Preferences` I get:
[code]
Exactly the same as in my VPS.

[2019-01-15 14:42] tobybatch commented on #4
@alinefr It does look look like a cache issue.  For now execute these two commands.

    docker-compose exec kimai bin/console cache:clear
    docker-compose exec kimai bin/console cache:clear --env=dev

I get a fix in soon.

[2019-01-15 16:59] kevinpapst commented on #4
Really `dev`?

[2019-01-16 11:28] tobybatch commented on #4
@alinefr @noblevirk

I've just pushed a new prod docker that clears the base cache before running.  Please pull and try again.

Thanks.

[2019-01-17 23:07] alinefr commented on #4
Hi @tobybatch. Thank you! It's working now for me.

[2019-01-20 12:35] alinefr commented on #4
This `until` in prod/startup.sh is bloking kimai2 from starting as database connection is hardcoded.
[code]
I did make it work without this as [terraform docker provider](https://www.terraform.io/docs/providers/docker/r/container.html) accepts `depends_on`.

[2019-01-21 18:36] noblevirk commented on #4
Hi @tobybatch , @alinefr  is correct, i am experiencing similar issue and now the kimai app is stuck waiting for mysql database.

`time-app           | Mysql is unavailable - sleeping`
`time-app           | ERROR 2005 (HY000): Unknown MySQL server host 'db' (-2)`

My database variable is `DATABASE_URL: mysql://kimai:kimai@timedb/kimai` which in this case is  timedb (that is the name of the contain

[2019-01-22 09:36] tobybatch commented on #4
@noblevirk @alinefr

You are both correct, in the composer file I have assumed  the DB name.  For now you can either rename your db host to db (sorry, that's poor) or use a mount command to overwrite the start up script, off the top of my head...

    ........
    services:
        image: kimai/kimai2:prod
        volumes:
            - ./startup.sh:/startup.sh
    ........

You can then add your

[2019-01-22 11:23] tobybatch commented on #4
@noblevirk @alinefr I have broken out the SQL URL into components to allow better provision for customisation.  See

https://github.com/tobybatch/kimai2/blob/master/docker-compose.yml#L21

and

https://github.com/tobybatch/kimai2/blob/master/prod/README.md

[2019-01-22 11:23] #4 closed, assigned to nobody

[2019-01-23 09:56] perspicuous opened #5 "500: Internal Server Error on on registering new user in prod"
i tried to register a new user with the following settings:

image prod
no settings changed, all default ports exposed.

image prod with mysql database and only 8080 exposed (why is 80 and 8001 exposed by default? only 8080 works for me)

upon clicking register new user or forgot password after running kimai, i get:

(
http://xxxxx:xxxx/de/resetting/request
http://xxxx:xxxx/de/register/
)

Oops! E

[2019-01-23 10:19] perspicuous commented on #5
error on :latest where only port 80 and 8001 is exposed by default and 8001 is taking request:

i guess one difference of :latest and prod is that the error is really shown...

Unable to find template "partials/login_logo.html.twig" (looked into: /opt/kimai/templates, /opt/kimai/vendor/symfony/twig-bridge/Resources/views/Form) in @FOSUser/Resetting/request.html.twig at line 3.

Unable to find temp

[2019-01-23 10:22] tobybatch commented on #5
@perspicuous I'll look into this when I get a chance but latest is an alias for the dev image, that's what Kevin, the upstream owner wanted.

The prod image is build to run self configure the DB connection, type, create schema etc.

The Dev image assumes it is running against an internal sqlite image.  Can you try the :prod image please.

[2019-01-23 10:30] perspicuous commented on #5
@tobybatch
Okay thank you for the quick response.
prod image results in what is described in the first and initial issue comment.

prod didn't work with internal sqlite, nor Mysql

it looks like it doesnt find the twig file in any case..

[2019-01-23 10:31] tobybatch commented on #5
@perspicuous Thanks, I'll take a look soon

[2019-01-23 10:55] kevinpapst commented on #5
I guess that `Unable to find template` is a bug in Kimai, I'll check and report back

[2019-01-23 14:24] kevinpapst commented on #5
That was a bug, which is now fixed in master. A test was added, so this will not happen again.

[2019-01-28 08:03] perspicuous commented on #5
thanks!

[2019-01-28 08:03] #5 closed, assigned to nobody

[2019-01-28 23:53] knaku opened #6 "Stuck at UTC time - Not using docker container time?"
I am stuck with UTC time when running kimai as a docker instance. I have ensured that both my kimai and mysql docker instance is in the correct timezone and not UTC.

I have tried using both -v /etc/localtime:/etc/localtime:ro and -e "TZ=Continent/City" as well as using tzdata, not that either should give a different result.

How to repeat:
(Use Amsterdam timezone as an example which is +1 hour of

[2019-01-31 08:54] tobybatch commented on #6
@knaku I'll support for setting TZ via an env var.  I think this will suffice.

    ln -snf /usr/share/zoneinfo/$TZ /etc/localtime && echo $TZ > /etc/timezone

[2019-02-07 16:13] davidbeijer opened #8 "Database not persistent?"
Hi, I want to use Kimai2 for my startup, seems like the right tool for the job. As it is a reasonably light application, and I want to run multiple services on our VPS, I wanted to use the docker-method.
When following the instructions in the docker.md file for building and starting the container using the :prod option I get the server to run. I add some entries to test, stop and restart the conta

[2019-02-07 16:20] tobybatch commented on #8
@davidbeijer If you don't mount the DB into a persistent store somewhere then it will not survive restarts.

I'd suggest using the docker compose method.  This will start a mysql DB alongside the kimai app.  The data from that mysql instance will be in ./mysql

[2019-02-07 18:27] davidbeijer commented on #8
@tobybatch first of all thanks for quick response! I've found the yml file for the docker compose method. Despite that option missing from the kimai documentation (I would volunteer to add that once I understand it) I have figured out how to launch the app as described here: https://docs.docker.com/get-started/part3/. While it is running and claiming that the ports are exposed, those ports do not

[2019-02-07 18:29] tobybatch commented on #8
@davidbeijer Can supply the command you are using to start the container please?

Have you looked at this page?

https://github.com/tobybatch/kimai2/blob/master/prod/README.md

[2019-02-07 19:00] davidbeijer commented on #8
@tobybatch, yes I saw the README.md for prod. I can run it, it comes up, the port shows up if I nmap the host, however the datastorage is not persistent, and hence me going for the compose-approach.

The commands I run are (assuming a clean install, a clean pull from the github repository, and ip address using the public IP address of the host machine):
docker swarm init --advertise-addr xx.xx.xx.

[2019-02-07 19:33] kevinpapst opened #9 "Links not working"
Hey @tobybatch,

just noticed that all links in the [prod README](
https://github.com/tobybatch/kimai2/blob/master/prod/README.md) are not working, I guess you mixed up the order of parameters for them `[ name of the link ]( followed by the url )`

[2019-02-07 19:41] tobybatch commented on #8
@davidbeijer Thanks you've found a bug in the doc's :(

The port number in the docs should have been 8001 not 8080.  Please try to move to that port and restart the containers.

[2019-02-07 19:42] kevinpapst opened #10 "Database password needs to be url encoded (prod docker)"
I had that problem now a coupe of times and sooner or later it will rise here as well:
if the database passwords contains special character like `/`, `\` or `@` Kimai will not work, as the `DATABASE_URL` is then invalid / can't be parsed by Doctrine.

So you might want to adjust that in the startup.sh

And while you are on it, I saw that you are using both `/opt/kimai/` and `/var/www/html/` in the

[2019-02-07 19:47] kevinpapst commented on #6
Just as quick note: PHP has the `date.timezone` setting, which can interfere with the TZ as well.

And there is an [open PR](https://github.com/kevinpapst/kimai2/pull/372) for Kimai itself regarding timezones.

[2019-02-07 19:54] tobybatch commented on #9
thanks kev.

[2019-02-07 19:54] #9 closed, assigned to nobody

[2019-02-08 13:14] davidbeijer commented on #8
Hi Toby,

Thanks for the support! I donated to the project via Kevin, couldn't find you specifically on the Kimai2 website.

I got it running today with a persistent database. One problem was the ports as set in the docs, on the other hand my method of bringing the compose entity up did not expose the ports to the outside world. Using "docker-compose up" however did work. I'll write that off to me

[2019-02-08 13:28] kevinpapst commented on #8
Hi David, first of all: thanks!
Now we are mixing docker and non-docker issues, but well ... here we go:
Some configs are so deeply integrated, that having them on the UI would introduce a couple of problems from a development perspective.
Also: I would have to spent a lot of time into things which don't bring any benefit to the actually time-tracking - that's why I decided that everyone can simpl

[2019-02-08 13:31] #8 closed, assigned to nobody

[2019-02-10 13:20] jaapcrezee opened #11 "How to debug failing schema updates?"
How should I / can I debug this?

[code]

The database connection is fine, because on startup the container shows some tables.

[code]

[2019-02-10 13:29] jaapcrezee commented on #11
ps running on
[code]

[2019-02-10 14:27] kevinpapst commented on #11
I know thats not what you asked for: but may I ask why you execute that command? Kimai uses migrations for upgrading the database.

[2019-02-10 14:37] jaapcrezee commented on #11
You may always ask that. I wanted to run that command because I got 500 responses from the webserver on some pages after having upgraded the docker container. When I looked into the migrations table, there were no recent migrations (in 2019). I thought that was strange combined with the 500. It took me some time to figure out that, when running manual commands in the container, I should make sure

[2019-02-10 14:50] kevinpapst commented on #11
Thats a prod container, so unless you really want to debug something, there is no need for `dev`.
Isn't there a `var/log/prod.log` inside the Kimai directory?
Did you read the Kimai documentation about updates https://github.com/kevinpapst/kimai2#updating-kimai? If you don't follow the correct steps, you may end up with a broken database. Probably not what you want ;-)

But why does a docker updat

[2019-02-10 14:52] jaapcrezee commented on #11
It might be that ...

[code]

... is missing in the `/startup.sh` in `kimai/kimai2:prod` container.

[2019-02-10 15:11] kevinpapst commented on #11
Ok, so I guess the sources are included. But running the migrations blindly is probably not the best solution. If I am right with my assumption, then I would recommend something like:
Run a shell script that fetches all entries from the `migration_versions` table and compare them to the files in kimai/src/Migration/ - substring magic needs to applied, to check if there are new Migration files whic

[2019-02-19 13:31] kevinpapst opened #13 "New version released"
FYI - v0.8 was just released, see:
- https://www.kimai.org/blog/2019/kimai-v2-release-0-8/
- https://github.com/kevinpapst/kimai2/releases/tag/0.8

[2019-02-28 23:41] betonme opened #14 "bin/console fails with SQLSTATE[HY000] [2002]"
I'm using Docker version 18.06.1-ce, build e68fc7a on a Debian system.

First I've adapted Your Docker-Compose file:
https://github.com/tobybatch/kimai2/blob/master/docker-compose.yml

After running into problems, I used it unchanged with the same result.

The web interface is working fine.
First test to create a user was fine.

Then using the console to import my Kimai V1 data, I tested to create

[2019-03-01 09:31] tobybatch commented on #14
@betonme Can I see your docker-compose file please?  It looks like the console can't find the sqlite file but I need to see the environment.

[2019-03-01 10:23] betonme commented on #14
I'm using MySQL and used the sample Docker-Compose file unchanged
[docker-compose.yml.txt](https://github.com/tobybatch/kimai2/files/2919010/docker-compose.yml.txt)

[2019-03-02 12:15] betonme commented on #14
Same problem with
docker --version
  Docker version 18.09.3, build 774a1f4
docker-compose --version
  docker-compose version 1.24.0-rc1, build 0f3d4dda

[2019-03-06 13:39] orzechow commented on #14
I'm facing the same issue when trying to create a user.
I share the data folder with my host system, because I want to keep changes / actually use the time tracker.

What I do:

[code]

The `/.config/kimai` folder is created beforehand with the correct permissions. Kimai even generates the `kimai.sqlite` file there:
[code]

I'm using your docker image from dockerhub, no custom compose file or simi

[2019-03-06 18:04] tobybatch commented on #14
@orzechow @betonme Sorry for being a but slow, my job's been a bit hectic.

The web ui can create a new user so there is something up with the console set up.  I'll investigate.

[2019-03-06 19:06] betonme commented on #14
No problem.

For the completeness,  I'm using a separate container running MySQL.

The main problem is, I can't import the data of a kimai v1 MySQL database.
Since creating a user leads to the same error, it should be a general problem.

[2019-03-14 17:08] rschaerer commented on #14
Hi @betonme , @orzechow and @tobybatch

I'm having the same issues with trying to import the kimai v1 database wich throws the error

`[ERROR] Failed to import users: An exception occurred in driver:
         SQLSTATE[HY000] [2002] No such file or directory`

:question: Is there something I can do to help fix this? :thinking:

[2019-03-14 17:28] rschaerer commented on #14
Some more context from my second try:

**I emptied the table kimai_users so the table just had the structure but no data anymore and this is the output of the still failing import**:
[code]

After this row there are endless errors like this for every customer and the log goes on the same with projects:

[code]

and finally:

[code]

Then there's **something strange happening with activities**, it

[2019-03-14 18:07] kevinpapst commented on #14
Ignore the "Imported activities: 9" - this is a false-positive in the importer, which obviously doesn't fail gracefully when the database is not available.

You could try to prepend the DATABASE_URL to the import command and see what happens, so something like:
[code]
Can you show me the contents of your `.env` file?

[2019-03-16 17:52] rschaerer commented on #14
Hi @kevinpapst

**I'm using a sql server database and not sqlite for saving data.**

I've checked that my database is connected correctly by adding an user through the webinterface and adding some test data (customer, project and activity). Timetracking works this way and the entries are being saved in the database.

:checkered_flag: I don't think that I'm having issues with writing to the databas

[2019-03-16 18:03] kevinpapst commented on #14
What about simply giving it a try?

Well, okay here it goes:
It works in the WebUI, because `DATABASE_URL` is available there through the webserver configs.
Doctrine uses this variable when running console commands.
As you don't have a .env file (which would be used otherwise) PHP looks in your process envs.
And I don't see the `DATABASE_URL` in your environment.

So: prepend it to the command to

[2019-03-16 18:05] rschaerer commented on #14
@tobybatch your hint with the sqlite url made me make some progress:

I've set up a new container with the default settings (sqlite as data storage) and tried to do the same import with the same command which was failing before: :tada: THIS WORKS! The data is being imported.

So i think it has something to do with the database where the data should be saved to.

:question: What would be the correc

[2019-03-16 18:52] kevinpapst commented on #14
https://www.kimai.org/documentation/installation.html

[2019-03-16 18:56] kevinpapst opened #15 "DATABASE_PREFIX is removed"
See commit
https://github.com/kevinpapst/kimai2/commit/fb6bf4319fce61b8d181b96bf9693115c237a66b

[2019-03-16 19:21] tobybatch commented on #14
I think there may be an issue about where kimai is picking up the DB URL from when it runs from the CLI rather than through apache.  I will investigate. I've just finished a sprint at work so may have some time next week.

[2019-03-17 03:05] rschaerer commented on #14
:tada: Thanks to @kevinpapst , **my issue is resolved** :tada:

Steps to reproduce:

:one: Set a proper DATABASE_URL as env variable as [suggested](https://github.com/tobybatch/kimai2/issues/14#issuecomment-473570714) by @kevinpapst .

An example for a proper database url is `DATABASE_URL=mysql://user:password@127.0.0.1:3306/database`, as described in the [kimai documentation](https://github.com/t

[2019-03-17 04:07] rschaerer opened #16 "How do I add configurations which have to be placed in the local configs (local.yaml)?"
:information_source: The kimai [documentation](https://www.kimai.org/documentation/configurations.html#config-files) says that configurations which can't be done by env vars should be placed in the file `config/packages/local.yaml`.

:question: How do I add such configurations to this docker installation?

:eye: Example `config/packages/local.yaml` from the [docs](https://www.kimai.org/documentati

[2019-03-20 09:39] tobybatch commented on #16
@rschaerer You will need to mount that file when you start the container.  From memory it will look something like this:

    docker run --name kimai2  .. etc etc.. -v /opt/kimai-docker/local.yaml:/opt/kimai/config/packages/local.yaml tobybatch/kimai2:prod

[2019-03-20 09:39] #16 closed, assigned to nobody

[2019-03-20 09:40] tobybatch commented on #15
@kevinpapst Thanks.

[2019-03-20 09:40] #15 closed, assigned to nobody

[2019-03-20 10:41] orzechow commented on #14
Okay, I could also fix my problem.

I always tested with no `kimai2.sqlite` file (I wanted Kimai to create an empty database).

First of all I've mixed up `SQL_DATABASE` and `DATABASE_URL` 🙄

This
[code]
works now (thus also the default without `DATABASE_URL`)

Probably I also didn't provide proper user rights for www-data on my host machines target folder 🙄

Confusingly
[code]
opens/creates the d

[2019-04-10 01:17] gerroon opened #17 "How do I set a custom volume?"
Hi

I want to store permanent data at a custom location. How do I set it with this ?

[2019-04-12 12:09] schmunk42 opened #18 "Can not start docker-compose setup with dev image"
Switched image to

    image: kimai/kimai2:dev

Got the following error:

    Unsupported database engine: . Kimai only supports one of: mysql, sqlite

[2019-04-12 12:36] schmunk42 commented on #18
After digging in the code, I think maybe I understood `prod` and `dev` wrong, since the `prod` image is built upon `dev`.

What I am actually looking after is running the same version as https://demo.kimai.org/de/login "Development version"

CC: @kevinpapst

[2019-04-12 12:51] kevinpapst commented on #18
Can't help with docker, sorry. But this might help:
https://www.kimai.org/documentation/installation.html#development-installation

[2019-04-12 12:58] schmunk42 commented on #18
Which version or commit-sha is running on the URL above, `master` latest green build?

[2019-04-29 01:28] kevinpapst commented on #13
Ping: 0.9 is released

[2019-05-03 10:46] tobybatch commented on #18
I think all the DB issues are due to how the DATABASE_URL is set.  The dev image only supports the sqlite DB at the moment.

@schmunk42 If you want to use mysql with the dev image then you will need ste a env varible for DATABASE_URL and mount a custom .env file that points to your mysql instance.  Can I see your docker-compose.yml please?

[2019-05-03 10:47] tobybatch commented on #17
Use a docker volume to store persistent data. for the prod image it is the mysql data dir that needs to be set.

https://github.com/tobybatch/kimai2/blob/master/docker-compose.yml#L12

[2019-05-03 10:47] #17 closed, assigned to nobody

[2019-05-03 10:51] tobybatch commented on #14
@rschaerer @orzechow @betonme  Again sorry for delay.

The issue here is how the prod image picks up it's DB url.  It is built in the startup script and that is fine for the web instance but when you shell in to use the console it is not set.  I have switched round the way the databse url is built.

The DATABASE_URL must be passed into the container at start time.

https://github.com/tobybatch/kim

[2019-05-03 10:52] #13 closed, assigned to nobody

[2019-05-03 10:53] tobybatch commented on #11
This is caused by the same problem that was in this issue: https://github.com/tobybatch/kimai2/issues/14

See the change to the docker file in https://github.com/tobybatch/kimai2/blob/master/prod/README.md#runtime-args

The DATABASE_URL needs to be set at container start time.

[2019-05-03 10:54] #6 closed, assigned to nobody

[2019-05-03 10:55] tobybatch commented on #10
I've fixed the symlink thing.  I'm going to add a big note about URL safe passwords.  I won't fix it now.

[2019-05-03 10:55] #10 closed, assigned to nobody

[2019-05-03 12:37] betonme commented on #14
Hi,

that's fixed my issue. Thanks

[2019-05-03 12:37] #14 closed, assigned to nobody

[2019-05-03 13:59] schmunk42 commented on #18
I used the `docker-compose.yml` from this repo.

After reading the `Dockerfile`s I understood, that this is related to the startup scripts. I was just confused that `prod` is built upon `dev`.

This issue is resolved for me.

[2019-05-03 13:59] #18 closed, assigned to nobody

[2019-05-03 14:02] schmunk42 opened #19 "Create tagged versions"
Are there plans to create tagged versions, same as the releases at https://github.com/kevinpapst/kimai2/releases

Always running (pulling) a "latest" version can be error prone.

A current workaround for me would be to build an image from `:prod` which does a `git checkout 0.x.y && composer install`. But actually this should be done here I think.

[2019-05-08 19:17] tobybatch commented on #19
I've split his out into tagged builds.  Master/latest is build against the source master

https://cloud.docker.com/u/kimai/repository/docker/kimai/kimai2/tags

[2019-05-08 19:17] #19 closed, assigned to nobody

[2019-05-08 19:17] #11 closed, assigned to nobody

[2019-05-09 08:43] schmunk42 commented on #19
Thank you!

btw, the Docker Cloud link above is only available for you (and your team) I think, but for those who are interested, you can see the tags here: https://hub.docker.com/r/kimai/kimai2/tags

[2019-06-05 08:52] kevinpapst opened #24 "How to use a local.yaml?"
Hi @tobybatch,
how I can use a `config/packages/local.yaml` with the boxes?
Could you maybe document that ... or explain it to me and I will test it and sent you a PR for updating the README?

[2019-06-05 08:53] kevinpapst commented on #24
Nevermind, I found it in #16 - will document it.

[2019-06-05 08:53] #24 closed, assigned to nobody

[2019-06-05 09:49] kevinpapst commented on #16
Added to the documentation:
https://www.kimai.org/documentation/docker.html

[2019-06-05 09:49] kevinpapst commented on #24
Added to the documentation:
https://www.kimai.org/documentation/docker.html

[2019-06-19 11:44] tobybatch opened #25 "KimaiV2 as Docker container with LDAP"
In an email i received:

[2019-06-19 11:44] tobybatch commented on #25
I'm waiting for a stable release from Kevin of Kimai before I build the new Docker.  If you really need it then you can use the dev docker image as that builds against master. 

If you have problems then let me know.

[2019-06-19 14:53] lmigo opened #26 "KimaiV2 as Docker container with email setup"
Hi Toby,

in my docker-compose.yml I've override the environment for MAILER_URL and MAILER_FROM but when I check the SwiftmailerBundle, there are still shown the default values.

`docker-compose.yml`

[code]

`docker exec kimai bin/console debug:config SwiftmailerBundle`

[code]

Should my overwritten environment be visible in this output?

Thanks,
Michael

[2019-07-02 15:37] kevinpapst opened #27 "1.0 is released"
https://github.com/kevinpapst/kimai2/releases/tag/1.0

[2019-07-03 08:00] tobybatch commented on #27
New docker will build today...

[2019-07-04 00:11] bkraul commented on #25
I too am interested on this. I am not sure exactly how I would use the docker image to add this functionality. I am guessing I would add the ldap component through composer, then include the yaml data, and add a few env variables?

[2019-07-04 07:52] tobybatch commented on #25
@bkraul It's available, https://cloud.docker.com/u/kimai/repository/docker/kimai/kimai2

Just mount the local.yml into the container something like this:

    docker run -v $(pwd)/local.yml:/opt/docker/config/package/local.yml kimai/kimai2:1.0

I'll write this up better for the readme.

[2019-07-04 13:42] bkraul commented on #25
Added the mount as specified with local.yml containing AD information for my organization, however, I do not see it being called, and LDAP authentication is not working, as described in the Kimai LDAP referenced (accounts get synced on first login). Is the /opt/docker/config path correct? I have tried with tag `1.0` and with tag `latest`, to no avail.  I am also unable to see any log information p

[2019-07-04 13:51] kevinpapst commented on #25
Not sure about the docker container, but if you run in prod, you normally have to clear the cache in order for new configs to take effect.

[2019-07-04 13:52] tobybatch commented on #25
Can you please include your local.yml and docker command or docker-compose file please?

[2019-07-04 13:52] tobybatch commented on #27
Built and available

[2019-07-04 13:52] #27 closed, assigned to nobody

[2019-07-04 13:54] tobybatch commented on #26
sorry for my delay, I just didn't see this issue. Can you share the full compose file please, just redact any password for me.

[2019-07-04 14:07] bkraul commented on #25
Docker-compose:
[code]

local.yml:
[code]

What I am confused about is, why does the file need to be mounted to `/opt/docker/config`, when the kimai folder for the docker image has `/opt/kimai/config` as the folder for the configurations? @kevinpapst, I also tried clearing the prod cache.

[2019-07-04 17:13] tobybatch commented on #25
@bkraul You're right thta's a type in the docs.  it should be mounted as per these instructions: https://github.com/tobybatch/kimai2#docker-compose

I only updated those docs this morning.

As per @kevinpapst instruction clearing the cache will need a docker exec command:

    docker-compose exec kimai /opt/kimai/bin/console cache:clear --env=prod

[2019-07-04 19:10] bkraul commented on #25
Followed everything to no avail. Documentation says an LDAP user will be imported on first login. However, as I try to do this with a user I know exists on the directory, I only get an `Invaid credentials` message.

Is there any way I can turn on logging to see any kind of errors that may be happening? Right now, my docker container's STDOUT only shows the container's initialization messages and H

[2019-07-04 20:09] bkraul commented on #25
Update: It seems that in addition to the cache clear, I have to restart the container itself. I was noticing that some of the other options I was setting in local.yaml were not taking place.

I was able to get those with a `docker-compose down && docker-compose up -d`. There is a configuration problem likely with my LDAP setup, so I still wish I could see more debugging information.

[2019-07-04 21:46] bkraul commented on #25
At a loss. This is what I am getting:

![image](https://user-images.githubusercontent.com/14616851/60688509-3cd0e580-9e7b-11e9-9a19-0d68797977a8.png)

But no errors or any feedback on container logs.

[2019-07-04 22:18] kevinpapst commented on #25
Hm, that looks more like a misconfiguration.
We are currently trying to figure out how to stream the Kimai logs to the container output.
Right now, Kimai logs into `var/log/prod.log`, so I guess it should be /opt/kimai/var/log/prod.log.
Please have a look there.
If you can't find helpful logs, you should change your APP_ENV to dev to activate more logs.

[2019-07-04 23:26] bkraul commented on #25
Set `APP_ENV=dev` on my docker-compose. Container startup still shows this:
[code]

Checked /opt/kimai/var/log/dev.log, and the only log output gets logged on startup. Among the things to note:
[code]
I am tailing the log, and when I try log in with an ActiveDirectory user (both user and password are correct), there is  no output logged.

[2019-07-04 23:35] kevinpapst commented on #25
First thing to do: create a local user (either via command line or login/registration form) and see if you can login with that one. It must work, if not something else is broken.

Then check https://xxxxx/en/about/debug and verify that is says: `Environment`: APP_ENV / dev

And please tail var/log/*.log (just in case you are still running in prod)

[2019-07-04 23:37] kevinpapst commented on #25
Oh and btw: do you have [this in your local.yaml](https://www.kimai.org/documentation/ldap.html#activate-ldap-authentication)? Its not mentioned in your post above.

[2019-07-05 00:08] bkraul commented on #25
I have a local user called master. Per the docker-compose instructions, I set my `APP_ENV=dev` under environment. Destroyed the container. Started it again. Cleared and warmed up cache as per instructions.

Signed in as the local user.

This is the debug page:
![image](https://user-images.githubusercontent.com/14616851/60690665-ba522100-9e8e-11e9-929c-175e8f6728f0.png)

And yes, I added that secti

[2019-07-05 00:13] kevinpapst commented on #25
Okay, that must be answered by @tobybatch as I am not fmailiar with the docker setup.

But in this case, are there no logs in var/log/prod.log? The LDAP component logs explicit search and bind commands. If they are logged in prod (which I am not sure about) you will see them...

**Edit: do you have the security settings in local.yaml?**

[2019-07-05 00:22] bkraul commented on #25
It is weird. The only log I see is `dev.log` (and again there is no information logged when attempting to log in) but you saw, my app says it is in `prod` mode.

This is my current local.yaml (sensitive info edited). This is for connecting to a Microsoft ActiveDirectory base.
[code]

[2019-07-05 00:28] bkraul commented on #25
If I can't get the docker one to work I guess I'll have to set me up a LAMP container and try the composer install. Hopefully I can get more debug info then.

[2019-07-05 00:32] kevinpapst commented on #25
Maybe thats faster, setting up Kimai locally on Mac or Linux [is a matter of 5 minutes](https://www.kimai.org/documentation/installation.html#development-installation).
Then find the working LDAP/AD config and afterwards @tobybatch might jump in and help with the docker setup.

[2019-07-05 08:10] tobybatch commented on #25
@bkraul Can you connect to the docker using ```docker-compose exec NAME bash``` and check the contents of the /etc/apache2/sites-available/000-default file.

The prod docker uses the settings from their when running in apache.

You shouldn't need to restart the container to load the new settings but if you want to be super sure use:

    ```docker-compose up --build -d && docker-compose logs -f```

[2019-07-05 11:22] bkraul commented on #25
I am pretty sure I need to restart. `local.yaml` did not get picked up until then, in spite of cache clearing and warmup. Here is the contents of the conf file:
[code]
As you can see, from my previous posts, my docker env var clearly states `dev`. But the container initialization always says prod.

[2019-07-05 12:00] tobybatch commented on #25
Updates in the container, I guess you are using vim. https://github.com/moby/moby/issues/15793#issuecomment-135411504

If you look at the inode number of the file you are editing:

    ls -i local.yaml

then edit it and repeat the ls then the  inode will be different.  So to the OS the file is different.

It bugs the hell out of me too.  If you  find a fix (other than mounting the folder) please l

[2019-07-05 12:03] bkraul commented on #25
@kevinpapst you were right. Had the LAMP env (using `webdevops/apache`) going in no time. Set my app env to dev, worked immediately. Added `local.yaml` (as posted here), cleared cache and did warmup, changes immediately picked up. Getting tons of debugging information on `dev.log`:

[code]

[2019-07-05 12:05] tobybatch commented on #25
Your env is really weird. It's effectively the same as mine but you seem to run in dev.  Can we check the hash on your docker image please?

[code]

[2019-07-05 12:06] bkraul commented on #25
[code]

[2019-07-05 12:08] tobybatch commented on #25
Ha, yours is newer than my prod env.  I'll pull and update mine, hang on a sec.

[2019-07-05 12:12] tobybatch commented on #25
OK, mine is still running in prod.

Can you check the contents of the //opt/kimai/.env file please.  @kevinpapst Other then apache conf and .env is there anywhere else symfony can get the env from?

[2019-07-05 12:16] kevinpapst commented on #25
Well, it takes it from the environment if found (Apache or regular bash env for bin/console).
Fallback is the .env file.

But isn't the problem, that it is still running in prod?
@bkraul switched the docker APP_ENV to dev but the apache config still has APP_ENV=prod, so the changed config is not taken into account. Is the Apache config regenerated?

Besides: maybe its a bad idea in the first place

[2019-07-05 12:22] bkraul commented on #25
I have used both `1.0` and `latest` from that image (not sure if they are different). To the best of my knowledge, there should be no need to put the env on the apache conf, because the docker container picks up the vars from the environment and sets them as env vars in the container.

@tobybatch my `.env` file has:
[code]
There seems to be no mention of the `APP_ENV` var.

[2019-07-05 12:30] tobybatch commented on #25
The apache env gets re-written when the startup.sh is called, so on a re-build I guess.

https://github.com/tobybatch/kimai2/blob/master/tags/1.0/startup.sh#L47

The console commands will pick up the env from OS.

@bkraul Do we currently have several issues?

 1. Switch environments
 1. LDAP not working
 1. No log files

Is this right?

[2019-07-05 13:03] bkraul commented on #25
@tobybatch that is correct, but only with the docker image. LAMP install from official Kimai through composer works as intended. (Minus the LDAP auth which I am still trying to iron out, of course)

[2019-07-05 13:17] bkraul commented on #25
@kevinpapst what does this mean?
[code]

[2019-07-05 13:18] kevinpapst commented on #25
Nothing relevant to your issue. The guard authenticator kicks in when calling the Json-API.

[2019-07-05 14:33] bkraul commented on #25
For some reason, the bind security context is not getting created, even though I am positive the login information for the bind account is correct:
[code]
[code]
What am I missing here? By the way, I believe the Kimai documentation on LDAP for AD is incorrect. You cannot use a `ldapuser@domain.com` notation, you get an error saying it must use the `cn=user,dn=domain,dn=tld` notation.

[2019-07-05 17:02] kevinpapst commented on #25
I will update the example about the username, after you found a working config.

This here https://www.infrasightlabs.com/common-error-codes-for-active-directory-authentication says :

data 52e = Invalid credentials = Returned when a valid username is supplied but an invalid  password/credential is supplied. If this error is received, it will  prevent most other errors from being displayed.

[2019-07-05 17:04] bkraul commented on #25
Yeah, I ended up in that post as well. I can't understand how the credentials are being interpreted as incorrect when I know for sure it is the right username and password. Question, would the `APP_SECRET` value have any bearing on how passwords are encoded before sending an LDAP request?

[2019-07-05 17:06] kevinpapst commented on #25
No, Kimai does not encrypt LDAP passwords.
You can add some debug infos here and see what is passed:
https://github.com/kevinpapst/kimai2/blob/master/src/Ldap/LdapDriver.php#L87

[2019-07-06 01:52] bkraul commented on #25
@kevinpapst, Has anyone ever reported a successful connection to Microsoft ActiveDirectory using Kimai2?

[2019-07-06 10:34] kevinpapst commented on #25
Yes, search the closed issues in the Kimai repo.

[2019-07-06 12:45] bkraul commented on #25
So I was looking at the function you suggested I track:
[code]
From this, when debugging is turned on, I should see an `app.DEBUG` message on the log showing a `ldap_bind` action. However, the only message I see before the error is a `ldap_search` debug event, never the bind. But the errors are clearly telling me there is a security context error. I'm so confused. I have been checking the issues o

[2019-07-06 12:52] kevinpapst commented on #25
Maybe I am wrong and it is not the "user bind", but the service-account bind:
https://github.com/kevinpapst/kimai2/blob/master/src/Ldap/LdapDriver.php#L64

[2019-07-06 13:30] bkraul commented on #25
The mystery has now been solved. The full DN string I was using for my ldap service account user apparently was incomplete AND incorrect (because of my sysadmin's OU requirements). When I put the full DN in, authentication and search worked, my user was imported and everything is operating.

@kevinpapst  thank you for pointing me to the right debugging spots. I was able to add `$this->driver->getO

[2019-07-06 14:20] tobybatch commented on #25
@bkraul I'm really happy to work with you to produce an nginx solution. my original version of the docker used nginx but i had some issues with setting up the php.

I'd love to offer apache and nginx versions.

[2019-07-07 17:09] lpmartineau opened #28 "Unable to use mysql"
Hello,
Thank you for this tool. I really like it and it will come in handy!

I am having an issue using mysql.
I started by cloning your git repo and ran the following:

docker build -t kimai/kimai2:prod --build-arg "TAG=1.0" --rm tags/1.0

In my docker-compose I have:
DATABASE_URL: mysql://kimai:SimpleTestPassword@mysql/kimai

But when I bring things up with docker-compose up I see:
kimai_1

[2019-07-07 17:20] lpmartineau commented on #28
I found my issue. I had 2x environment: sections. Works fine now.

[2019-07-07 17:20] #28 closed, assigned to nobody

[2019-07-08 16:26] bkraul commented on #25
@tobybatch ok, so this is what I have got. This yields a fully operational Kimai2 set up on nginx. I have talked to @kevinpapst  about some ways of making the initialization more graceful, but until then, this seems to work great for me. As mentioned, I prefer to use the [webdevops/php-nginx](https://hub.docker.com/r/webdevops/php-nginx) image as my base, as it is well-updated, has extensive docum

[2019-07-09 08:14] tobybatch commented on #25
@bkraul Thanks, I'll take a look at those.  I will try and offer an nginx version soon.

[2019-07-09 08:14] #25 closed, assigned to nobody

[2019-07-09 08:18] yayitazale opened #29 "Update to 1.0 breaks DB schema"
Related to #11, I have updated to 1.0 just using docker compose pull with the tag latest  and I'm getting 500 error on some timesheet pages.

Rolling back to 0.9 worked out, but I want to update to the new 1.0, so I have to update the DB manually?

I have the DATABASE_URL set on docker-compose.yaml correctly.

thanks

[2019-07-09 08:22] tobybatch commented on #29
Yes you will need to run the migrations.  Back everything up and then start the q.o container and then shell into the container:

    docker exec -ti NAME bash

and run:

    bin/console doctrine:migrations:version --add --all -n

I'll leave this issue open as I will add this to the docker start script.

[2019-07-09 08:38] yayitazale commented on #29
It doesn't work. I followed the steps of DB updating:

[code]
The comand "git checkout 1.0.1 " says

And final step says nothing to migrate.

Running
`bin/console doctrine:migrations:version --add --all -n`
doesn't make any change, even forcing the recreation of the container.

What I'm doing wrong?

[2019-07-09 08:56] tobybatch commented on #29
You shouldn't be pulling into the container.  All changes will be lost when (if) the container restarts unless you are mounting /opt/kimai into a volume.

You should be just need to change the tag in the docker-compose and run a

     docker-compose stop kimai
     docker-compose up --build

The container will re-use the db form the previous version and then run the migrations (https://github.com/

[2019-07-09 10:30] tobybatch commented on #29
Fix coming soon.  Totally my fault.  I copied instruction from the install docs for kimai without understanding what they did.  In the install kimai creates the DB and then added the DB migrations to the DB **because** the schema is now up to date.  ```/opt/kimai/bin/console -n doctrine:migrations:version --add --all```

What I should have done is **execute** the migations that are needed, ```/opt

[2019-07-09 10:38] yayitazale commented on #29
Thanks, I'll give a try as soon as it is publish.

[2019-07-09 13:57] yayitazale commented on #29
This is still not working...

[2019-07-09 15:05] tobybatch commented on #29
Can you let me have your docker-compose file please (both before and after the version bump).  Just redact the passwords.

[2019-07-10 06:25] yayitazale commented on #29
**Before:**
[code]

**After**
[code]

[2019-07-10 09:16] tobybatch commented on #29
@yayitazale The schema has become out of date, I'll try and find out why but for now if we apply all the migrations it will fail on the ones that have been already applied and bring the schema up to date.
Start the v 1.0.1 container and shell into it

    docker-compose exec kimai bash

Run all the migration, there wil be errors but we can ignore them.

    for x in 20180701120000 20180715160326 2

[2019-07-10 09:46] yayitazale commented on #29
Many thanks, it works like a charm.

[2019-07-10 09:47] tobybatch commented on #29
A bit of a hammer based solution ;)

[2019-07-10 09:47] #29 closed, assigned to nobody

[2019-09-08 15:52] ghost opened #31 "Run as unprivileged user mapped to a host user/group"
It would be great if these images supported right off the shelf to run as an unprivileged user. One potential option to do this is to use a similar RUN entrypoint as linuxserver.io images use:

https://docs.linuxserver.io/general/understanding-puid-and-pgid

Right now, it should not be too difficult to leverage FPM through a socket which another container or host reverse proxy can use to serve the

[2019-09-10 09:00] tobybatch commented on #31
I'll pop this on my to-do list.  or if you want it badly then raise a PR and I'll incorporate it.

[2019-09-11 17:57] ghost commented on #31
I can help. How about an easy fpm based image? alpine + fpm. TCP based socket for fpm, internal network for the container with an optional nginx instance (or similar). I would use a reverse proxy but whatever works there.

Take a look at the Dockerfile for some of the linuxserver.io images, they basically do sanity checks in the entrypoint script and change the owner of any tmp or data files and d

[2019-09-12 08:26] tobybatch commented on #31
There is already an FPM image, tagged as fpm-alpine-X.X

It auto builds from here https://github.com/tobybatch/kimai2/tree/master/build/fpm-alpine

Does that help?

[2019-09-24 10:30] ghost commented on #31
Yes, this should help, so far what I see in the fpm image:

- No privileged ports used, which makes it a lot easier to avoid extra capabilities and permissions in the container.
- FPM could use an user created in the Dockerfile taken from ENV settings. Nginx I suppose would still run as www-data inside the container. I think the issue here is mapping the www-data user to an outside GID/UID in the

[2019-09-24 11:57] tobybatch commented on #31
I totally understand the issue, and the technology needed to solve it but I'm a little busy at work right now.  If you want to make the changes and raise a PR that would be ideal.  Else we'll just need to wait until I get a break from my current projects.

[2019-10-06 13:34] Schrolli91 opened #32 "Fatal Error with docker-compose sample script"
Hello everyone,

i used the sample docker compose script for production from `https://hub.docker.com/r/kimai/kimai2`.
After i started this, first i get an error because the password is to short (at least 8 chars).
So i changed it to `pass1234`.

Now i can start the containers successfully. But after connect to the webserver and try to login with `kimai@example.com` and `pass1234` i will get this e

[2019-10-06 13:46] kevinpapst commented on #32
@tobybatch Kimai 1.4 introduced new libs for avatar generation. The PHP extension GD was required before, but not used until now. Maybe that is the cause. Also Symfony and FosUserBundle were upgraded and the minimum password length was increased.

[2019-10-06 16:03] tobybatch commented on #32
Thanks @kevinpapst I'll get a fix in for that ASAP

[2019-10-06 16:07] Schrolli91 commented on #32
thanks for your effort - @tobybatch please let me know if there is a solution

[2019-10-06 16:22] tobybatch commented on #32
It looks like GD is already baked in https://github.com/tobybatch/kimai2/blob/master/base/apache-debian/Dockerfile#L26

I'll take a better look when I get a second.

[2019-10-06 18:47] kevinpapst commented on #32
According to https://www.php.net/manual/en/function.imagettfbbox.php

I will add a workaround in Kimai. If you can patch the source code, change this line:
https://github.com/kevinpapst/kimai2/blob/master/src/Utils/AvatarService.php#L125
from
[code]
to
[code]

@tobybatch this one is older, but maybe helpful: https://stackoverflow.com/questions/49175139/trying-to-add-freetype-to-php-gd-in-docker-of

[2019-10-06 20:39] tofuSCHNITZEL opened #33 "error after upgrade to 1.4"
Hi,
after upgrading from apache-debian-1.3 to apache-debian-1.4 I receive the following error after logging in:

`
Fatal error: Uncaught Symfony\Component\Debug\Exception\UndefinedFunctionException: Attempted to call function "imagettfbbox" from namespace "Intervention\Image\Gd". in /opt/kimai/vendor/intervention/image/src/Intervention/Image/Gd/Font.php:86 Stack trace: #0 /opt/kimai/vendor/interve

[2019-10-06 20:40] kevinpapst commented on #33
Duplicate of #32

[2019-10-07 07:06] yayitazale opened #34 "Can't start the container after update to 1.4"
This is what the log shows:

[code]
I'm using Kubuntu 18.04 as host.

[2019-10-07 07:19] Schrolli91 commented on #32
I dont unserstand the Docker process at all.
Whats the difference between `image: kimai/kimai2:apache-debian-master` and `image: kimai/kimai2:apache-debian-1.4`?

1.4 is running but with the above described error.

master will terminates directly with the following messages on console (see also #34):
[code]

[2019-10-07 10:42] tobybatch commented on #32
Sorry that's the automated build sending a broken build.  I'll remove the 1.4 tag for the moment.

[2019-10-07 11:55] tobybatch commented on #34
@yayitazale I've had to pull the 1.4 container.  The new deps are breaking it.  I'll get a fix out ASAP

[2019-10-07 12:27] Schrolli91 commented on #32
I have tried t start the docker-compose with the `kimai/kimai2:fpm-alpine-1.3`
If i run this with `APP_ENV=dev` all looks ok an kimai starts.
But if i try to use `APP_ENV=prod` then i get an 500 error from the kimai page.

[2019-10-07 12:28] tobybatch commented on #32
@Schrolli91 Can you share the full docker compose file with me please?

[2019-10-07 12:33] kevinpapst commented on #34
Can you check if https://github.com/kevinpapst/kimai2/pull/1158 helps?

[2019-10-07 13:55] Schrolli91 commented on #32
I have used this compose file from your repo: https://github.com/tobybatch/kimai2/blob/master/docker-compose/nginx/docker-compose.yml
Only changed the image from kimai - here is the used composer file

[code]

with `APP_ENV=dev` it seems to be running, but with `APP_ENV=prod` i get a 500 error

![500error](https://user-images.githubusercontent.com/6043382/66318005-d4325280-e91a-11e9-8f94-61fbf6236

[2019-10-07 14:11] tobybatch commented on #32
@Schrolli91 Can you try it with ```docker-compoer up --build``` please.

I just did that (by instinct) and it worked here with your composer file.  I think that if you omit the --build the old image that was configured to run with the dev env will be started and we want the newer prod env.

This is a guess but can you try it please.

[2019-10-07 14:21] Schrolli91 commented on #32
Doesn't change anything - but it do not rebuild anything, because we use pre-build images.

EDIT:
I'll try to complete re-pull the images with PROD - one moment please

EDIT2:
Won't work if i complete re-pull all the images an start it initial with PROD - only DEV is wokring

[2019-10-07 14:37] tobybatch commented on #32
It's a permissions issue.  I'll figure out why later but for now this should fix it:

```docker-compose exec kimai_fpm chown -R www-data:www-data /opt/kimai/var/cache/```

[2019-10-07 14:45] Schrolli91 commented on #32
Works! Thanks for your effort - Let me know if it is fixed

[2019-10-08 18:53] Schrolli91 commented on #32
FYI - have seen that there now some builds for 1.4 and 1.4.1 - these builds are still broken - 1.3 works with your given permission work around

[2019-10-08 19:19] kevinpapst commented on #32
Whats the error for 1.4.1?

[2019-10-09 05:04] Schrolli91 commented on #32
1.4.1 -> `starup.sh` cannot be found - same at 1.4 - 1.3 works

[code]

[2019-10-09 06:08] tobybatch commented on #32
I know about these errors, I have an issue with the FPM images for 1.4 +

I am working to fix them but at the moment I'm working in foreign country have limited time.  I have pulled the 1.4 and 1.4.1 fpm images until I can fix them.  The apache ones should work.

Please bare with me.

[2019-10-09 06:49] Schrolli91 commented on #32
No problem - i thought that you are testing fixes for that because theres some >1.4 builds available again.
Was just a little Feedback post.

Maybe i can fix it myself - then i will push a PR

EDIT:
@tobybatch can you explain me, why the nginx_startup file copies the data to shared_kimai and make an symlink? I think there is the permission problems!
`kimai_fpm_1  | cp: can't create '/opt/shared_ki

[2019-10-09 11:54] Schrolli91 commented on #32
@tobybatch i have found the problem.

After mounting the folder there are no permissions because there are inherited from the host system.
Your dockerfile use the statement `USER` and thats the problem, because `www-data` has no permissions on the local `codebase` folder.

For example the MySQL dockerfile: https://github.com/docker-library/mysql/blob/ed0e47e48b8ca3dbc4d68d68f56384bdd1fb5cdb/5.6/Do

[2019-10-11 05:19] Schrolli91 commented on #32
Maybe thats the best solution:
https://stackoverflow.com/questions/36781372/docker-using-gosu-vs-user
https://medium.com/better-programming/running-a-container-with-a-non-root-user-e35830d1f42a

We init all with root permissions - and entrypoint script also runs as root - then the script drops the root permissions itself with `gosu`

[2019-10-11 05:38] Schrolli91 commented on #34
Now i know, that this error is not a deps problem - its an permission error in the docker container

[2019-10-11 13:56] Schrolli91 commented on #32
solved (see #35 )

[2019-10-11 13:56] #32 closed, assigned to nobody

[2019-10-11 14:08] Schrolli91 commented on #34
@yayitazale do you use a FPM image? Then you can try #35

[2019-10-11 19:50] tobybatch commented on #32
@Schrolli91 I have a fix in place for this.  (Very similar to your PR).  I'll just check it and then push the changes.  When I'm happy, I'll re-tag the images.

Do you want come on board and join me as a maintainer of the docker images?  I'm pretty open to new input.  If so we could maybe have a quick call sometime and just chat over how I'm doing things right now, and how we (I) could do it bette

[2019-10-11 20:01] Schrolli91 commented on #32
@tobybatch as written in the PR i have asked for a maintenance partnership - so yes we can work together, to make this better ;-)

I would very happy if my PR can be a part of this.

atm im working on a smaller image - the fpm-apline build is round about 880 Mb and i have stripped it down to <200 Mb by optimizing the Dockerfile. I take a look to improve it further.

btw maybe i have some ideas to

[2019-10-14 08:12] yayitazale commented on #34
Updated and running.

Thanks!

[2019-10-14 08:12] #34 closed, assigned to nobody

[2019-10-14 09:26] Schrolli91 commented on #33
Should be fixed, so pls try an update

[2019-10-14 09:26] #33 closed, assigned to nobody

[2019-10-14 09:31] tofuSCHNITZEL commented on #33
Yes it's fine now.

[2019-10-14 11:24] VladimirPuidak opened #37 "Error 500 When I click on "My profile""
Hey. We used kimai 0.8.1 built on the basis of docker. 10/10/2019 We updated to version kimai / kimai2: apache-debian-1.4.1.

When I click on "My profile" I get an error:
![My profile](https://user-images.githubusercontent.com/21170908/66747837-2da3ff80-ee8e-11e9-882c-0e8210bfb8d0.png)

What logs to show me?

[2019-10-14 11:44] Schrolli91 commented on #37
Do all other functions still work or will you get this error on each page?

[2019-10-14 11:58] VladimirPuidak commented on #37
I get this error only on this page.

[2019-10-14 12:00] kevinpapst commented on #37
@organ2 did you test with a SUPER_ADMIN account? Your screenshot shows a very limited user, which is not representative. Login with SUPER_ADMIN, open "Doctor" from the menu and copy&paste the logs here.

[2019-10-14 13:58] VladimirPuidak commented on #37
The log file in the attachment
[log.txt](https://github.com/tobybatch/kimai2/files/3724687/log.txt)

[2019-10-14 15:26] VladimirPuidak opened #38 "Kimai crashes when I do export pdf"
After updating kimai 0.8.1 to version kimai / kimai2: apache-debian-1.4.1 I encounered with one more error.
I open menu "Export", enter some data,  choose "PDF format" and press "export".

![export](https://user-images.githubusercontent.com/21170908/66762734-35c06700-eeaf-11e9-82a1-526c5dd9b1ec.png)

I get the pdf file, but after that Kimai crashed and I get the message below:

![Error](https://us

[2019-10-14 15:34] kevinpapst commented on #38
Duplicates #37

[2019-10-14 15:38] Schrolli91 commented on #37
@kevinpapst do you have any idea if this is an kimai issue or still one from the docker image?

[2019-10-14 15:42] kevinpapst commented on #37
Not an Kimai issue.

`The mapping file /opt/kimai/config/serializer/App/API.Model.I18n.yml does not exist`: It looks as if the code (config folder) was only partially updated.
There are files missing and I am not sure what the result is. Maybe the other errors are follow ups (assuming an old cache was used by Symfony).

The other linked #38 issue comes from the same reason, there is an old config

[2019-10-14 15:47] Schrolli91 commented on #37
@organ2 can you try an docker image with kimai 1.3?
At the moment we have some issues with the kimai 1.4 images, we're working on that.

@kevinpapst yes a `git status` should work inside the container

[2019-10-15 11:43] VladimirPuidak commented on #37
I've updated kimai 0.8.1 to 1.3 on my virtual machine and encountered with same errors. It's erros on my profile page and crashing Kimai when i do export to the pdf file.

[2019-10-15 11:47] kevinpapst commented on #37
Did you change any configs on your end @organ2 ?

[2019-10-15 11:48] tobybatch commented on #37
@organ2 And can you please share your docker command or docker-compose.yml.

[2019-10-15 14:01] VladimirPuidak commented on #37
I didn't change ane configs. I just changed "image: kimai:0.8.1" to "image: kimai/kimai2:apache-debian-1.4.1" in docker-compose.yml. After that I used this command to update Kimai:
sudo docker-compose up -d --force-recreate

My current docker-compose.yml
[removed]

[2019-10-15 14:09] Schrolli91 commented on #37
@organ2 have removed your compose file - credentials inside !!!

[2019-10-15 14:26] tobybatch commented on #37
@organ2 I tested your docker compose with my local set up.  I deleted your volumes, they make no sense for me to use.  My profile does not error.

[2019-10-15 14:28] tobybatch commented on #37
can you send me the full hash of your 1.4.1 tag please?

```docker image ls --no-trunc kimai/kimai2:apache-debian-1.4.1```

[2019-10-15 14:35] VladimirPuidak commented on #37
I changed credentials to wrong. Anyway thank you :)

[123.txt](https://github.com/tobybatch/kimai2/files/3729867/123.txt)

[2019-10-15 14:49] tobybatch commented on #37
Can try and re-pull the 1.4.1 tag please, that may me an out of date tag., kimai/kimai2:apache-debian-1.4.1

    f9fd679ac4c42dff13131904d22c46064e7b3bb502a70a35da2f5374ba34b496

[2019-10-15 15:03] VladimirPuidak commented on #37
Do you mean re-pull and rebuild docker image or something else?
Because I tried and found no git commit with such hash in your repo.

[2019-10-15 15:07] Schrolli91 commented on #37
you have to re-pull the kimai image
https://docs.docker.com/compose/reference/pull/

EDIT:
btw - thats the hash from the dockerhub image

[2019-10-19 06:46] tobybatch opened #39 "Error running composer"
@kevinpapst We are getting this error running ```composer install --working-dir=/opt/kimai --optimize-autoloader```

It's during the docker creation process, and I can't replicate it if shell on and run the command.  Can you offer any pointers as to where I can investigate?
[code]

[2019-10-19 06:54] Schrolli91 commented on #39
btw - we do exactly the same, but on my machine its building fine

[2019-10-19 07:13] kevinpapst commented on #39
Does it really look exactly like this `The parameter "!k(MISSING)ernel.project_dir" must be defined`?
Looks wrong in multiple way. Does that happen in a fresh clone as well?
It is a parameter defined by Symfony itself in vendor/symfony/http-kernel/Kernel.php around line 342

[2019-10-19 07:42] Schrolli91 commented on #39
The docker build clones the kimai repo from scratch, yes

[2019-10-19 08:36] kevinpapst commented on #39
So on one machine it works, on the other one it doesn't? Whats the difference between these machines?

The `!k(MISSING)ernel.project_dir` looks like a copy & paste problem. Are you sure there is no local.yaml or some plugin that defines a variable and uses the `%kernel.project_dir%`?

I have no clue, I can just tell you where it is defined and what it is defined for. I never experienced any proble

[2019-10-19 08:53] Schrolli91 commented on #39
The only difference to your described installation in the docs is that we pre install the prestissimo Plugin to improve deps install speed from composer. And this will removed automatically on the composer install because it's not in the deps file.

Maybe that's a problem?

My machine is a Linux mint 19.2, idk what toby is using.

[2019-10-19 08:55] kevinpapst commented on #39
Maybe.

Symfony Flex already brings composer parallel downloads (if curl-multi is installed). Thats quite fast actually. If you need even more speed, mount a temporary directory for composer caches.

[2019-10-19 08:58] Schrolli91 commented on #39
OK, then Toby should test the build with the commented out prestissimo install, maybe that works then

[2019-10-20 19:35] VladimirPuidak commented on #37
Hello. Sorry for not writing for so long. I re-pulled the kimai image and now the hash of my 1.4.1 image is f9fd679ac4c42dff13131904d22c46064e7b3bb502a70a35da2f5374ba34b496.
But i got same error on the page "My profile". What else can i try?

[2019-10-20 19:42] Schrolli91 commented on #37
@organ2 can you try an docker image with kimai 1.3?
At the moment we have some issues with the kimai 1.4 images - maybe thats the reason - we're working on that.

[2019-10-20 20:15] VladimirPuidak commented on #37
I've tried the image 1.3. It didn't help.

Also I installed the docker kimai 1.4.1 on new virtual machine and all works correctly.
Is there a problem in my production database?

[2019-10-20 20:25] kevinpapst commented on #37
Did you follow the upgrade guide?

[2019-10-21 08:46] VladimirPuidak commented on #37
I just changed the image  0.8.1 to 1.4.1 in the docker-compose.yml and rerun containers.

[2019-10-21 08:50] kevinpapst commented on #37
Do you have a local.yaml in place? If so, read the UPGRADING.md .
If not, maybe the database wasn't migrated. Post the contents of the table `migration_versions`.

[2019-10-21 20:26] Schrolli91 commented on #39
I think we can address the problem now... Looks like a problem with the docker version 🤔

[2019-10-24 15:19] VladimirPuidak commented on #37
Yes, I have a local.yaml. I watched UPGRADING.md, but I understood only that need to give a write access for folder "avatar".
[local_yml.txt](https://github.com/tobybatch/kimai2/files/3768281/local_yml.txt)

What information is needed from the table migration_versions?
![2019-10-24 18_15_41-dbForge Studio 2019 Express for MySQL - Start Page](https://user-images.githubusercontent.com/21170908/67499

[2019-10-24 15:25] kevinpapst commented on #37
You should check at least the role permissions in local.yaml if you need them (or remove them completely). They were changed and you should adapt your config to make sure that you have the correct permission check (see documentation)

I need the contents of the migration_versions table.
It should contain something like this (obviously only the first column is important):
<img width="345" alt="Bild

[2019-10-25 09:55] VladimirPuidak commented on #37
Contents of the migration_versions table.
![migration_versions](https://user-images.githubusercontent.com/21170908/67561632-e4716c80-f725-11e9-90d3-1cff73c25c92.png)

[2019-10-25 09:58] kevinpapst commented on #37
All migrations ran successful.

Okay, whatever is going on, this is not a Kimai issue.
The log clearly says that the filesystem contents are not correct (missing configs...).
You could compare the contents against a current clone.

Sorry, but I am out.

[2019-10-25 10:03] Schrolli91 commented on #37
has you mounted the kimai folder to you host file system?

[2019-10-28 12:31] VladimirPuidak commented on #37
Yes, I have the mounted kimai folder. This is a part of my docker-compose.yaml.

kimai:
    image: kimai/kimai2:apache-debian-1.4.1
    environment:
        - APP_ENV=prod
        - DATABASE_URL=mysql://kimaiu:kimaip@mydb/kimai
        ....
        ....
        ....
        ....
    volumes:
        - /var/kimai2/app-repo/config:/opt/kimai/config
    depends_on:
        - mydb
    ports:
        -

[2019-10-28 18:22] Schrolli91 commented on #37
I think the mounted config is the problem - maybe an old format?
What happens if you remove the config mount? is kimai running correctly then?

[2019-10-29 11:47] VladimirPuidak commented on #37
Yes, the problem is in the old file format. I copied the folder "config" from kevinpapst/kimai2, loaded my local.yaml and restarted docker-compose. All my problems have been gone. Thanks for the help.

[2019-10-29 12:52] Schrolli91 commented on #37
ok, then we can close here?

For further Docker images we try to improve the docs especially for the updating case

[2019-10-29 12:53] #39 closed, assigned to tobybatch

[2019-10-29 13:11] VladimirPuidak commented on #37
yes

[2019-10-29 13:20] #37 closed, assigned to nobody

[2019-10-29 13:28] #38 closed, assigned to nobody

[2019-11-01 23:33] kjean667 opened #40 "Quick start guide for Docker not working"
The instructions given in the Quick start guide under Evaluate and in the documentation are not working.

`docker run --rm -ti -p 8001:8001 --name kimai2 kimai/kimai2:dev`
This is working

`docker exec kimai2 bin/console kimai:create-user admin admin@example.com ROLE_SUPER_ADMIN admin`
Gives the error:
[code]

Changing the above command with a longer password will succeed, but the next command wil

[2019-11-11 10:57] devabe opened #41 "Kimai with docker compose and nginx frontal for ssl"
dd

[2019-11-11 15:37] #41 closed, assigned to nobody

[2019-11-14 12:47] timlegge opened #42 "SELINUX will prevent volume from mountiing properly"
HI

The volume in the docker compose needs :z at the end in a RHEL installation to correct the permissions.

Tim

[2019-11-14 12:49] tobybatch commented on #42
Thanks @timlegge , maybe you could raise a PR for the documentation to fix that for us?

[2019-11-14 12:58] timlegge commented on #42
Quite possible.  I am looking right now at the install of kimai2 and need
to use ldap.  So I might have a few things...

On Thu, Nov 14, 2019 at 8:49 AM Toby Batch <notifications@github.com> wrote:

[2019-11-15 03:03] timlegge commented on #42
One thing I was trying to figure out today is how to get the local.yaml
file created for the ldap configuration...

On Thu, Nov 14, 2019 at 8:57 AM Timothy Legge <timlegge@gmail.com> wrote:

[2019-11-18 14:26] yayitazale opened #43 "1.5 released"
1.5 has been released 15 days ago but pulling the apache-debian-master image is not updating it.

CC @kevinpapst

[2019-11-18 15:59] Schrolli91 commented on #43
atm we're working on the new build system, so there is no actual build.

But you can build it your own for now - see https://github.com/tobybatch/kimai2/tree/wip_new_builds/concept

[2019-11-28 20:41] timlegge opened #44 "Importing v1 data runs out of memory"
Hi

I have imported the v1 data from my v1 installation to the mydb docker database.  I am running the following command to import v1 data and it hits a memory limit:

Any ideas?

bin/console doctrine:schema:drop --force && bin/console doctrine:schema:create && bin/console kimai:import-v1 "mysql://user:pwd@containerid:3306/kimai_v1?charset=latin1" "kimai_" "test123" "US" "USD"

Fatal error: Allowe

[2019-11-28 20:43] kevinpapst commented on #44
Try to prefix the last bin/console with `php -d memory_limit=-1 bin/console ...`

[2019-11-28 21:24] timlegge commented on #44
Will give it a shot right now

[2019-11-28 22:55] timlegge commented on #44
That worked.  Thanks very much.

[2019-12-03 18:02] timlegge opened #45 "Apache keeps restarting"
kimai_1    | AH00534: apache2: Configuration error: No MPM loaded.
kimai_1    | Action '-D FOREGROUND' failed.
kimai_1    | The Apache error log may have more information.

Using the docker-compose.yaml file and getthe error above.  The container continues to restart

[2019-12-05 21:42] timlegge commented on #45
likely related to overlay2, xfs and lack of d_type support.  Closing

[2019-12-05 21:42] #45 closed, assigned to nobody

[2019-12-05 21:42] #44 closed, assigned to nobody

[2019-12-06 01:20] timlegge opened #46 "Document Secure LDAP configuration"
Just some notes on how to configure working secure LDAP (636 SSL or 389 STARTTLS)

1. Create ldap directory
2. In docker-compose.yaml mount local.yaml and ldap directory under kimai volumes:
   - ./local.yaml:/opt/kimai/config/packages/local.yaml:z
   - ./ldap:/etc/ldap:z
3. Copy /etc/ldap/ldap.conf to local ldap directory
4. Create certs directory in local ldap directory
5. Copy Root Certificate

[2019-12-06 18:32] kevinpapst commented on #46
What about opening up a "tips & tricks" section in the LDAP config page?

Would you be willing to sent in a PR for [this file](https://github.com/kimai/www.kimai.org/blob/master/_documentation/ldap.md)?

[2019-12-06 20:03] timlegge commented on #46
I can probably do that.  just wasn't sure about which page

On Fri., Dec. 6, 2019, 2:32 p.m. Kevin Papst, <notifications@github.com>
wrote:

[2019-12-09 16:10] tobybatch commented on #43
Done

[2019-12-09 16:10] #43 closed, assigned to nobody

[2019-12-09 16:12] tobybatch commented on #40
Please retry, a new build system has just been instituted.

    docker run --rm -ti -p 8001:8001 --name kimai2 kimai/kimai2:apache-debian-master-prod

[2019-12-09 16:12] #40 closed, assigned to nobody

[2019-12-09 16:19] tobybatch commented on #31
Now runs as www-data

[2019-12-09 16:19] #31 closed, assigned to tobybatch

[2019-12-09 16:21] tobybatch commented on #46
This belongs in the core docs: https://github.com/kimai/www.kimai.org/blob/master/_documentation/ldap.md

[2019-12-09 16:21] #46 closed, assigned to nobody

[2019-12-10 08:50] yayitazale opened #48 "Error 500 after update to 1.5"
I'm getting this error 500 after updating to 1.5

![imagen](https://user-images.githubusercontent.com/6462849/70513582-3897ab00-1b32-11ea-8c8f-c56e9d0c178f.png)

I just changed the kimai image base from

`kimai/kimai2:apache-debian-master`

to

`kimai/kimai2:apache-debian-1.5-prod`

¿What I'm doing wrong?

[2019-12-10 08:52] tobybatch opened #49 "Permission escalations"
@Schrolli91 Building without build kit errors on a permission escalation error here:

https://github.com/tobybatch/kimai2/blob/master/Dockerfile#L221

If you remove the switch to root it can't copy the .env file.  Works fine with build kit.  ANy ideas?

[2019-12-10 08:58] tobybatch commented on #48
Can you please share:
 1. the command you use to start the container.
 1. docker compose (if used) file with any passwords redacted.
 1. The log/cli output of the failed container,

[2019-12-10 09:13] yayitazale commented on #48
1.
`sudo docker-compose pull && sudo docker-compose up -d --build`
2.
[code]
3.

[code]

[2019-12-10 12:23] Schrolli91 commented on #49
The global base build will drop the root permissions - maybe we can remove that an drop it only at the end of the build process

remove:
https://github.com/tobybatch/kimai2/blob/master/Dockerfile#L160
https://github.com/tobybatch/kimai2/blob/master/Dockerfile#L208
https://github.com/tobybatch/kimai2/blob/master/Dockerfile#L221

so the root permissions are only dropped at finish

[2019-12-10 15:08] #49 closed, assigned to nobody

[2019-12-10 20:48] Schrolli91 commented on #49
looks like this idea will work?

[2019-12-15 18:43] kevinpapst opened #54 "Next update requires MySQL timezone information"
Hi!

With the next version, Kimai will require the MySQL timezone information populated.
https://mariadb.com/kb/en/library/mysql_tzinfo_to_sql/

Not sure what that means for your containers. On my systems I had to import them with:
`mysql_tzinfo_to_sql /usr/share/zoneinfo | mysql -u root -p mysql`

You can check if they are pre-filled by connecting to the Mysql shell and then `select * from mysql.

[2019-12-15 20:10] Schrolli91 commented on #54
thanks for this information... we will check that and put it into the start script if necessary

[2019-12-16 17:23] #26 closed, assigned to nobody

[2019-12-16 17:23] #42 closed, assigned to nobody

[2019-12-17 13:41] tobybatch commented on #54
@kevinpapst Thank Kev.  I just checked and new mysql containers automatically populate that.

[2019-12-17 13:41] #54 closed, assigned to nobody

[2019-12-17 14:13] kevinpapst commented on #54
Thats good, lets me hope that I will not receive dozend of support requests ^^

[2019-12-19 17:17] timlegge opened #55 "[BUG] LDAP not supported in latest docker version"
**Describe the bug**
LDAP not supported in latest docker version

**To Reproduce**
Steps to reproduce the behaviour:
1. Start the container '...'
2. fails to start
3. review logs
4. See error

kimai_1    | [19-Dec-2019 17:09:29] NOTICE: PHP message: PHP Warning:  PHP Startup: Unable to load dynamic library 'l                  dap.so' (tried: /usr/local/lib/php/extensions/no-debug-non-zts-20180731/

[2019-12-20 07:56] Schrolli91 commented on #55
Hello

Thanks for your report. I will take a look at this problem during the weekend.

[2019-12-20 15:08] tobybatch commented on #55
@timlegge Have you tried the 1.6 tags?  We re-factored the build process and LDAP may have been missed in the 1.5 tag.  I'll try to rebuild it now.

[2019-12-20 15:31] tobybatch commented on #55
Looks like the FPM image is missing a library.  I'm fixing it now.

[2019-12-20 19:49] timlegge commented on #55
@tobybatch I noticed the refactoring...  I had not looked back at the repo since I started with an earlier version.  I finally got everything working with the prior version so I figured on a easy upgrade.  It was not :-( .  Thanks for looking and adding the libraries I will test it out and try again.

[2019-12-22 18:07] tobybatch commented on #55
@timlegge Sorry still no working in current builds.  I'll fix it over xmas

[2019-12-22 18:17] tobybatch opened #58 "[BUG] LDAP Libs won't build in the alpine container"
**Describe the bug**
LDAP Libs won't build in the alpine container

**To Reproduce**

Check out ```bugfix/fpm-ldap-library-ext```

Build the FPM dev container:
 1. ```docker build -t test-fpm --build-arg BASE=fpm-alpine --target=base .```
 2. ```docker run --rm -ti --entrypoint "/bin/sh" test-fpm:latest```
 3. ```php -m```
 4. No LDAP module

Build the debian container
 1. ```docker build -t test-

[2019-12-22 18:59] tobybatch commented on #55
Working on it #58

[2019-12-22 20:14] tobybatch commented on #58
Figured it out, sorry false alarm.

[2019-12-22 20:14] #58 closed, assigned to tobybatch, Schrolli91

[2019-12-23 14:26] yayitazale commented on #48
Still gettin this error. ¿Any clue?

[2019-12-31 15:09] tobybatch opened #60 "[BUG] Zend\Ldap is missing"
**Describe the bug**
The ```zend-ldap``` is missing.  I have added it to the Dockerfile but it's not there when I start the container.  I'm at a loss as to why, can you point out my stupid mistake please?

**To Reproduce**
Steps to reproduce the behaviour:
 1. ```git fetch && git checkout bugfix/fpm-ldap-library-ext```
 2. ```docker build -t kimai/kimai2:apache-debian-1.6.2-dev --build-arg BASE=ap

[2019-12-31 15:22] kevinpapst commented on #60
Just a blind guess ... does `php -m|grep ldap` report something in the box?

Afaik you can ONLY install the composer dependency (as seen at
https://github.com/tobybatch/kimai2/blob/bugfix/fpm-ldap-library-ext/Dockerfile#L228)
when the php ldap extension is loaded.

Probably wrong order of installation?
First composer then ldap module => failure.
First ldap module, then composer => success?

[2020-01-02 15:17] AlxBe opened #61 "[BUG] invoices are not shown - timesheet entries are not shown in calender"
**Describe the bug**
I implemented the kimai2 docker infrastructure based on your docker images/builds. Thank you for that. To access the containers I implemented a nginx reverse proxy in front of it (see docker-compose.yml and app.conf - the nginx proxy conf).
Everything works fine (export - all variations) except the invoice generation. The invoice generation does nothing (calls "https://zeit.xx

[2020-01-03 08:58] tobybatch commented on #60
@kevinpapst Yes the ldap extension is there.  If I manually install the composer module it works, it's a blonde error in the container set up like being in the wrong folder

[2020-01-03 10:05] tobybatch commented on #61
I will take a look but this may be an issue for kimai app itself,

[2020-01-03 10:07] tobybatch commented on #60
@kevinpapst There is a warning about the Zend LDAP Package.  I'm raising you a PR to switch to laminas/laminas-ldap.  Where is documentation generated from? I can't see it in the repo.

[2020-01-03 11:53] kevinpapst commented on #60
@tobybatch https://github.com/kimai/www.kimai.org/blob/master/_documentation/ldap.md

[2020-01-03 22:21] Schrolli91 commented on #60
Maybe you have to change the order?
[code]
so first install the ldap tools and after that do the normal composer install?
Idk if that will help us, but maybe the composer install also need the tools for a correct install?

[2020-01-03 22:28] kevinpapst commented on #60
That wouldn't help, as Composer would install everything that is not yet installed before.

Are you sure that the ldap extension is available and loaded when you install the composer packages? Yes, it looks so from the Dockerfile, as base is built before prod... can you share the build output?

[2020-01-08 20:24] tobybatch commented on #60
@kevinpapst the output is very big, checkout this repo and run:

    docker build -t kimai/kimai2:apache-debian-1.6.2-dev --build-arg BASE=apache-debian --target=dev --no-cache .

To start the container without running the app, so you can look around:

    docker run -ti --user=root --entrypoint=/bin/bash kimai/kimai2:apache-debian-1.6.2-dev

And to run it with the app started and ldap configured

[2020-01-08 20:32] tobybatch commented on #60
It looks like it's working now with the Laminas driver.  I'll set up a valid ldap source and retry

[2020-01-08 21:31] tobybatch commented on #60
w00t! fixed for apache-debian, I'll do a set of builds for fpm too

[2020-01-08 22:30] kevinpapst commented on #60
That is really weird. It works with the Laminas package, but not the Zend composer package?
I assume you are using a patched Kimai branch?

[2020-01-10 11:38] tobybatch commented on #60
No, there is a bridging package that handles it for us (for now).  I'll raise you a PR soon.

[2020-01-10 15:08] RPHr5TyZ opened #63 "Building nginx ERROR: Cannot locate specified Dockerfile: Dockerfile"
docker-compose up results in

Building nginx
ERROR: Cannot locate specified Dockerfile: Dockerfile

docker-compose.yml
version: '3.5'
services:

  sqldb:
    image: mysql:5.7
    environment:
      - MYSQL_DATABASE=kimai
      - MYSQL_USER=kimaiuser
      - MYSQL_PASSWORD=kimaipassword
      - MYSQL_ROOT_PASSWORD=changemeplease
    volumes:
      - /var/lib/mysql
    command: --default-storage-eng

[2020-01-10 15:33] tobybatch commented on #63
@RPHr5TyZ Which folder was your cli in when you ran this please?

[2020-01-10 16:51] RPHr5TyZ commented on #63
@tobybatch I was in my home directory.

[2020-01-10 18:34] tobybatch commented on #63
so you will need to relativity pathed to the docker file that builds the nginx container, or you will need to move the Dockerfile and other deps to the correct relative directories.

Try running this from the root of the checked out repo

or copy compose/nginx_site.conf and compose/Dockerfile to your home space and changing the line ```build: compose``` to ```build: .```

[2020-01-10 22:13] RPHr5TyZ commented on #63
Kimai is up now! I have to elaborate a bit more. The content of the kimai2 directory was wrongly cloned from the kevinpapst repo. After I cloned from your repo everything went fine. Sorry for the confusion.

Yet credentials superadmin /changeme123 won't let me login...

[2020-01-10 22:23] RPHr5TyZ commented on #63
changemeplease did a better job!

[2020-01-12 19:39] tobybatch commented on #63
OK, good news.  Was that password miss documented somewhere?

[2020-01-12 19:40] #60 closed, assigned to Schrolli91

[2020-01-13 08:05] tobybatch commented on #48
We have rebuilt the whole architecture.  Could you try again please?

[2020-01-13 09:00] yayitazale commented on #48
Same result.

[2020-01-13 09:13] #55 closed, assigned to nobody

[2020-01-14 16:46] urinal-cake opened #64 "[BUG] Additional properties are not allowed ('start period' was unexpected) when using docker-compose"
This may not fully be a bug, but instead a case of User Error. However, if it's not, then the issue I'm running into may be remedied with better instructions.

**Describe the bug**
When starting the docker containers with the command 'docker-compose up -d' docker states that the docker-compose file is invalid because all three services with healthcheck parameters defined in the docker-compose, hav

[2020-01-14 16:52] urinal-cake opened #65 "[BUG] Exception\SuspiciousOperationException: Untrusted Host"
Again, this may be an issue with my lack of reading documentation properly, or not having the correct setup. Are there pre-requisites that I'm not aware of? Does the docker-compose properly take care of downloading and handling nginx?

**Describe the bug**
After starting the docker containers with the command 'docker-compose up -d' and navigating to the IP of the host that has kimai installed, the

[2020-01-14 20:26] urinal-cake commented on #64
This no longer occurs if you modify the docker-compose version to 3.4
Does that mean that this docker-compose setup for kimai doesn't support 3.5?

[2020-01-14 22:06] urinal-cake commented on #65
I had another developer that found that if you change
`- TRUSTED_HOSTS=localhost,theIpOfYourHost`
then it will work

[2020-01-15 05:44] tobybatch commented on #65
@urinal-cake you are completely correct it's due to the trusted hosts setting.  I'll create a bug to cover this and see if we can document it better.

[2020-01-15 10:23] Schrolli91 commented on #64
https://docs.docker.com/compose/compose-file/#healthcheck

maybe to old docker-compose version?
https://github.com/docker/compose/releases/tag/1.17.1

Compose file format | Docker Engine
-- | --
3.3 – 3.4 | 17.06.0+
3.0 – 3.2 | 1.13.0+
2.3 | 17.06.0+
2.2 | 1.13.0+
2.1 | 1.12.0+
2.0 | 1.10.0+
1.0 | 1.9.1+

[2020-01-15 11:22] asawatzki opened #66 "[BUG] Pagination does not work"
**Describe the bug**
The pagination does not work.

**To Reproduce**
Steps to reproduce the behaviour:
1. clone repo
2. change kimai version from 1.5 to 1.6
3. run docker-compose
4. add more than 51 activities to generate a button for page 2
5. click button to change to page 2
6. error: page does not change

**Desktop (please complete the following information):**
 - OS: Windows 10 Pro
 - Docker v

[2020-01-15 11:24] kevinpapst commented on #66
Anything inside the javascript console of your browser?
What does the network tab say? Is there a request going out and what is the response?

[2020-01-15 11:30] asawatzki commented on #66
The js console is empty.
In the network tab is one event:

**request headers**
[code]

**response headers**
[code]

EDIT:
formatted some stuff

[2020-01-15 12:31] kevinpapst commented on #66
Do the regular search filters work? Most of the search forms use GET params as well...

[2020-01-15 12:43] asawatzki commented on #66
Unfortunately not. Neither the sorting nor the search works.
The js console is still empty.
In the network tab appears many event (mostly documents like svg, woff2, etc) and these two:

**request**
[code]

**response**
[code]

and:
**request**
[code]
**response**
[code]

[2020-01-15 12:59] kevinpapst commented on #66
Thanks @asawatzki for the feedback.
This is a very likely a configuration issue in nginx.
There was recently a user in the Kimai issue tracker who had a similar problem.
I couldn't find the issue quickly, but it was in the last 14 days.

@tobybatch and @Schrolli91 he mentioned that the GET params weren't passed to PHP/Symfony. I can only assume, but maybe an issue with the fastcgi params definitio

[2020-01-15 13:13] asawatzki commented on #66
You are very welcome. Let me know if you need more support.

[2020-01-15 23:50] stevenhrabok commented on #61
Hi @tobybatch, I'm experiencing the same issue (when preview or print invoice).

I attempted to look at the kimai and nginx container logs and it seems we only see HTTP 200's.
When I click Preview I get `http://mykimaihost:8001/en/invoice/?searchTerm=&daterange=2020-01-01+-+2020-01-31&customer=1&project=1&activity=1&users%5B%5D=1&tags=&exported=1&template=1&preview=`
When I do print I get `http://

[2020-01-15 23:54] kevinpapst commented on #61
@stevenhrabok can you please test some POST forms (edit/create something). Do they work?
Now test some forms that utilize GET parameter (eg. search, invoice, pagination). Do they work?
I'd say #66 is related.

[2020-01-16 08:22] tobybatch commented on #61
@Schrolli91 have you time to look at this?  It could be nginx an forwarding issue, and I'm slammed at work right now.

[2020-01-16 16:12] stevenhrabok commented on #61
@tobybatch Found the fix, attempted to submit a branch with PR, but didn't have permission.

https://github.com/tobybatch/kimai2/blob/master/compose/nginx_site.conf#L14

needs to be changed to `try_files $uri $uri/ /index.php$is_args$args;`

the missing `$is_args$args` was causing the uri arguments to be lost.

[2020-01-16 16:18] kevinpapst commented on #61
@stevenhrabok awesome, nice finding! I looked through it, but didn't spot it.
FYI - you have to fork the repository, then create the branch, do your changes, push the branch. Now you can create a PR
<img width="1086" alt="Bildschirmfoto 2020-01-16 um 17 16 57" src="https://user-images.githubusercontent.com/533162/72542262-22dd7a00-3884-11ea-8473-e48c5cb68b87.png">

[2020-01-16 18:29] tobybatch commented on #61
Top work, thanks you.  I'll get that fix in place over the weekend

[2020-01-16 19:00] Schrolli91 commented on #61
ok - I'm too late :-D
@stevenhrabok thank you for your investigations

[2020-01-17 00:12] vvirehead opened #67 "[BUG] Unable to load dynamic library 'ldap.so'"
**Describe the bug**
Clean installation reports LDAP missing:

[code]

**To Reproduce**
Steps to reproduce the behaviour:
1. pull the repo
2. run docker-compose up
3. observe error in console

**Desktop (please complete the following information):**
 - OS: Ubuntu 18.0.4
 - Docker version: 19.03.1
 - Docker compose version: 1.22.0

**Command used to run the container**
 - `docker-compose up`

**Doc

[2020-01-18 16:18] AlxBe commented on #61
Perfect! Thank you very much.

[2020-01-19 16:08] kevinpapst commented on #48
The initial error comes up, because you run Kimai with a version that expects certain database tables/fields, but they are missing. That is very likely, becuase the migration status is your db is wrong.

You already have that migration: https://github.com/kevinpapst/kimai2/blob/master/src/Migrations/Version20190730123324.php
But this one is likely missing:
https://github.com/kevinpapst/kimai2/blob

[2020-01-21 00:25] urinal-cake commented on #67
Getting this as well in my logs.
OS: Ubuntu 18.0.4
Docker version: 19.03.5
Docker compose version: 1.17.1

[2020-01-21 15:29] #63 closed, assigned to nobody

[2020-01-21 15:44] tobybatch commented on #67
@urinal-cake @g-mike This is fixed in the latest builds.  I have checked for sure in the 1.7 image.

[2020-01-21 15:45] tobybatch commented on #48
Did Kevin's fix work for you?

[2020-01-21 15:46] tobybatch commented on #66
Duplicate #61

[2020-01-21 15:46] #66 closed, assigned to nobody

[2020-01-21 15:47] #65 closed, assigned to nobody

[2020-01-21 15:49] tobybatch opened #68 "[FEATURE] Better docs for trusted hosts"
**Is your feature request related to a problem? Please describe.**
We need better explanation of how to set trusted hosts so there isn't a security error

**Additional context**
See #65

[2020-01-21 16:24] yayitazale commented on #48
It doesn't work. It says error while executing the command and the result is the same error again with the new version.

[2020-01-21 17:49] vvirehead commented on #67
Error is gone from the logs now, thanks!

[2020-01-21 17:49] #67 closed, assigned to nobody

[2020-01-21 17:54] kevinpapst commented on #48
What is "it"? Without command output no help is possible.

[2020-01-21 19:39] vvirehead opened #69 "[BUG] Error 500 when using local.yaml mounted inside container"
**Describe the bug**
Using local.yaml causes kimai to return error 500 in browser.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `docker-compose up` with docker-compose.yml as configured below
2. Run `docker exec -u root -it CONTAINER_NAME /bin/sh` and change group and owner of local.yml to www-data
3. Load page in browser to get error 500

**Desktop (please complete the following info

[2020-01-21 19:41] kevinpapst commented on #69
Anything in /opt/kimai/var/log/prod.log?

[2020-01-21 19:42] vvirehead commented on #69
it's in the description

[2020-01-21 19:46] vvirehead commented on #69
Webpage returns this information:
```A critical error occurred, please try again. You may have found a software problem, please contact your administrator if the problem persists.```

[2020-01-21 19:47] kevinpapst commented on #69
Oh true... 😁 But why would the cache directories have suddenly wrong permissions when you add a local.yaml? Sounds like docker magic and not Kimai itself ...

[2020-01-21 19:52] vvirehead commented on #69
```docker exec --user root CONTAINER_NAME chown -R www-data:www-data /opt/kimai/var``` fixed the bug, but it looks like I have to run it each time I modify local.yaml / clear / warmup cache outside container.

[2020-01-21 19:57] vvirehead commented on #69
After fixing initial bug LDAP is still not working:

/opt/kimai/var/log/prod.log
[code]

And web interface returns Invalid Credentials.

I can, however, login with superadmin.

How can I trace LDAP logs?

[2020-01-21 20:05] kevinpapst commented on #69
All errors sounds suspicious. The `"Untrusted Host "nginx".` message was IMO recently discussed in this repo, check the other issues. Maybe the other error is just a follow up.

You can turn on development mode to see more logs, that requires a reinstall of composer packages. I guess you should better use the dev version of the docker images for that.

[2020-01-21 20:07] vvirehead commented on #69
I'm using nginx as a reverse proxy, maybe that's the cause?

On Tue, Jan 21, 2020, 21:05 Kevin Papst <notifications@github.com> wrote:

[2020-01-22 07:03] yayitazale commented on #48
`ERROR     [console] Error thrown while running command "doctrine:migrations:version --add --all". Message: "Environment variable not found: "DATABASE_PREFIX"." ["exception" => Symfony\Component\DependencyInjection\Exception\EnvNotFoundException { …},"command" => "doctrine:migrations:version --add --all","message" => "Environment variable not found: "DATABASE_PREFIX"."]`

[2020-01-22 08:18] tobybatch commented on #69
@g-mike let me just try and replicate this here.

[2020-01-22 08:24] tobybatch opened #70 "[FEATURE] Add trusted hosts at run time"
**Is your feature request related to a problem? Please describe.**
Trusted hosts need to be set if a reverse proxy is used

**Describe the solution you'd like**
Set the trusted host at run time

**Describe alternatives you've considered**
Mandate the name of the nginx conatiner

**Additional context**
#69 #68

[2020-01-22 08:55] tobybatch commented on #61
@Schrolli91 Can you fix this please?  I'm a nginx n00b and I can seem to get it to work.

[2020-01-22 10:06] Schrolli91 commented on #61
@stevenhrabok can you please take a look at the PR #71

atm i'm not able to test these changes properly - should be confirmed before we'll merge this to the master branch

[2020-01-22 11:39] vvirehead commented on #69
I run dev image and also set environment to dev, than resolved the issues with LDAP.
I'm still getting some errors in prod but I can login with LDAP now with group assignment.

Perhaps the logs are made by the healthcheck in docker-compose.yaml?

[code]

Production log below:
<details>
<summary>prod.log</summary>

[code]
</details>

[2020-01-22 11:49] kevinpapst commented on #69
These errors are not normal. Probably outdated composer dependencies.

[2020-01-22 12:19] vvirehead commented on #69
How can I update composer dependencies? Is it caused by the system I use specifically or is it something that developer should update?
Either way kimai seems to work fine.

Kudos to developers :) 🎩

[2020-01-22 15:48] timlegge opened #72 "[FEATURE] Add docker compose information for secure ldap"
**Is your feature request related to a problem? Please describe.**
The default config is usable with LDAP as long as you do not enable ssl or tls.  With that enabled via a local.yaml setting useSsl: true or useStartTls: true you will have issues with verifying the ssl key of the server (if it is signed by a non public root)

**Describe the solution you'd like**
Add the following commented out opti

[2020-01-22 16:07] timlegge opened #73 "[BUG] kimai/kimai2:fpm-alpine-1.7-prod not version 1.7"
**Describe the bug**
kimai/kimai2:fpm-alpine-1.7-prod does not appear to be version 1.7 of kimai2

**To Reproduce**
Steps to reproduce the behaviour:
1. Start the container '...'
2. check /opt/kimai/src/Constants.php
3. version stil 1.6.2

[2020-01-22 16:16] kevinpapst commented on #69
Check the update docs.
But actually I thought the prod docker would do that automatically.
I am not sure about the reason for this problem.
Go to "Doctor" in the left menu, you will find a listing of installed "Composer packages".

Compare that with the "latest stable" demo:
https://demo-stable.kimai.org/en/doctor

Find demo users at https://www.kimai.org/demo/

[2020-01-22 17:08] rabidllama opened #74 "[BUG] Cannot search, filter or order tables"
**Describe the bug**
Hi, it might be that I have missed something in the setup stage with docker-compose, but I can't seem to filter or sort any entries in lists. If I click on one of the headers, or search for text then nothing happens. However, if I it as per the evaluation instructions (using the Docker command rather than docker compose), things work as expected. The only thing that I have cha

[2020-01-22 17:13] kevinpapst commented on #74
This is vey likely the fix: https://github.com/tobybatch/kimai2/pull/71/files#diff-5bcf1b5695cb99fcfed866e55e25b3c7R23

[2020-01-22 17:32] Schrolli91 commented on #74
yes that should be the solution
duplicate of #61
please take a look at #71

[2020-01-22 17:32] #74 closed, assigned to nobody

[2020-01-22 17:41] Schrolli91 commented on #73
@tobybatch
 i think the Kimai version build-ARG is missing here
https://github.com/tobybatch/kimai2/blob/1d2210d8b3f95995d1a1a273536d71405964ddc3/bin/build.sh#L32

without the ARG the dockerfile will always build the default - see
https://github.com/tobybatch/kimai2/blob/1d2210d8b3f95995d1a1a273536d71405964ddc3/Dockerfile#L17

[2020-01-23 08:05] rabidllama commented on #74
Great thanks :)

I just checked out the fix branch and did the docker-compose with that and everything now seems to work as expected.

[2020-01-23 08:47] Schrolli91 commented on #61
closed because PR is on the way

[2020-01-23 08:47] #61 closed, assigned to Schrolli91

[2020-01-24 18:17] vvirehead commented on #69
Yes, I see many outdated packages - how can I fix this problem?

The most notorious example is this one:

[code]

[2020-01-24 21:05] kevinpapst commented on #69
Hm, which Kimai are you running?
Are you using 1.7 (check `bin/console kimai:version`).
You could run `composer install --no-dev --optimize-autoloader`, but honestly I would try to find the reason instead, as docker should do all that for you, shouldn't it @tobybatch ?

[2020-01-24 21:22] Schrolli91 commented on #69
all the composer packages should be pre installed into the container - not on startup but on build time of the image

[2020-01-27 09:59] Schrolli91 commented on #73
should fixed with #75

[2020-01-27 09:59] #73 closed, assigned to nobody

[2020-01-27 12:48] vvirehead commented on #69
1. I cloned master from this repo
2. Adjusted docker-compose for reverse-proxy and local.yml mounted locally
3. I run docker-compose up

I recently updated all ubuntu packages including docker, pulled this kimai repo and run build with same configs as posted above - with same results.

[code]

@kevinpapst - I did run `composer install --no-dev --optimize-autoloader` inside containers /opt/kimai/ d

[2020-01-27 12:50] kevinpapst commented on #69
Running the composer update most certainly changed permissions.
The latest fix in master (just a couple of minutes old) allows you to build specific versions. The old version probably didn't install 1.7.
Can you retry with the latest master?

[2020-01-27 13:02] vvirehead commented on #69
Ok, I did:
1. `docker-compose down --volumes --rmi all --remove-orphans`
2. `git pull` leaving only custom local.yml and modified docker-compose.yml
3. run `docker-compose up --build`

I still get exactly the same results in doctor.

[2020-01-27 13:04] kevinpapst commented on #69
Maybe @Schrolli91 or @tobybatch can help you better.
The build.sh was adjusted, don't know how this is exactly related.

[2020-01-27 13:14] vvirehead commented on #69
@kevinpapst is there a way I can mount whole `/opt/kimai` locally?

I would like to have it running with those issues right now and have a way of making backups easily until this problem is fixed.

[2020-01-27 13:53] tobybatch commented on #69
You should be able to mount a working kimai into the container by using adding the mounted directory as a volume.  I've not tested this.

Change the nginx and kimai entries in the docker-compose.yml to mount the local kimai folder:

[code]

[2020-01-27 16:27] vvirehead commented on #69
[code]
I tried this, also without `public`, tried running default `docker-compose.yml` and copying files from inside contaier to the local files system without luck.

I've changed permissions as instructed: `docker exec --user root kimai_kimai_1 chown -R www-data:www-data /opt/kimai/var` - but that didn't help.

Is there a reliable way to locally mount volumes?

[2020-01-27 16:56] urinal-cake opened #76 "[BUG] "ERROR [internal/git-dev 1/2] FROM registry/image-name:version" when running build"
**Describe the bug**
In an attempt to build a local image of kimai2 on the **saml** branch, I am running the build.sh script inside of the bin folder. Having only made changes to the nginx.conf file and docker-compose file, after running `sudo bin/build.sh saml` from the tobybatch/kimai2 local directory, a number of errors are produced.

**To Reproduce**
Steps to reproduce the behaviour:
1. Clone

[2020-01-27 17:23] vvirehead commented on #69
Aside from mounting volumes, I verified that I do not have version 1.7 installed

I'm not sure which version was previously installed, but logs showed that I've just updated to 1.6:

I. Update
1. I logged in to container shell with `docker exec -u root -it CONTAINER /bin/bash`
2. I run `composer clearcache`
3. I run `composer upgrade`
4. I run `composer install --no-dev --optimize-autoloader`
5. I

[2020-01-27 17:58] urinal-cake commented on #76
I may have identified the user error, I believe this host was out of space.

[2020-01-27 18:06] vvirehead commented on #69
It looks like the example docker from the main page is using 1.5 tag 🤦‍♂

I changed it inside docker-compose to `fpm-alpine-1.7-prod` and fpm-alpine-master-prod` but it resulted in the same error that I reported previously, so I ran instructions from update manual: https://www.kimai.org/documentation/updates.html

<details>
<summary>Upgrade log</summary>

[code]
</details>

I could log in after ch

[2020-01-27 18:21] urinal-cake commented on #76
Okay, not quite. On the host, I cleared the space down to 80% availability. I did this by pruning all images, all volumes, and clearing all builder cache.

After this, running bin/build.sh has the same effect.

While exploring, I thought to echo the result of the `bin/build.sh` file. From the four it produced by not giving it any parameters, I ran this line:
`docker build --no-cache -t kimai/kimai

[2020-01-27 18:53] vvirehead commented on #69
Ok, I got one thing fixed:

[code]

Above healthchecks with default config were causing this error:

[code]

Correct configuration is to swap `nginx` with whatever TRUSTED_HOST you've entered, ie `yourdomain` :

[code]

This way I got my prod.log clean. Hope this helps anybody.

Also @tobybatch perhaps it's worth considering adding some additional info about docker-compose configuration?

This sti

[2020-01-27 19:55] Schrolli91 commented on #76
on which platform are you trying to build the kimai image?

[2020-01-27 20:12] tobybatch commented on #76
@urinal-cake That built just fine on my Ubuntu 18.04 box.

[2020-01-27 21:32] kevinpapst commented on #69
Does it work or do you have any visible bug?
I have never tested all features with docker, so maybe maybe maybe the composer information check is simply broken in the docker environment.

[2020-01-27 21:34] kevinpapst commented on #70
Please consider the same for TRUSTED_PROXIES (which is currently missing in the README).

[2020-01-27 21:35] kevinpapst commented on #68
Repost: please also for TRUSTED_PROXIES

[2020-01-28 08:37] tobybatch commented on #72
@timlegge Feel free to add this in PR.  You are an active participant in the project and we could use the help keep things up to date.  Also this could do with being added to the base Kimai repo too.

[2020-01-28 08:38] tobybatch commented on #64
bump.  This is a docker compose version issue.  So it's a won't fix.

[2020-01-28 08:38] #64 closed, assigned to nobody

[2020-01-28 08:39] tobybatch commented on #48
@yayitazale We have had big refactor over xmas.  Could you please pull a new version and retry please.

[2020-01-28 18:18] urinal-cake commented on #76
I'm working to try this again very soon, but once the alpine-master-prod image built, I had what I needed to conduct some testing.

[2020-01-29 11:41] yayitazale commented on #48
Same result.

I have launched 0.8 first and executed the command, the first time the results is this:

[code]

And I get kick out of the containers bash.

If I try again the same command this is the result:
[code]

After that error launching the apache-debian-master-prod version gives me the same log result and 500 error on the login page:

[code]

I'm trying to edit the .env file to modify the DA

[2020-01-29 11:50] tobybatch commented on #48
Not the greatest answer but if you connect as root you can edit the .env file

    docker exec -ti --user root NAME bash

[2020-01-29 11:55] kevinpapst commented on #48
As both of your tries failed, the outcome was expectable.
Try `DATABASE_PREFIX=kimai2_ bin/console doctrine:migrations:version --add --all`, but I am not sure if the underscore is part of the prefix

[2020-01-29 11:58] yayitazale commented on #48
[code]

[2020-01-29 12:00] yayitazale commented on #48
Same result with and without underscore

[2020-01-29 12:02] kevinpapst commented on #48
Never seen an error like that, but the internet knows more:
https://zeshankhattak.com/posts/pdo-construct-unexpected-server-respose-while-doing-caching-sha2-auth-109

[2020-01-29 12:47] yayitazale commented on #48
Same error...

ERROR     [console] Error thrown while running command "doctrine:migrations:version --add --all". Message: "An exception occurred in driver: SQLSTATE[HY000] [2006] MySQL server has gone away" ["exception" => Doctrine\DBAL\Exception\DriverException { …},"command" => "doctrine:migrations:version --add --all","message" => "An exception occurred in driver: SQLSTATE[HY000] [2006] MySQL s

[2020-01-29 14:31] yayitazale commented on #48
I also changed the timeout value to a bigger one in the mysql with no effects on the result.

[2020-01-29 16:16] tobybatch commented on #70
Closed by #78

[2020-01-29 16:16] #70 closed, assigned to tobybatch

[2020-01-29 16:17] tobybatch commented on #68
Closed by #78

[2020-01-29 16:17] #68 closed, assigned to nobody

[2020-01-29 16:21] tobybatch commented on #48
@yayitazale Can you install get the 0.8 version of Kimai running on a native (non-contaner) host?

Then run the upgrade please.  Lets see if it's the container or the state of the DB.

[2020-01-29 19:17] vvirehead opened #79 "[BUG] css and images wont load in mobile"
**Describe the bug**
Web interface doesn't load css and images on mobile.

Developer Console in Chrome returns (redacted):
```Failed to find a valid digest in the 'integrity' attribute for resource 'https://PUBLIC_DOMAIN/build/app.8240996d.css' with computed SHA-256 integrity '############################################'. The resource has been blocked.```

The problem doesn't occur when displayin

[2020-01-29 19:20] vvirehead commented on #69
@kevinpapst another issue popped out when I released it to actual production:
https://github.com/tobybatch/kimai2/issues/79

As I recall it worked when I used `image: kimai/kimai2:fpm-alpine-1.5-prod` - but then I had those errors with outdated composer libs.

Issue #79 happened with image: `kimai/kimai2:fpm-alpine-1.7-prod` and correct composer libs (aside from kimai)

[2020-01-30 07:21] yayitazale commented on #48
I think i'm going to start a fresh install...

[2020-01-30 09:09] kevinpapst commented on #48
You just need to get these numbers into the database `migration_versions`:
<img width="401" alt="Bildschirmfoto 2020-01-30 um 10 07 50" src="https://user-images.githubusercontent.com/533162/73435143-61753900-4348-11ea-8a98-b46baa097a80.png">
Not all of them, but the correct ones... they map to the files in the directory src/Migrations/

If one fails (eg because the datable already exists) then add

[2020-01-30 09:18] kevinpapst commented on #48
The teams table was added with Kimai 1.2 which I don't understand why you are using 0.9... but thats another topic. So the table kimai2_teams is created with Migration "Version20190730123324" so you need at least all until this one in the tables:
[code]
The next ones might be necessary to be executed by the upgrader (don't import them at first!). Run the upgrade script after executing the above SQ

[2020-01-30 09:54] yayitazale commented on #48
I was using the 0.8 becauce you told

Running the migration from 1.2 worked without adding any version manually...

Sorry about my ignorance abut SQL and doctrine...

Thank you two for your time and help.

[2020-01-30 09:57] kevinpapst commented on #48
Ahhhhhhh ... it was the word "original" that caused all the extra work?
Communication via text is so confusing sometimes 😁 glad it works now.

[2020-01-30 09:57] #48 closed, assigned to nobody

[2020-02-01 01:36] timlegge commented on #39
@Schrolli91 what docker version seems to fix this?

[2020-02-01 07:25] Schrolli91 commented on #39
All versions over 19.## should work ...
We found version 18.09.7 to be problematic, but we didn't investigate why

we've tested 19.03.2 and 19.03.3 successfully

[2020-02-03 15:32] timlegge opened #81 "[BUG] fpm-alpine-master-prod is not latest master"
**Describe the bug**
fpm-alpine-master-prod is not latest master.  I would expect that fpm-alpine-master-prod would be the latest master version, not the version that was created when the image was last created.

**To Reproduce**
Steps to reproduce the behaviour:
1. docker pull kimai/kimai2:fpm-alpine-master-prod
2. Start the container '...'
3. check the version

**Desktop (please complete the fol

[2020-02-03 19:56] Schrolli91 commented on #81
Problem is, that we want to ship pre-build images.
If we fetch the source on Container start we need a lot more tools inside the container (container size) and that consumes a lot more time to start up the container (composer install ...)

@tobybatch @kevinpapst
i think its a better idea to remove the "master" image - or we have the possibility to create the master automatically on update of the o

[2020-02-03 19:59] tobybatch commented on #81
@Schrolli91 Agreed.  We remove the master tag and include build instructions.

[2020-02-03 21:51] kevinpapst commented on #81
Wait, before you delete it ... is there any chance that we build the master image automatically?
Eg. via Travis or Github actions?
I can add a trigger in the main repo or even the build script, no problem.

Maybe we can even automate the complete build and upload process for the tags as well, then no manual works is necessary when I publish a new version!?!

[2020-02-04 02:55] timlegge opened #82 "[BUG] TZ not carried through build images"
**Describe the bug**
TZ not carried through build images

**To Reproduce**
Steps to reproduce the behaviour:
1. run bin/build.sh -t 'Atlantic/Halifax'
2. start the resulting container
3. echo $TZ and verify it is incorrect

**Desktop (please complete the following information):**
n/a

**Command used to run the container**
n/a

**Docker compose file (with passwords redacted)**

n/a

**Additional co

[2020-02-04 02:59] timlegge opened #83 "[FEATURE] Add build options for flexibilty"
**Is your feature request related to a problem? Please describe.**
The build is fine for creating all images but to create one has no options.  Also, DOCKER_BUILDKIT is incompatible with some docker versions so allow it to be overidden

**Describe the solution you'd like**
Add options to specify the BASE, STAGE and to disable the DOCKER_BUILDKIT

**Describe alternatives you've considered**
hacking

[2020-02-04 08:53] Schrolli91 commented on #81
i think that should be possible - idk how @tobybatch is building the images atm (by hand/automated)

[2020-02-04 08:55] tobybatch commented on #81
<shame face>By hand</shame face>

After @Schrolli91 updated or build process so the super new faster better way I hadn't travis'd it yet.

I will do, @kevinpapst  we may want a web hook from you on merges/pushes.

[2020-02-04 08:56] Schrolli91 commented on #82
see PR #84

[2020-02-04 08:56] #82 closed, assigned to nobody

[2020-02-04 08:56] Schrolli91 commented on #83
see PR #84

[2020-02-04 08:56] #83 closed, assigned to nobody

[2020-02-06 12:57] timlegge commented on #76
Hi

I did the build for master off of the options_and_fixes branch of https://github.com/timlegge/kimai2-1.git PR #84 on Ubuntu 19.02

[2020-02-10 11:15] #76 closed, assigned to nobody

[2020-02-11 17:23] heeen commented on #66
I have this issue but I can't get it to work. The nginx site config does not represent the file form the repo:

[code]

I tried docker-compose stop, docker-compose rm, docker system purge --volumes, nothing makes it update

[2020-02-11 17:29] tobybatch commented on #66
@heeen Can you open a fresh issue please?  We need information about which images you are using etc.

[2020-02-11 17:55] heeen opened #86 "[BUG] nginx configuration is not mounted"
**Describe the bug**
the nginx site config is not mounted correctly into the container

**To Reproduce**
Steps to reproduce the behaviour:

docker-compose stop
docker-compose rm
docker system purge --volumes
docker-compose up
[code]
**Desktop (please complete the following information):**
 - OS: Ubuntu 18.04.3
 - Docker version: 19.03.5, build 633a0ea838
 - Docker compose version: 1.25.1-rc1, buil

[2020-02-11 17:57] heeen commented on #86
I have a local checkout where it works:
[code]
but I can't get it to work on my web host

[2020-02-11 18:29] heeen commented on #86
Ok so I found the solution: I had to run `docker-compose build` . I was under the impression that volumes were always bind-mounted into the container when in this case you had to do the build step.

[2020-02-11 18:39] heeen commented on #86
someone on #docker mentioned that the issue might be multiple volumes directive, and if the file is supposed to be bind-mounted, all volumes should go under one directive

[2020-02-11 21:52] Schrolli91 commented on #86
I saw the same problem a few days ago - but I don't really understand what's going on here

[2020-02-12 06:38] JustTheSame opened #87 "[ERROR] Importing CSV data error"
I want to import my csv data into Kimai system.

I run the Kimai system via docker-compose
[code]
and I enter the docker container
[code]

**My CSV file like this**
[code]

**Then run command**
[code]
`Kimai.csv` is my CSV data file.

**Then I got error messages**
[code]
Could you tell me how I can import data from my csv file.

[2020-02-12 06:56] Schrolli91 commented on #87
That looks like a non docker-image related issue - so you should ask in the official kimai repo
maybe @kevinpapst can say something.

[2020-02-12 09:57] kevinpapst commented on #87
And you have a user that is called "anna_admin"?

[2020-02-13 00:40] JustTheSame commented on #87
@kevinpapst
Thanks.
I really didn't create this user. then I modify my command.
[code]
[code]

Now there's no problem.
I appreciate it very much.

[2020-02-13 00:40] #87 closed, assigned to nobody

[2020-02-13 12:11] NeptisPID opened #88 "Difficiluty to setup prod with Mysql"
_I am not sure if I should post this question here but anyway I try :)_

I just want to use for testing the MySQL conf (and not sqlite version).

I have tried few things by modifying the DATABASE_URL added in kimai conf in the docker-compose.yml but I can't find a way to make it work properly.

I don't really know which IP I should use in the line :
`DATABASE_URL=mysql://kimaiuser:kimaipassword@?.

[2020-02-13 13:46] tobybatch commented on #88
[code]

[2020-02-13 13:49] NeptisPID commented on #88
Thanks @tobybatch. I found out why it was not working in my testing.

The mysql docker is call : sqldb and in all my testing I was using mysql...

Thank you again.

[2020-02-13 13:49] #88 closed, assigned to nobody

[2020-02-17 10:11] tobybatch commented on #81
I've removed master from the auto build list.  I'll re-create the travis for this soon and then we can offer an auto build on master

[2020-02-17 10:11] #81 closed, assigned to nobody

[2020-02-25 09:55] #72 closed, assigned to nobody

[2020-02-26 18:20] tobybatch commented on #86
@heeen This isn't an issue with the kimai docker, it's an issue with the config to run the nginx/fpm set up.

It's been two weeks so I'm giessing this is stale, I'm going to close it.

[2020-02-26 18:20] #86 closed, assigned to nobody

[2020-02-26 18:33] tobybatch commented on #79
@g-mike Can you test this with the apache image?  I don't think it's the kimai image but the nginx set up.

    docker run -p 8001:8001 -e TRUSTED_HOSTS=MY_LOCAL_IP kimai/kimai2:apache-debian-1.7-prod

And this does load style on my Pixel 3A phone, firefox.

[2020-02-26 18:51] kevinpapst commented on #79
Maybe Cloudflare is caching assets and changing URLs, without adjusting the integrity part in eg:
[code]

I recently had a user who was running a pagespeed plugin in apache, that messed exactly like that with the asset tags.

[2020-02-26 20:56] vvirehead commented on #79
I found the problem: it's the Cloudflare's hide ip option that messes up the css

[2020-02-26 21:14] #69 closed, assigned to nobody

[2020-02-26 21:23] Schrolli91 commented on #79
So, problem is solved now? Can we close the issue?

[2020-02-27 12:57] SpoorthiPalakshaiah opened #90 "Custom field in timesheet"
I used the official document https://www.kimai.org/documentation/meta-fields.html to add custom fields.. It was working in development docker with image kimai/kimai2:dev But the same is not working in production docker with image kimai/kimai2:apache-debian-master-prod

[2020-02-27 19:52] tobybatch commented on #90
# Can you give a clear view of the evn you are using please?

**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behaviour:
1. Start the container '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Docker version: [e.g. 19.03.2]
 - Docker compos

[2020-02-28 05:20] SpoorthiPalakshaiah commented on #90
Desktop:
-> OS: iOS 10.14.6
-> Docker version: 19.03.5
-> Docker compose version: 1.25.4

Command used to run the container:
docker run -itd -p 8001:8001 --name kimai kimai/kimai2:apache-debian-master-prod

Question:
To add custom fields, Should I have files as MetaFieldSubscriber.php and MetaFieldDisplaySubscriber.php in /opt/kimai/src/EventSubscriber with contents as in documentation https://www

[2020-03-02 16:34] tobybatch opened #91 "[BUG] 1.8 Won't build"
**Describe the bug**
We need to add `requires ext-xsl` to the php build

**To Reproduce**
Steps to reproduce the behaviour:
1. ./bin/build.sh 1.8

**Desktop (please complete the following information):**
 - OS: Ubuntu 18.04
 - Docker version: Docker version 19.03.2, build 6a30dfca03
 - Docker compose version: docker-compose version 1.21.0,

**Command used to run the container**
 - N/A

**Additiona

[2020-03-02 16:35] tobybatch commented on #91
@Schrolli91 I'm on site with clients all this week, any chance you can take a look and raise a PR?  If not I'll do it next week.

[2020-03-02 16:37] kevinpapst commented on #91
Huh, I didn't know that. Thanks for the info. I will change the requirement section for my docs...

[2020-03-02 18:17] Schrolli91 commented on #91
@tobybatch i will take a look at tomorrow

[2020-03-03 21:58] Schrolli91 commented on #91
see PR - closed

[2020-03-03 21:58] #91 closed, assigned to Schrolli91

[2020-03-09 11:44] kevinpapst opened #93 "[FEATURE] Change LDAP library from zend to laminas"
Hi!

As you likely saw in the last weeks, the zend ldap packages are deprecated, because they switched the library name to laminas...

Now a user submitted PRs to fix that [in Kimai](https://github.com/kevinpapst/kimai2/pull/1530) and [the documentation](https://github.com/kimai/www.kimai.org/pull/58).

I want to integrate these changes for 1.9.

But AFAIK the docker scripts have to be changed as

[2020-03-10 18:14] sputnik73 opened #94 "[FEATURE] disable user registration"
**Is your feature request related to a problem? Please describe.**

User registration is configurable in kimai local.yaml (default enabled), I would like to disable registration: https://www.kimai.org/documentation/users.html#user-registration

**Describe the solution you'd like**

To set this option in local.yaml, an environment variable would be helpful and the easiest way to change this setting

[2020-03-11 20:59] kevinpapst commented on #93
ping @tobybatch @Schrolli91 any feedback possible?
I don't want to break your builds, but don't want to keep the PR open for too long.
Code is not like wine, it tends to get worse over time 😁

[2020-03-12 09:01] Schrolli91 commented on #93
Unfortunately, I don't know anything about ldap - so i think i'am the false person for this feature.

[2020-03-12 10:06] tobybatch commented on #93
Looks good for me.  It should just get built when the build happens.

[2020-03-12 10:06] tobybatch commented on #93
@kevinpapst Go ahead and merge the PR.  I'll test the next tagged release

[2020-03-12 10:20] kevinpapst commented on #93
I was pretty sure that you have a `composer require zendframework/zend-ldap` somewhere in your build scripts, which would have to be replaced as well... the only reason why I was bugging you ;-)
Isn't that the case anymore?

[2020-03-12 11:54] tobybatch commented on #93
I believe that is an alias to the laminas package, I'll factor it out when the core is updated.

[2020-03-12 11:56] kevinpapst commented on #93
Still a full repository:
https://github.com/zendframework/zend-ldap/blob/master/composer.json
So it will break. But okay, then lets wait for the next release.

[2020-03-19 06:15] #79 closed, assigned to nobody

[2020-03-20 17:39] moisei opened #96 "[BUG] /opt/kimai/installed doesn't exist after container is recreated"
**Describe the bug**
**startup.sh** is using file **/opt/kimai/installed** as an indication that kimai is running first time.
This way once kimai container is removed and created again, startup.sh executing kimai:install and wipes the data from the database, even if the DB is full of data.

**To Reproduce**
[code]
Note - all the data has lost.

**Additional context**
I am using the latest version

[2020-03-20 17:43] kevinpapst commented on #96
It is not the fault of `kimai:install`, as this command will NOT delete existing data.  You can run it as often as you want.

Are the database files inside the container or in a mounted directory?

[2020-03-20 18:15] moisei commented on #96
@kevinpapst database is on the mounted volume and as the matter of the fact, the data is lost every time I recreate the container. Note that startup.sh also creates superadmin user if this file doesn't exist,
[code]
so it clearly expects an empty DB in this case. if it is not ```kimai:install``` then it is something else that deletes the data. It is easy to reproduce. Run it once, create new user,

[2020-03-20 18:29] moisei opened #97 "[BUG] startup.sh fails if MYSQL_PASSWORD contains @"
**Describe the bug**
[code]
This code doesn't work correctly if DATABASE_URL contains @. In my case it failed because of the MYSQL_PASSWORD. Once I've changed the password, the issue disappeared.

[2020-03-20 19:12] moisei commented on #96
I've just reviewed my docker compose and I've found my mistake there. Once fixed, the issues is not reproduced. The cause of the mistake was multiple ```volumes:``` entry under the service. It seems docker-compose silently ignores all of them but the last one.

[2020-03-20 19:12] #96 closed, assigned to nobody

[2020-03-20 19:14] kevinpapst commented on #96
Thanks for your feedback!

[2020-03-23 16:17] jokay opened #98 "Usage of MariaDB instead of MySQL"
Hellu

Can [mariadb](https://hub.docker.com/_/mariadb) be used instead of [mysql](https://hub.docker.com/_/mysql) for the database?

[2020-03-23 16:19] tobybatch commented on #97
I guess I can add this as a feature request and just Document it for now.

[2020-03-23 16:20] tobybatch commented on #98
yes

[2020-03-23 16:20] #98 closed, assigned to nobody

[2020-03-23 16:31] jokay opened #99 "Usage of postfix container"
Is the usage of the container [catatnight/postfix](https://hub.docker.com/r/catatnight/postfix) with a 6 year old [code base](https://github.com/catatnight/docker-postfix) in your [docker-compose.yml](https://github.com/tobybatch/kimai2/blob/master/docker-compose.yml#L59) still a good idea and advisable?

[2020-03-23 16:50] tobybatch commented on #99
I don't know.  It just sends email, and it works.  It's not exposed outside the docker-compose network.  I guess it could be changed do you have a preferred image?

[2020-03-23 16:51] jokay commented on #99
Not really :wink: but I may give it a try without it as I won't send any emails in my setup.

[2020-03-23 21:06] tobybatch commented on #94
I see your issue but there are so many different options that could be set we can't cherry pick a few without being inundated with requests for all of them.

Settings like these should be set in a custom.yml and mounted into .

[2020-03-23 21:06] #94 closed, assigned to nobody

[2020-03-23 21:07] tobybatch commented on #99
Then just comment it out, it's not needed.

[2020-03-23 21:07] #99 closed, assigned to nobody

[2020-03-23 21:14] sputnik73 commented on #94
Thanks! Your suggestion that for custom settings like this a mounted custom.yml is best practice is helpful, I was not aware of that.

**Update**: i couldn't find any code/documentation about support of a custom.yml file yet.

[2020-03-23 21:43] kevinpapst commented on #94
Call it local.yaml, otherwise you might not be able to overwrite all settings!

[2020-03-23 21:46] sputnik73 commented on #94
Thx. I didn't dare to replace the default local.yaml because there is a good chance something will break when the provided local.yaml is modified some day. I still feel better in simply restricting requests to /registration in nginx than in completely overruling a foreign generated local.yaml.

I am new to this and I agree you can't add environment variables for tons of options. Any way to modify

[2020-03-27 06:00] #90 closed, assigned to nobody

[2020-03-30 13:14] nocnokneo opened #102 "[BUG] Quick start instructions are broken"
When running the quick start steps I get:

[code]

**Desktop (please complete the following information):**
 - OS: Ubuntu 16.04
 - Docker version: `19.03.6, build 369ce74a3c`

**Command used to run the container**
 - `docker run --rm -ti -p 8001:8001 --name kimai2 kimai/kimai2:apache-debian-master-prod`

[2020-03-30 13:25] kevinpapst commented on #102
Prod images do not contain dev commands, try
```docker run --rm -ti -p 8001:8001 --name kimai2 kimai/kimai2:apache-debian-master-dev```

The password message is hopefully clear.
PRs to fix the docs are appreciated!

[2020-04-08 08:06] heeen opened #105 "[BUG] entrypoints.json missing invoice key"
**Describe the bug**
I built a master image like this bin/build.sh -k -t Europe/Berlin -b fpm-alpine -s prod master
and in the reuslting image, entrypoints.json is missing invoice keys, resulting in an error message when trying to render templates. I would like to understand what is causing the changes to this file.

[code]

some of these are obvious, like sqlite or lock files, other I don't under

[2020-04-08 09:44] tobybatch commented on #105
@heeen The master image is built against the latest commit to the base kimai repo, https://github.com/kevinpapst/kimai2

This means it may not be release stable and I'm guessing this is a bug in the kimai app.  Can you try with a numbered release please?

[2020-04-08 09:55] tobybatch opened #107 "[BUG] Allowed memory size of 134217728 bytes exhausted"
**Describe the bug**
docker exec kimai2 /opt/kimai/bin/console kimai:reset-dev exceeds the memory limit

**To Reproduce**
Steps to reproduce the behaviour:
1. ```docker run --rm -ti -p 8001:8001 --name kimai2 --env APP_ENV=dev kimai/kimai2:apache-debian-1.8-dev```
2. ```docker exec kimai2 /opt/kimai/bin/console kimai:reset-dev```
4. See error ```Allowed memory size of 134217728 bytes exhausted```

[2020-04-08 10:33] kevinpapst commented on #105
Toby, pretty sure that this is not the case.
See here: https://github.com/kevinpapst/kimai2/blob/master/public/build/entrypoints.json#L14

The files are modified: any explanation for that?
I understand composer.json/lock/symfony.lock (thats becuase of prestissimo - which should IMO be removed btw. - and the ldap package).
But the changes to the the other files don't make a lot of sense to me.

[2020-04-08 12:03] tobybatch commented on #105
@kevinpapst Thanks.  I'm in the dockerfile to look at the memory limit bug, I'll try and see why that's changed.

[2020-04-08 12:11] heeen commented on #105
How can I make sure I clean all intermediate images/volumes other stuff (except the database with my data in it) to make sure I start from a clean slate? Sorry if this is a docker newbie question.

[2020-04-08 12:11] tobybatch commented on #105
@kevinpapst We don't knowingly change those files, they are not referenced in the project:

[code]

Do you know what else could alter them?

[2020-04-08 12:13] tobybatch commented on #105
@heeen  You won't need to.  Unless your kimai root folder is mounted in a volume it will not survive a rebuild/restart

[2020-04-08 12:15] heeen commented on #105
@tobybatch can you reproduce the issue on your end? or is it some weird issue on my system? if you install git in the fpm-alpine-master-prod image and check the status of /opt/kimai, is it clean and shows the latest master commit?

[2020-04-08 12:16] kevinpapst commented on #105
entrypoints.json is only changed if you run `npm run prod` or `yarn run prod`

[2020-04-08 12:19] heeen commented on #105
alternatively, can I find out which RUN step in the docker file caused a file to change? If I undertsand it correctly, each RUN command causes a new image to be created which is why many people chain commands with ; or &&

[2020-04-08 12:31] heeen commented on #105
here's the diff I am seeing except for the deleted tests folder: https://github.com/kevinpapst/kimai2/files/4449919/weird.diff.txt

[2020-04-08 12:52] heeen commented on #105
I just ran the build script on my laptop where I didn't even have docker installed prior and got a much more plausible result:
[code]

so this seems to be related to my server environment. any idea whats going on?

[2020-04-08 13:01] heeen commented on #105
I did a compose down and up and it seems to be resolved. could an open interactive bash instance have caused the issue? or forgetting to down before doing up again?

[2020-04-08 13:09] #105 closed, assigned to nobody

[2020-04-08 13:55] #93 closed, assigned to nobody

[2020-04-08 13:56] tobybatch commented on #102
Fixed in #106

[2020-04-08 13:56] #102 closed, assigned to nobody

[2020-04-08 18:16] nocnokneo commented on #102
I still get `Command "kimai:reset-dev" is not defined.`

Changing the password is also failing, but I presume that is because `reset-dev` failed:

<details>
<pre>
$ docker exec kimai2 /opt/kimai/bin/console kimai:create-user admin admin@example.com ROLE_SUPER_ADMIN changemeplease
18:14:30 ERROR     [console] Error thrown while running command "kimai:create-user admin 'admin@example.com' ROLE_SUPER

[2020-04-10 15:02] chiptemm commented on #102
The QuickStart currently says:

docker exec kimai2 rm /opt/kimai/var/data/kimai.sqlite
docker exec kimai2 /opt/kimai/bin/console kimai:reset-dev
docker exec kimai2 /opt/kimai/bin/console kimai:create-user admin admin@example.com ROLE_SUPER_ADMIN changemeplease

The process fails at command
`docker exec kimai2 /opt/kimai/bin/console kimai:reset-dev`
returns:
` Command "kimai:reset-dev" is not defin

[2020-04-10 15:23] kevinpapst commented on #102
Can you try to use `docker exec kimai2 APP_ENV=dev /opt/kimai/bin/console kimai:reset-dev`?

Not sure how the dev images are built, maybe there is accidentally prod set as environment.
In prod that command is not available.

Don't know if there is a better way to set environment variables.
I assume that there is a .env file in the box, which says APP_ENV=prod.

[2020-04-11 02:08] nocnokneo commented on #102
Required a slightly modified form which gets closer but then reports out of memory errors:

<details>
<summary><pre>$ docker exec -e APP_ENV=dev kimai2 /opt/kimai/bin/console kimai:reset-dev</pre></summary>
<pre>
Created database /opt/kimai/var/data/kimai.sqlite for connection named default

 Dropping database schema...

 [OK] Database schema dropped successfully!

 ! [CAUTION] This operation shou

[2020-04-12 16:35] kevinpapst commented on #102
See https://github.com/tobybatch/kimai2/pull/108

[2020-04-13 12:10] #107 closed, assigned to tobybatch

[2020-04-13 21:01] JesusMtnez opened #109 "[FEATURE] Image for ARM"
**Is your feature request related to a problem? Please describe.**

I currently using a k3s cluster on top of five Raspberry Pi 3. I would like to be able to use Kimai in it.

**Describe the solution you'd like**

Add a build process to the Docker using alpine for ARM.

[2020-04-14 11:26] Schrolli91 commented on #109
Unfortunately I have no experience with cross-build's for docker.

[2020-04-19 18:08] rpelletierrefocus opened #110 "[BUG] API Timesheet GET request begin end parameters are ignored"
Describe the bug
When I run an API Get request using the below parameters, no matter what I put in for begin end gives me all the results for that customer. Not just in between the two dates.
Running the following in jQuery, also tested with the same exact results in Postman. I have updated to the latest code here. This works as expected on the kimai demo page.

[code]
Device: PC
OS: Windows 10
Br

[2020-04-20 17:30] #97 closed, assigned to nobody

[2020-04-20 23:40] matteocastagnaro opened #111 "[BUG] nginx_site.conf is a directory instead of file"
**Describe the bug**
The file ```nginx_site.conf``` is not a file, but a directory. So the error described below is shown. I think is an error copying the file from ```compose``` directory. I've temporarily resolved taking the file from that directory replacing the directory with the same name in the root of the project.

**To Reproduce**
Steps to reproduce the behaviour:
1. Run the docker compose

[2020-04-21 07:24] tobybatch commented on #111
@matteocastagnaro I suspect the path to your `nginx_site.conf` is incorrect.  When docker compose starts it looks for the element specified in the first part of the volume instruction.  If it is a file or a directory it mounts that file in the specified location.  If the file does not exist it will create an empty directory on the host machine and mount that in the container.

Can you please attac

[2020-04-21 07:27] tobybatch commented on #110
I think this will be an issue with your nginx set up.  If nginx is not set up to forward http params it will not pass those get params.

Can you please include your nginx config?

[2020-04-21 08:49] matteocastagnaro commented on #111
@tobybatch Yes, of course! The docker-compose file was not modified, is the same of the repo. Maybe misses the ```compose``` directory in relative path in nginx volume?

[code]

[2020-04-21 12:11] tobybatch commented on #109
I have tried to build a multi-arch image but also have zero experience.  I think I have pushed a manifest for the muti arch images.  @JesusMtnez can you test this please?

[code]

[2020-04-21 17:05] tobybatch commented on #111
There is no nginx conf file in the root of the repo.  That file is supplied as an example of how to use the containers.

I'll switch that docker-compose to use a simpler set up as the error is not with the image but the enviroment.

[2020-04-21 17:05] #111 closed, assigned to nobody

[2020-04-21 18:01] airdogvan opened #113 "[BUG] docker-compose throws error"
After running docker-compose build

then

docker-compose up

it get this error

ERROR: for kimai2_nginx_1  Cannot start service nginx: OCI runtime create failed: container_linux.go:349: starting container process caused "process_linux.go:449: container init caused \"rootfs_linux.go:58: mounting \\\"/home/xxx/kimai2/nginx_site.conf\\\" to rootfs \\\"/var/lib/docker/overlay2/d5813145235b6d5a792b06a3

[2020-04-21 18:04] kevinpapst commented on #113
See https://github.com/tobybatch/kimai2/pull/112 and https://github.com/tobybatch/kimai2/issues/111

[2020-04-21 18:05] JesusMtnez commented on #109
Thank you @tobybatch ! I'll try to check it later this week

[2020-04-21 18:13] tobybatch commented on #113
Yep, can you try a pull on master and retry please?

[2020-04-22 02:19] airdogvan commented on #113
thank you, that worked for me.
Please note I had to comment out the following lines:
     start_period: 10s
      timeout: 10s
      retries: 3
as they were throwing errors.
Running Ubuntu 18.04 LTS
docker version: Docker version 19.03.6

Maybe also in the docs indicate that the trustedhost value has to be changed to the ip (or FQDN if available) of the host for it to work otherwise the web page d

[2020-04-22 05:50] Schrolli91 commented on #113
![image](https://user-images.githubusercontent.com/6043382/79945350-da7abd00-846d-11ea-8d21-6a0d269a262f.png)

[2020-04-22 17:01] airdogvan commented on #113
thanks I'm a long way, back  version 1.17.1 here.

But it still works fine without it.
Thanks again.

[2020-04-22 17:01] #113 closed, assigned to nobody

[2020-04-24 15:01] yayitazale opened #114 "[BUG] Updating to 1.8 can't acces"
**Describe the bug**
I launched the command
`sudo docker-compose pull && sudo docker-compose up -d --build` to upgrade to 1.8 from 1.7
Migration of DB is clean but when kimai starts on log I see this:

[code]

**Screenshots**
This is what I get.
![imagen](https://user-images.githubusercontent.com/6462849/80225326-35b5d680-864b-11ea-8177-e68e2ea61eb8.png)

[2020-04-26 18:23] tobybatch commented on #114
Can you please include the other data asked for?

docker-compose.yml in this case.  A tail of the logs would be nice too.

[2020-04-27 07:41] yayitazale commented on #114
Compose:

[code]

Logs:

[code]

[2020-04-27 07:43] yayitazale commented on #114
If I migrate to this kind of compose:

`docker-compose -f docker-compose.base.yml -f docker-compose.apache.prod.yml -f docker-compose.mysql.yml up`

Doing first:
`docker-compose stop && docker-compose rm && docker volume prune`

Will I lose the DB?

[2020-04-27 07:48] yayitazale commented on #114
Now I see that I can acces to the Loginpage on the machine going to localhost but not externally.

[2020-04-27 08:00] yayitazale commented on #114
OK, added - TRUSTED_HOSTS=kimai.XXXXXX.com

and now is working. Anyway, it is worth to change to `docker-compose -f docker-compose.base.yml -f docker-compose.apache.prod.yml -f docker-compose.mysql.yml up` way of creating the containers?

Thanks

[2020-05-04 14:09] mh33dev opened #118 "docker installation kimai2: Invalid configuration for path "kimai.data_dir""
Steps to reproduce the behaviour:
1) Fresh Ubuntu 20.04 with Docker version 19.03.8, docker-compose version 1.25.0,
2) Install using a modified docker-compose.yml (mounting the volumes locally) for
mysql
`volumes:
   - ./db:/var/lib/mysql`
nginx
` volumes:
      - ./kimai2/compose/nginx_site.conf:/etc/nginx/conf.d/default.conf:ro
      - ./public:/opt/kimai/public:ro
`
kimai
` volumes:
      - ./p

[2020-05-04 14:19] kevinpapst commented on #118
Kimai expects the `data` directory to exist in its `var` folder:
execute locally `mkdir -p var/data` inside the folder where `./var:/opt/kimai/var` points to.

EDIT: Actually that is not entirely true, the data directory is configurable:
https://github.com/kevinpapst/kimai2/blob/master/config/packages/kimai.yaml#L301
By default it points to var/data/

[2020-05-05 13:44] mh33dev commented on #118
Thanks a lot, manually putting ../data and ../plugins in the var folder helped with the actual error, still wondering why they were not installed in the pull / installation process. Next problem is, that the public folder is empty.

[2020-05-05 13:46] kevinpapst commented on #118
They are existing, but if you choose to overwrite them with your own mount, its your responsibility to create them. Same for the public directory.

[2020-05-05 13:49] mh33dev commented on #118
Makes sense, - you are responding very quick! Thank you

[2020-05-05 15:32] #118 closed, assigned to nobody

[2020-05-07 07:35] nattyluke opened #119 "getting error 500"
docker-compose up stops at Wait for connection...
What am I doing wrong?
My Mysql db (the container is in another docker-compose file) is working! tried to connect with another container and i could create connection and tables.
So i dont see what im doing wrong. can you help?
`
version: '3.5'
services:
  kimai:
    image: kimai/kimai2:apache-debian-1.9-prod
    networks:
      - docker-server_def

[2020-05-07 08:57] nattyluke commented on #119
i could swear i testet it: my problem was the port number. after removing it the container starts without a problem:
Kimai2 ready
Still i get error 500 at http://myip:9010/de/homepage

[2020-05-07 09:05] kevinpapst commented on #119
@tobybatch @Schrolli91
why are these volumes existing?
[code]
I kinda understand var/ so the data is persisted outside the container. But the complete public/ ?
Is such a mount not overwriting the Kimai directories and needed files as discussed in #118 ?

[2020-05-07 19:11] tobybatch commented on #119
the public one shouldn't be there.  As you point out it'll overwrite the existing files as defined above.  Using the notation:

    public:/opt/kimai/public

Will create a volume containing the files that already exist at the target location.  And it's used to share the public files between the nginx and the fpm containers.

[2020-05-07 19:13] tobybatch commented on #119
It's a won't fix as it's not an error with the containers, it's a config error.  I suggest trying a simpler set up to begin with and adding complexity slowly.

[2020-05-07 19:31] kevinpapst commented on #119
So there is a difference between
[code]
and
[code]
?

[2020-05-10 10:22] oli-ver commented on #119
`public:/opt/kimai/public` together with
[code]
will create a volume in your default docker system location. In my case this is `/var/lib/docker/volumes` (I suppose this can change based on your linux distribution):

[code]
`./public:/opt/kimai/public` on the other hand will map a directory on the level of your docker-compose project. If you for example checked out the git project to `/srv/docker/

[2020-05-11 07:33] tobybatch commented on #119
@kevinpapst What Oli-ver say is completely correct with the additional trick that the docker daemon has up it's sleeve.  If you create a system volume in a location on the container that has files in it already, then those files appear in the new container.  e.g.

Create a container with /etc mounted in a system volume:

[code]

Open a new terminal and mount that new system volume in another locat

[2020-05-11 07:33] #119 closed, assigned to nobody

[2020-05-11 09:06] tobybatch commented on #114
@yayitazale Those files aren't meant to be used in production.  They are for the test harness we use before pushing images.

You could consolidate those by hand if you wanted.  I'll add a read me

[2020-05-11 09:06] #114 closed, assigned to nobody

[2020-05-11 09:11] tobybatch commented on #109
@JesusMtnez bump, do the arm images work?

[2020-05-19 08:24] #110 closed, assigned to nobody

[2020-05-22 02:16] MRIIOT commented on #109
Have not tried, but I see arm64 as architecture.  Raspbian Buster OS is still 32bit.

[2020-05-22 05:46] MRIIOT commented on #109
This runs fine so far on RPi4.

[code]

[2020-05-22 07:41] tobybatch commented on #109
Thanks for that.  I'll close this issue now

[2020-05-22 07:41] #109 closed, assigned to nobody

[2020-05-24 16:02] pixx1 opened #121 "proxypass, redirect does not work"
**Describe the bug**
Hi there! I'm facing some issues with that docker-compose and my proxypass (apache). I read the documentation but I may missed something ?! Or maybe a bug?

Something with the inner redirection seems not to work, like described here:

https://kimai.my-url.org redirects to http://kimai.catinabox.org/de/login
Error in web browser:

When I add manually the "https" after trying to

[2020-05-25 15:39] MRIIOT opened #122 "[QUESTION] InnoDB requirement"
I have moved to MariaDB. Is InnoDB engine a requirement?

--default-storage-engine innodb

[2020-05-25 16:01] kevinpapst commented on #122
MyISAM ist definitely not supported and I have no experience with other engines.

[2020-05-25 16:01] #122 closed, assigned to nobody

[2020-05-25 16:47] MRIIOT commented on #122
Left MariaDB with InnoDB and 10.3.  10.3.7 InnoDb departed from MySQL 5.7.

[2020-05-25 18:46] tobybatch commented on #121
@pixx1 Ok, so this is a config error and (as you realised) not a bug with the kimai container.  I see that you are still using nginx and fpm to server the site and proxying that in via apache.

So you have hit https://my-kimai-url.org which strips the ssl and forwards the request to the nginx instance in the docker compose, which then returns a file or passes the request to the php fpm container t

[2020-05-25 18:48] tobybatch commented on #121
In fact before that try to serve a static asset from the existing kimai docker set up, e.g. http://my-kimai.org/robots.txt as that will verify the proxy set up in your apache.

[2020-05-28 16:08] lkathke opened #123 "Getting "500 Internal Server Error" on fresh install"
Hello guys!
I am trying to install kimai2 via docker-compose without any success.
I alway get the "Oops! An Error Occurred - 500 Internal Server Error" error page.

![83135006-80f95400-a0e5-11ea-9d18-e2140f0eac23](https://user-images.githubusercontent.com/2429447/83165615-16a8d980-a10e-11ea-8956-7ad1fa4595c7.png)

My docker-compose.yaml is the following:

[code]
Can someone give me a hint?
The con

[2020-06-03 11:01] z3rone commented on #123
Same issue with `apache-debian-master-dev` and `apache-debian-master-prod`

[2020-06-03 11:13] tobybatch commented on #123
Can you fetch the logs from the container please?
What OS, docker, docker-compose versions are you using?

When I run that docker-compose.yml on Ubuntu 20.04 it works fine.

[2020-06-03 11:26] z3rone commented on #123
@tobybatch I'm trying to run the container on a Synology DiskStation so I don't have any docker-compose.

System's Docker version is 18.09.8, build 2c0a67b

Instead of the `docker-compose.yml` I can give you the configuration export from Synology's container manager
[kimai2.txt](https://github.com/tobybatch/kimai2/files/4722897/kimai2.txt)

[2020-06-03 11:52] tobybatch commented on #123
OK, I have zero experience with Synology so can you just try this locally please?

    docker run -p 8001:8001 --name kimaitmp --rm kimai/kimai2:apache-debian-master-prod

And then hit port 8001 with a browser.  That will test the image.

[2020-06-03 11:58] z3rone commented on #123
Understandable.

Local start gives still the same error, here's the log.
[log.txt](https://github.com/tobybatch/kimai2/files/4723066/log.txt)

[2020-06-03 19:16] tobybatch commented on #123
Damn.  It works for me locally. Can you try this please:

    docker run -p 8001:8001 --name kimaitmp --rm -v $(pwd)/logs:/opt/kimai/var/log kimai/kimai2:apache-debian-master-dev

And the look in the logs folder for the kimai log output please and post the last few lines here?

[2020-06-03 19:24] tobybatch opened #124 "[BUG] kimai/kimai2:apache-debian-master-dev runs in prod env"
**Describe the bug**
The dev image runs as prod

**To Reproduce**
Steps to reproduce the behaviour:
1. Start the container 'docker run -p 8001:8001 --name kimaitmp --rm -v $(pwd)/logs:/opt/kimai/var/log kimai/kimai2:apache-debian-master-dev'
2. Hit the index page, no dev toolbar
3. Shell onto box and check logs folder, onlt the prod log

**Desktop (please complete the following information):**
 -

[2020-06-04 07:44] caprehab commented on #123
Got the same problem on Ubuntu 18.04

I tried this: docker run -p 8001:8001 --name kimaitmp --rm kimai/kimai2:apache-debian-master-prod

but also the 500 error.

Any idea?

[2020-06-04 09:30] tobybatch commented on #123
@caprehab while your comment is valued it does not provide any more information to let me help you.  Can you please try the instructions in the comment of mine above yours?

[2020-06-04 09:34] z3rone commented on #123
@tobybatch I have access to the DiskStation tomorrow. Will try then.

[2020-06-04 10:23] caprehab commented on #123
True, was not in the possibility yet. But already wanted to mention it.

This was my next step, to send the information.

But receive the following message:
[ERROR] Failed to clear cache: Unable to write in the logs directory
         (/opt/kimai/var/log)

[2020-06-04 13:08] caprehab commented on #123
fix it: https://github.com/tobybatch/kimai2/issues/65

[2020-06-04 14:59] z3rone commented on #65
@tobybatch I guess my confusion was that I've included the port with the hostname, Maybe you could point out in the doc that the port should be omitted.

Thanks for the support!

[2020-06-04 16:52] tobybatch commented on #123
@caprehab Thanks, I should have seen that
@z3rone  Can you check your trusted hosts value is correct please? Then I'll close the ticket.

I'm still confused as to why the docker run command was failing though.

[2020-06-04 19:59] caprehab commented on #123
I open a shell in the running container to see the log file maybe it can help other users:

docker exec -it _CONTAINER ID_ /bin/bash

[2020-06-05 06:59] #123 closed, assigned to nobody

[2020-06-05 19:55] caprehab commented on #123
when will version 1.9 be on docker?

[2020-06-06 12:48] caprehab opened #126 "Version 1.9 be on docker?"
When will version 1.9 be on docker?

_Originally posted by @caprehab in https://github.com/tobybatch/kimai2/issues/123#issuecomment-639760653_

[2020-06-06 13:26] #126 closed, assigned to nobody

[2020-06-06 13:31] #124 closed, assigned to nobody

[2020-06-06 13:45] tobybatch commented on #121
I'm closing this a it's a config problem, not an error with the image

[2020-06-06 13:45] #121 closed, assigned to nobody

[2020-06-06 15:07] caprehab commented on #126
It seems that 1.9 is not working right yet. That is way im asking this.

Changing the yml file to kimai/kimai2:fpm-alpine-1.9-prod will install version 1.9 but im only receiving errors when reacting invoice:

app.CRITICAL: An exception has been thrown during the rendering of a template ("Could not find the entry "invoice" in "/opt/kimai/public/build/entrypoints.json". Found: entrypoints, integrity

[2020-06-06 15:30] kevinpapst commented on #126
Do you have a mount point for the public directory? If so: you need to update its contents.

[2020-06-06 18:25] caprehab commented on #126
Thanks, created a new volume. Works now.

[2020-06-08 07:23] tobybatch commented on #123
It is.

[2020-06-17 07:10] tobybatch opened #127 "[FEATURE] Better docs on handling the var folder"
**Is your feature request related to a problem? Please describe.**
@see https://github.com/kevinpapst/kimai2/issues/1783

**Describe the solution you'd like**
Better docs on how and whento mount the volume

[2020-06-27 01:58] webdobe opened #128 "Unaccessible after crash"
**Describe the bug**
A clear and concise description of what the bug is.

The other day my server crashed...  When trying to start kimai back up... Everything starts up fine but nginx cannot get a solid healthcheck.

I get this that repeats:
[27/Jun/2020:01:48:17 +0000] 172.18.0.2 - - - _ to: 172.18.0.2:9000: GET / HTTP/1.1 302 upstream_response_time 0.515 msec 1593222497.428 request_time 0.515
[2

[2020-06-27 09:53] kevinpapst commented on #128
Not directly targeted advice to your case but more of a general hint/question.

Why are you running in `APP_ENV=dev`? `dev` uses much more memory than `prod`.
You could also check if php.ini in bash has unlimited memory:
`php -i|grep memory_limit` should give you `memory_limit => -1`

If the server crashed, you could also check if the database is corrupted with `SHOW TABLE STATUS FROM kimai2`

[2020-06-27 17:24] webdobe commented on #128
I only switched to dev to see if it provided more logging info.  Switching it back does nothing.  Table status is fine.  I was on 1.8 so I did switch it to 1.9 to see if an upgrade would resolve the issue.  Which it ran the migrations fine and all that but still no dice.

[2020-06-27 17:41] webdobe commented on #128
This concerns me:

Reloading configurations ...
============================

 [ERROR] File or directory "config" is not readable.

But I don't know why config is not readable.  I am able to log into the container and that /opt/kamai/config is there readable... With everything set to the www-data user/group.

[2020-06-27 17:44] webdobe commented on #128
When I log into the nginx container... All the user/groups are 82:82... Which means that nginx likely doesn't have access to the public directory.

[2020-06-27 17:52] webdobe commented on #128
Changed on the nginx container and now the fpm reads xfs/xfs for user/group.  So it seems that maybe the user id's are out of sync?

[2020-06-27 17:55] kevinpapst commented on #128
Sorry, but I am out, thats a case for someone who knows docker.

[2020-07-01 09:27] tobybatch commented on #128
@webdobe Switching to dev in the prod image won't work.  The prod image does not have the dev extensions installed.

I'll have a check but we don't set a custom UID for the fpm user.

[2020-07-01 09:34] tobybatch commented on #128
We don't switch UIDs anywhere but I do notice that you have a custom php, and fpm config.  Could I see those please?

Also your nginx set up might help.

[2020-07-04 19:02] webdobe commented on #128
Hi so the custom php and fpm config were just to turn on logging to see if I could get anything from that.  I turned them off.  I got it working again. I had some configuration that had to do with traefik.  Which does bring up the question.  What am I missing about setting a trusted proxy for traefik?

nginx docker-compose with traefik setting commented out.
[code]
nginx config
[code]

[2020-07-05 19:06] tobybatch commented on #128
I haven't got any direct experience of traefik and the nginx proxy should I guess handle that anyway.  The kimai will only see the nginx proxy as the source of request and the docker network should isolate it from any other interference.

So I'm a little stumped, but I don't think it's a bug in kimai or the docker container but I'm happy to help if I can.

[2020-07-05 21:59] webdobe commented on #128
I figured it out!  There is some sort of issue between the healthcheck: and labels: or traefik and healthcheck... I am not sure.  I commented out the healthcheck and everything works now!  Hopefully this nightmare helps someone else.

[2020-07-05 21:59] #128 closed, assigned to nobody

[2020-07-13 21:57] flowl commented on #102
The quickstart instructions login do not work, build success, but can't login.

[2020-07-14 07:57] tobybatch commented on #102
@flowl I need more info.  Which account can't log in?  Are you using ```kimai:reset-dev``` or is it vanilla after build?  Have you set the ```ADMINMAIL``` and the ```ADMINPASS``` environment vaues?

[2020-07-14 09:54] lsvivek opened #130 "[BUG] 500 Internal Server Error""
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behaviour:
1. Start the container '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Docker version: [e.g. 19.03.2]
 - Docker compose version: [e.g. 1.21.0]

**Command used to run the container**

[2020-07-14 10:01] tobybatch commented on #130
@lsvivek I need more info to be able to help you.

[2020-07-14 11:26] flowl commented on #102
@tobybatch

I run this like described in the readme, I can navigate http://localhost:8001 but it says invalid credentials:

[code]

[2020-07-14 13:43] tobybatch commented on #102
OK, when you run kimai:reset-dev it replaces the existing DB with a set of features, when you ran it is prompted you to drop the current DB and re-install the schema.  You can log in with the details here:

https://www.kimai.org/documentation/developers.html

[2020-07-14 14:49] flowl commented on #102
So the 4th line (`kimai:create-user`) does not work?

Either of these lines are not working as I can't login with `admin`.

[2020-07-14 14:50] tobybatch commented on #102
That should work, what console output do you get when you run it?

[2020-07-14 14:53] kevinpapst commented on #102
`kimai:reset-dev` needs the `-n` flag for running in non-interactive mode, otherwise you have to answer questions
Maybe these are skipped and therefor not executed?

[2020-07-14 14:55] tobybatch commented on #102
@flowl Can you try with the 1.9 image please:

    docker run --rm -ti -p 8001:8001 --name kimai2 kimai/kimai2:apache-debian-1.9-dev

[2020-07-15 01:07] flowl commented on #102
@tobybatch @kevinpapst I can't login, nor with the users with the kitten password, nor with the 1.9 image.

Do I need to setup anything not mentioned in those 4 lines?

[2020-07-15 04:42] tobybatch commented on #102
@flowl I have just run those 4 commands on and ubuntu 20.04 and I could log.

What OS and version of docker are you using?
Please post the output from the ```kimai:create-user``` command.

[2020-07-15 11:39] flowl commented on #102
`Docker version 19.03.8, build afacb8b`

OS: `MacOS 10.15.5`

Here the log. Maybe the migrations go into sqlite3 while runtime is on MySQL?

[code]

[2020-07-15 11:45] #127 closed, assigned to nobody

[2020-07-15 11:47] flowl commented on #102
Oh the problem got obvious when I see the log outside of my console now...

1.9 image is working, 1.8 image brings errors:

[code]

[2020-07-15 11:52] kevinpapst commented on #102
Then the issue is solved, right?

[2020-07-15 11:56] flowl commented on #102
@kevinpapst yep solved. Thanks for caring and sorry for the confusion!

[2020-07-18 18:41] zwarag opened #133 "[BUG] Unable to start kimai with docker-compose"
**Describe the bug**
I am unable to run kimai in using docker-compose. My guess I'm misunderstanding something.
After I `docker-compose up -d`, I try to access kimai on `http://localhost:9000`.
I expected port 9000 because I've found it here: [docker hub](https://hub.docker.com/layers/kimai/kimai2/fpm-alpine-1.8-prod/images/sha256-12eabc46583818cf1943b20ea1edd3f8456b2d71d7ebca276b74561cb664e6bd?co

[2020-07-19 14:17] tobybatch commented on #133
Without a web server you will never get output in your browser on port 9000.  The nginx does more than just proxy connection it actually builds and returns the http stream.  The FPM image just does the PHP, you will need both.

I'm going to close this ticket as the issue is with your config, not the container per se.  I will keep an eye in this thread if you need more advise.

[2020-07-19 14:17] #133 closed, assigned to nobody

[2020-07-19 16:38] zwarag commented on #133
Thank you for the quick answer and explanation Toby! I appreciate it.
I understand that nginx is needed for that purpose but I wonder, is there a docker build that does the PHP and HTTP stream in one?

[2020-07-20 08:18] tobybatch commented on #133
Yes!

The apache debian images are bundles server + php.  Just switch the line:

    image: kimai/kimai2:fpm-alpine-1.8-prod

for

    image: kimai/kimai2:apache-debian-1.9-prod

The image is a bit fatter, 952M rather than 650m but that should do your job.

[2020-07-22 12:17] LeonardVertighel opened #134 "[BUG] Problem connection with MySQL database when host port is specified"
**Describe the bug**
Kimai's docker image does not connect to the MySQL database when the DATABASE_URL variable contains the port specification [e.g. 3306].

**To Reproduce**
Steps to reproduce the behaviour:
1. Set the DATABASE_URL variable for mysql: `DATABASE_URL=mysql://kimaiuser:kimaipassword@mysqlhost:mysqlport/kimaidbname`
2. Start the container and show the container logs:  `docker logs KI

[2020-07-23 12:44] tobybatch commented on #134
I love a bug that also includes the fix!  Thanks.

I'll test this and include the fix when I get a chance.  Unless you fancy raising a PR and beat me to it.

[2020-08-03 03:56] mattcen opened #135 "Two readme files"
This repo contains both `README.md` and `readme.md`; this causes a filename clash on case-insensitive filesystems as well as being quite confusing. I suspect the latter should be merged into the former.

[2020-08-03 09:07] tobybatch commented on #135
Lol, that had been there for ages.  Thanks, just deleted it.

[2020-08-03 09:07] #135 closed, assigned to nobody

[2020-08-04 15:54] #130 closed, assigned to nobody

[2020-08-10 15:03] jokay opened #136 "[BUG] sed: bad option in substitution expression when building image"
**Describe the bug**

Since the change of https://github.com/tobybatch/kimai2/pull/132 the docker image can't be build anymore.

[code]

**To Reproduce**

[code]

**Desktop (please complete the following information):**

 - OS: Debian 10
 - Docker version: 19.03.12
 - Docker compose version: 1.26.2

**Command used to run the container**

Not possible to run the container as the build fails.

**Doc

[2020-08-11 09:29] tobybatch commented on #136
Weird.   It builds fine for me.  Can you check you latest commit hash please?

I'm building against main branch,

[code]

[2020-08-11 09:37] jokay commented on #136
I just removed the folder and cloned it again from your repo and the error still occurs.

[code]

[2020-08-11 09:46] jokay commented on #136
Builds from this commit works:

[code]

[code]

Do you have the possibility to let it build on [hub.docker.com](https://hub.docker.com) may be on a feature branch?

[2020-08-11 11:05] tobybatch commented on #136
Which branch are you on?

I'll look into hub.docker.com

[2020-08-11 11:08] jokay commented on #136
[code]

[latest commit](https://github.com/tobybatch/kimai2/tree/5346470e0322b0530126d28c6853b9eda92853ac) on the `main`.

[2020-08-12 09:24] tobybatch commented on #136
You're right, but it only shows when I turn off the docker build kit.  That seems to mask the error.  Thanks, I'll investigate

[2020-08-14 07:39] #136 closed, assigned to tobybatch

[2020-08-17 15:27] Dwayne28 opened #144 "[BUG] kimai/kimai2:fpm-alpine-1.9-prod container not working since last update"
**Describe the bug**
We're using the docker image
kimai/kimai2:fpm-alpine-1.9-prod
with the recent update last week our kimai container is showing errors in the logs and is not working at all
also the health status shows: unhealthy

The logs are mainly around these two messages:
1. request.ERROR: Uncaught PHP Exception Symfony\Component\HttpKernel\Exception\BadRequestHttpException: "Untrusted Host

[2020-08-17 15:54] tobybatch commented on #144
The PHP version was bumped in the last release and I guess this might be a cause of this.  The error in the TRUSTED_HOSTS setting in the kimai section of your docker compare.

Try adding nginx to the trusted hosts line:
[code]

I am on holiday and only have my phone, bit that should fix it.

[2020-08-19 08:33] Dwayne28 commented on #144
Thanks for the quick reply and for replying while on holiday hope you enjoy.

Both changes seems to do the trick. On my local machine everything is working correct.

But on my server which runs the setup mentioned above.

There is one more issue when you start a Timesheet and want to select an activity for a specific customer, the search (dropdown) show's only activities which are not assigned to

[2020-08-19 08:48] kevinpapst commented on #144
Last one is not a docker issue and should be fixed with 1.10.

[2020-08-19 08:56] Dwayne28 commented on #144
Thanks, okay any timeline when a docker image with 1.10 will be released?

[2020-08-19 10:44] kevinpapst commented on #144
Try master image

[2020-08-19 12:40] Dwayne28 commented on #144
I tried master which runs on kimai 1.8, if I'm correct? But same issue

I created a new Dockerfile from the current kimai repo: https://github.com/kevinpapst/kimai2 branch: master

It runs but still the same issue:
 NOTICE: PHP message: [2020-08-19 12:35:16] request.ERROR: Uncaught PHP Exception FOS\RestBundle\Exception\InvalidParameterException: "Parameter "project" of value "%project%" violated

[2020-08-19 13:14] kevinpapst commented on #144
Master should be master => almost 1.10.
But I am not really a docker user, so I might be wrong here.

This is very likely a Javascript problem. At least I fix one with the exact same error message. But it only happened in rare edge cases with projects without activities/customers without projects.

[2020-08-20 08:12] Dwayne28 commented on #144
Still couldn't find a solution.
I found out that if I use 1.5 the problem does not exist but we're missing some API'calls which we need.

The install/setup is fresh we just setup one customer, one project (assigned to customer) and one activity (assigned to project and customer).

Clicking on the top right to start an activity selecting customer -> project -> activities are empty.

The weird thing

[2020-08-20 08:19] kevinpapst commented on #144
Whats in your browser console?

Edit: and what version does Kimai report?

[2020-08-20 19:03] tobybatch commented on #144
@Dwayne28 I'm back home for a couple of days this weekend. I'll try and push a 1.10 docker image but you can build your own.

Pull the repo and run

[code]

Should build 1.10 images.

[2020-08-20 19:13] jokay commented on #144
Tried to reproduce the problem today but without success.

[2020-08-20 19:59] Dwayne28 commented on #144
Thanks for investigated that much I really appreciate that.

I checked the browser console:

(when selecting projects dropdown in creating timesheet)
myIP/api/projects?customer=%25customer%25&visible=1&start=%25begin%25&end=%25end%25
Response
{"code":400,"message":"Bad Request"}

(when selecting customer dropdown in creating timesheet)
myIP/api/activities?project=%25project%25&visible=1
Response
{

[2020-08-20 20:18] Dwayne28 commented on #144
Some additional info:
my external port is also not the default 80 or 443

myIP:10107/api/doc

I also cannot use the api via the swagger ui

[2020-08-20 20:32] kevinpapst commented on #144
@tobybatch 1.10 is not yet tagged

@Dwayne28

Which time-tracking are you using? The URLs look pretty wrong.
Are you sure that the first **projects** is right?

Changing a project should only trigger a call to api/activities...

Regarding the port: https://www.kimai.org/documentation/rest-api.html#using-the-swagger-ui

[2020-08-20 21:05] Dwayne28 commented on #144
Timetracking Mode (*tested also other modes no difference only the call structure is a little different but still the error)
[Default] start and end times can be edited

Select Customer dropdown
myIP:10107/api/projects?customer=%25customer%25&visible=1&start=%25begin%25&end=%25end%25

Select Project dropdown
myIP:10107/api/activities?project=%25project%25&visible=1

Select activity dropdown
No XHR

[2020-08-20 21:16] kevinpapst commented on #144
Okay, for some reason the javascript cannot find the linked select to fetch the data from them.

The JS should take should take the selected value from the customer dropdown and replace `customer=%customer%` with the value eg `customer=10` and then ask the api for the projects of that customer.

Did you test eg. other browsers?

This is really interesting, because you are not the first user to rep

[2020-08-20 22:26] Dwayne28 commented on #144
I tested with Firefox, Brave(chromium) and Safari

Docker Local Machine
Creating Timesheet -> Selecting Customer Box (two calls)
http://localhost/api/projects?customer=2&visible=1&start=2020-08-20T22:16:00&end=
http://localhost/api/activities?globals=true&visible=1

Docker VM Machine
Creating Timesheet -> Selecting Customer Box  (one calls -> 400)
myIp:10107/api/projects?customer=%25customer%25&vi

[2020-08-21 19:44] kevinpapst commented on #134
Was that already fixed @tobybatch ?

[2020-08-23 19:59] tobybatch commented on #134
No it wasn't.  Thanks Kev.  I'll get on this when I'm back home.

[2020-08-24 09:52] kevinpapst commented on #144
@Dwayne28 I released Kimai 1.10 at the weekend, maybe you can test it again once the new docker image is there?

[2020-08-24 13:36] Dwayne28 commented on #144
@kevinpapst thanks for providing the new version.

I created the docker with the build command @tobybatch provided. The build went thru without any issues.

Sadly the activities still not show up same error like before.

I'm out of ideas

[2020-08-24 14:52] kevinpapst commented on #144
This is so weird, considering that it 1. works in one system and not in the other and 2. that it is frontend code that seems to fail which should be 100% identical in both installations.
Did you try to use the same database and configuration from "Docker Local Machine" (where it works) in the "Docker VM Machine" container (where it doesn't work)? Just to eliminate the possibility of a data inconsi

[2020-08-24 15:17] Dwayne28 commented on #144
"Docker VM Machine" & "Docker Local Machine"
I have the mysql database mounted to the local filesystem

"Docker VM Machine"
stopped docker; deleted the local mounted files; and copied the files from local to server; docker-compose start -d

Server Data is now identical to local. The issue still exists.

For the config I use everything as it is like a fresh installation

Maybe I create another vm a

[2020-08-24 15:20] kevinpapst commented on #144
So the only difference is host and port, right?
And the javascript works in one system and not the other ...
Is there anything else in the javascript console regarding blocked resources, CORS issues or alike?
I don't get it and would have to see it for myself, unfortunately I wasn't able to reproduce it.

Can you paste the commands you used to build the container that doesn't work? I am not a dock

[2020-08-24 21:36] Dwayne28 commented on #144
Sry for the late reply.

To clarify I had also on the local machine the port changed to the one I use externally no issue on the local machine

Steps I did/do

1. I cloned this repo
2. changed docker-compose.yaml to the one below
3. cmd: `docker-compose up -d `
4. navigating to localhost:10107 | yourIp:10107
5. login with admin@kimai.local pw: changemeplease
6. customer -> create customer A; nothi

[2020-08-27 09:38] mariokorte commented on #144
When will Version 1.10 be tagged?

[2020-08-27 12:08] tobybatch commented on #144
I'm on vacation until September 2nd. I'll tag it then.

You can always pull the repo and build it yourself.

[2020-08-27 12:08] #144 closed, assigned to nobody

[2020-09-01 07:14] tobybatch commented on #144
@Dwayne28 I'm pushing 1.10 and 1.10.1 right now, give it 30 mins and you should be able to use 1.10.1

[2020-09-01 07:15] yayitazale opened #147 "Still on 1.8"
The Apache debian master prod tag is still on 1.8

[2020-09-01 08:07] tobybatch commented on #147
I've not built master yet. I'll do it later today

[2020-09-01 08:11] yayitazale commented on #147
thanks!

[2020-09-01 09:08] kevinpapst commented on #144
@tobybatch there was a problem with some empty dashboard widgets in 1.10.1 that seemed to occur only in some environments (combination of probably older PHP and ICU versions). No clue which systems were exactly affected - I only saw it happen in one customer environment. Thank you PHP for that consistent behavior resulting in production bugs 😁

Long story short: latest release is 1.10.2.

[2020-09-01 10:23] tobybatch commented on #147
just pushed master just now

[2020-09-01 10:23] #147 closed, assigned to nobody

[2020-09-02 09:36] stranljip opened #148 "[FEATURE] Provide a Helm chart for Kimai"
**Is your feature request related to a problem? Please describe.**
For the deployment of Kimai on k8s I would like to have a Helm chart which allows an easy deployment and gives the possibility to easily update an existing deployment. Therefore a Helm chart would be really handy.

**Describe the solution you'd like**
I would like to have a Helm chart with a production ready deployment in one of th

[2020-09-02 09:38] stranljip commented on #148
I am willing to start work on this, but since I am only starting to create k8s deployment descriptions and Helm charts, this will probably take me a little longer. If anyone has already done work on this, I would be glad to get some pointers in the right direction.

[2020-09-03 13:20] sgaechter opened #149 "[BUG] The server returned a "500 Internal Server Error"."
**Describe the bug**
After booting the Container, The server returned a "500 Internal Server Error". when calling Kimai in Browser.

**To Reproduce**
Steps to reproduce the behaviour:
1. Start the container 'docker run --rm -ti -p 8001:8001 --name kimai2 kimai/kimai2:apache-debian-1.8-dev'
2. call 'http://host:8001'
4. See error "500 Internal Server Error"

**Desktop (please complete the following

[2020-09-03 13:28] kevinpapst commented on #149
why do you use 1.8 if there are newer versions available?

[2020-09-03 13:39] sgaechter commented on #149
Because this is mentioned on Docker hub to get a running Kimai-Evaluate: https://hub.docker.com/r/kimai/kimai2

[2020-09-03 14:19] tobybatch commented on #149
Can you try http://localhost:8001/en/login as that same command works for me.

[2020-09-03 14:25] tobybatch commented on #149
This is (I think) caused by the trusted hosts setting that defaults to contain localhost but not your.host.name

The section under **Runtime Arguments** explains how to set those values based on the kimai install instructions.

[2020-09-03 18:32] sgaechter commented on #149
Still no luck.
I rebuilded the  Container either with 1.9-prod, and 1.9-dev, the following causes after Run:

 Rebuilding your cache, please be patient ...
 // Clearing the cache for the prod environment with debug false
 [OK] Cache for the "prod" environment (debug=false) was successfully cleared.

 // Warming up the cache for the prod environment with debug false

 [OK] Cache for the "prod" envi

[2020-09-04 07:39] tobybatch commented on #149
Can you paste in the command you are using to start the container please.

[2020-09-04 14:09] gosymbian opened #150 "Error in installation using composer"
Hi,

I'm trying to install kimai2 on my xampp (windows 7) and I get the following errors :+1:

C:\xampp\htdocs\kimai\appli>composer install --no-dev --optimize-autoloader
Loading composer repositories with package information
Installing dependencies from lock file
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - The requested PHP extension ext-intl * is

[2020-09-04 14:14] kevinpapst commented on #150
You need to install the PHP extensions as the errors indicate.
This is not a Kimai issue, please follow any documentation about that topic in the www.

If you want to use Kimai without docker and have any other question: https://github.com/kevinpapst/kimai2

If you don't know anything about setting up a PHP environment, then you should think about using docker (this repository).

[2020-09-04 14:14] #150 closed, assigned to nobody

[2020-09-04 14:31] gosymbian commented on #150
Hi Kevin,

yes sorry, I have found the solution meanwhile.

btw: thanks for your fast reply and application :-)
Domi.

[2020-09-04 17:14] #134 closed, assigned to nobody

[2020-09-04 18:31] jokay opened #152 "[QUESTION] Having some warnings and error in the logs for 1.10.1"
After upgrading from `1.9` to `1.10.1` I got some warnings and error in the logs.

[code]

I can login and everything seems to work fine (until now) but I wonder if the warnings and (critical) error may have an impact?

[2020-09-04 23:46] kevinpapst commented on #152
Can be ignored. I have seen that as well in one system.
When the cache is deleted via `rm -rf var/cache/*` it works flawless.
Don't know what exactly Symfony is doing there, but it is only the cache warmup that fails.

Upon the first page load it will be regenerated and then it works ...

[2020-09-05 05:18] jokay commented on #152
Ok, thx 👍🏼

[2020-09-05 05:18] #152 closed, assigned to nobody

[2020-09-07 14:36] Dwayne28 commented on #144
Sry for the late reply. Was already testing it the day you mentioned it. No change. I still need to setup a new vm and test it there.

@tobybatch thanks, tested it, same problem sadly

@kevinpapst I will try to build the container with this version.

thanks a lot, I will keep you informed when I tested on another vm

[2020-09-07 18:55] apiening opened #156 "[BUG] 403 Forbidden (nginx/1.19.2)"
**Describe the bug**
After deployment, the website responds with **403 Forbidden - nginx/1.19.2**.

**To Reproduce**
Steps to reproduce the behaviour:
1. Create file **docker-compose.yml** (see below)
2. Save the folder **compose** from this repository in the working directory.
3. Change ownership of the folders **db** and **var** to **999** respective **82:82** to match the uids the containers ar

[2020-09-08 12:53] jokay commented on #156
@apiening the output of `docker-compose logs -f` may be helpful.

[2020-09-08 14:44] apiening commented on #156
Hi @x-jokay,

here is the output of `docker-compose logs -f`;

[code]

[2020-09-08 14:54] jokay commented on #156
This one looks strange, especially the server `php-docker.local`.

[code]

[2020-09-08 14:56] kevinpapst commented on #156
What about
[code]
and
[code]
Seems there is a general permission issue?

[2020-09-08 14:57] apiening commented on #156
@x-jokay yes, that's indicating the cause of this issue:
I noticed that the volume **public** is empty, even after successful deployment.

When I enter the **kimai** container with `docker-compose exec kimai /bin/bash` I can see that the application has been installed into `/opt/kimai/` but the subfolder `public` is empty.

When I remove the volume **public** from the nginx container and start it

[2020-09-08 14:59] jokay commented on #156
[code]

This can be ignored but has to do with the `:ro` for

[code]

If we want the nginx container to overwrite the config, we may remove the `:ro` in the sample, but I can confirm it works with `:ro`.

[2020-09-08 15:00] apiening commented on #156
No that's on purpose. The file `nginx_site.conf` is mounted RO, see
[code]

[2020-09-08 15:02] apiening commented on #156
Having the `nginx` config RO is also the case in the example `docker-compose.yml` and I don't think that `nginx` does change it's own config. At least it should not.

[2020-09-08 15:05] kevinpapst commented on #156
Don't concentrate too much on the comments of a non docker user. I was just pointing out the other errors that showed in the logs.
I am more curious about `[ERROR] File or directory "config" is not readable.`.

[2020-09-08 15:40] apiening commented on #156
I changed the volume for `public` to mount to `/opt/kimai/public2` temporarily like so:
[code]
I then entered the container with `docker-compose exec kimai /bin/bash` and copied over the contents manually:
[code]
I then reverted the change (so that `public` mounts to `/opt/kimai/public` as it is supposed to do) and rebuilt the container.
Now it works, the frontend is reachable and I can log in to

[2020-09-15 07:40] Joezzef opened #158 "[BUG] Bad display of the dots"
**Describe the bug**
I have tried to use the image 1.10.2 and I have weird display of the dots in the different list (customer, projects...) as shown below :
![dot_bad_display_image_v1 10 2](https://user-images.githubusercontent.com/60783146/93179591-2c322580-f736-11ea-9f2a-31672b987faa.png)

Same behavior on Chrome and Edge.

This was not the case in v1.8.

**To Reproduce**

1. Modify the image s

[2020-09-15 07:47] tobybatch commented on #158
Thanks for the bug but I doubt this is a container issue.  It looks like a CSS or HTML thing.

@kevinpapst ?

[2020-09-15 07:48] kevinpapst commented on #158
Cannot reproduce. But either way this is not a docker issue, closing here.
Please re-post it in https://github.com/kevinpapst/kimai2/issues

But my Chrome (Version 85.0.4183.102 (Offizieller Build) (64-Bit)) shows it properly....

[2020-09-15 08:08] kevinpapst commented on #158
@tobybatch now after closing I wonder if it might be related to the mounted public/ directory. The CSS and JS was obviously updated between the releases and I believe that there were such issues in the past already.

Will the mount be updated as well, when an updated docker image is built/started? Maybe the docs need an "Updating to a new version" section (unfortunately I cannot contribute due to

[2020-09-15 16:16] Joezzef commented on #158
I have tried to clone the project and use the docker-compose.yml describe above and I have the same issue.

@tobybatch, don't hesitate to ask me if you want me to try something specific.

[2020-09-17 09:01] TheFehr commented on #149
I seem to have the exact same error

[2020-09-17 18:33] tobybatch commented on #149
@TheFehr Can you paste in the command you are using to start the container please.

[2020-09-17 18:38] TheFehr commented on #149
I fixed it by setting proper TRUSTED_HOSTS env variable.
I just can't yet understand why the logs says something about no access to "config" and it's fixed by that env var.

[2020-09-18 08:01] tobybatch commented on #149
TRUSTED_HOSTS is the single most common cause of issues with the FPM set up.

The config error a known bug in the kimai command.  Kevin is looking at it, we know the cause and it's just a red herring.  If you call ```kimai:reload``` from a folder other than the root of the site it doesn't find the config folder.

There's a PR open to fix it and we'll probably get it in the next release or so but i

[2020-09-18 08:01] #149 closed, assigned to nobody

[2020-09-18 08:13] tobybatch opened #160 "[FEATURE] Reg ex to check release tag"
**Is your feature request related to a problem? Please describe.**
The ```bin/release.sh``` auto tags the latest build and it is possible to enter a non semver tag name into the function.

**Describe the solution you'd like**
Regex around line 15 of ```bin/release.sh``` that check that $TAG is a semver structured variable.

[2020-09-18 08:20] tobybatch commented on #156
@apiening Nope the error is the way you are mounting volumes.  See the following

[code]

Vs

[code]

Because you bind a local folder rather than using a volume the volume is not auto populated with the existing files on image.

[2020-09-18 08:20] #156 closed, assigned to nobody

[2020-09-24 14:54] laest commented on #158
Hi everybody,

I am experiencing the same issue with my docker container. I use kimai/kimai2:latest-prod (current version 1.10.2 stable (Ayumi)) image which runs great except these dots. Issue occures in all browsers:

   - Chrome Version 85.0.4183.121 (Offizieller Build) (64-Bit)
   - Firefox Version 81.0 (64-Bit)
   - New Edge Version 85.0.564.63 (Offizielles Build) (64-Bit)

Did you already fin

[2020-09-24 16:56] kevinpapst commented on #158
I am re-opening this issue

AFAIK this happens when users upgrade their docker installation to a new version and "forget" to update their public mount and keep the initial version of the assets.
The dots are actually just a mild symptom, but I wonder how many bugs arise from these outdated javascripts.

@tobybatch Is there a section in the docs about upgrading an image? This happened to multiple u

[2020-09-25 08:58] tobybatch commented on #158
@kevinpapst I'll take a look at this over the weekend.

[2020-09-30 11:07] Mebus opened #161 "Access denied for user 'kimaiuser'@'172.19.0.3' (using password: YES)"
Hallo,

I have tried to use the docker-compose.yml file to build a production setup, but I get the following error:

`sqldb_1    | 2020-09-30T11:02:28.999113Z 5 [Note] Access denied for user 'kimaiuser'@'172.19.0.3' (using password: YES)
`

Why is this happening?

Mebus

[2020-09-30 16:24] tobybatch commented on #161
Please open a ticket with the details of your set up.  I can't help you because I can't see any of your settings.  It looks like you're using the composer set up but I need more.

[2020-09-30 16:24] #161 closed, assigned to nobody

[2020-09-30 19:16] Mebus commented on #161
Thanks for closing the ticket instantly...

I didn't use any settings. Just ran `docker-compose up`.

Mebus

[2020-10-08 09:22] tobybatch opened #163 "[FEATURE] Remove ansi output from build"
We can't see it if we are using build kit and it appears as control codes in CI output

[2020-10-08 09:37] tobybatch opened #165 "[BUG] Fix build on dockerhub"
**Describe the bug**
The build is failing on docker hub

[code]

[2020-10-13 16:53] AddoSolutions commented on #156
Many people use folder volumes instead of mapped ones for a variety of reasons.  This should at least be noted in the docs

[2020-10-13 18:33] apiening commented on #156
I agree. But I wasn't aware of the different behavior between volumes and mapped folders in that regard. So this is not an error like I thought in the first place. Still an inconvenience that might cause issues for others.
So thanks to @tobybatch for explaining this.
At the moment I live with the workaround of copying the files manually into the mapped folder like described above. I thought about

[2020-10-13 19:56] AddoSolutions opened #166 "[BUG] directory "config" is not readable."
**Describe the bug**
A clear and concise description of what the bug is.

During every version of this script I get:

[code]

**To Reproduce**
Steps to reproduce the behaviour:

Every version of this app I have tried

**Recommended fix**

In [this file](https://github.com/tobybatch/kimai2/blob/main/startup.sh#L3)

Add to the top:

[code]

[2020-10-14 09:31] tobybatch commented on #166
Thanks, it's a known bug that is fixed in the  kimai core https://github.com/kevinpapst/kimai2/pull/1951 and will be fixed in the next release of kimai.

[2020-10-14 09:31] #166 closed, assigned to nobody

[2020-10-14 09:31] #165 closed, assigned to tobybatch

[2020-10-14 09:32] tobybatch commented on #163
Fixed in #164

[2020-10-14 09:32] #163 closed, assigned to tobybatch

[2020-10-14 09:34] tobybatch commented on #156
@AddoSolutions Please feel free to raise a PR to the docs to clear this up.  I will add it to my to do list but I'm not sure when I'd get round to doing it.

Thanks

[2020-10-16 17:03] #160 closed, assigned to nobody

[2020-10-20 18:21] StefanWinterberger commented on #158
Hi all,
are there any updates on this?
Today I migrated our installation to docker and face the same issue with the large dots.

Thanks for the docker images, btw.

[2020-10-25 18:41] fbossiere opened #169 "[BUG] bad parsing for DATABASE_URL with custom port"
**Describe the bug**
Hello,
I am trying to deploy Kimai2 with the following docker : kimai/kimai2:apache-debian-master-prod

I try to point to an external database with custom port (the host looks like : `123.45.67.89:54321`) but the parsing instruction in startup.sh does not get the custom port : `DB_HOST=$(awk -F '[/:@]' '{print $6}' <<< $DATABASE_URL)` . Indeed, the port is separated from the I

[2020-10-26 07:17] Schrolli91 commented on #169
If you take a look into the startup.sh, you will see its not implemented atm
https://github.com/tobybatch/kimai2/blob/71cde8013cc2a52ea6b2d40eb8c649ac2f41190a/startup.sh#L7

@tobybatch
Maybe we should collect the DB parameters as separate env vars instead of the whole string.
Would be much easier to handle, i think.

[2020-10-26 10:28] fbossiere commented on #169
It is a really small change. Maybe we could deploy a tiny patch ? Because it is totally blocking the deployment of the docker for everyone with custom ports right now :-(

[2020-10-26 18:10] limitedAtonement opened #170 "[BUG] fpm-alpine-master-prod image listening only on ipv6?"
**Describe the bug**
It looks like the container is listening on ports 127.0.0.11:34435, 127.0.0.11:59220, and :::9000. The result is that when I set up a reverse proxy to the kimai container using

[code]

Httpd says, "Connection reset by peer ... error reading status line from remote server kimai:9000"

**To Reproduce**
Steps to reproduce the behaviour:
1. Create a docker stack with two services

[2020-10-27 07:16] tobybatch commented on #170
The config error is a known bug with kimai console commands, it doesn't effect the actual application, just stops the caches getting warmed up.

The fpm image is based on the stock php-fpm image, we don't change that in the prod image.  If I start the fpm image with this:

[code]

The TCP port 9000 is open ad listening:

[code]

You are using the image built against the latest master branch check

[2020-10-27 07:18] tobybatch commented on #169
@Schrolli91 I did originally collect them as different values.  I can't remember why it got changed to one.

I'm on leave with patchy internet, I'll need to make it backward compatible or other deployments could break.

[2020-10-27 14:19] limitedAtonement commented on #170
Of course your `nmap` will show `localhost` `open cslistener`, because you provided `-p 9000:9000`. The same result will be found running

    docker run --rm -ti -p 9000:9000 archlinux /bin/bash;

The problem is that inside the container, fpm is not listening on `0.0.0.0:9000`, it's listening on `:::9000`. You can see this by doing

    docker exec kimai-issue-170 netstat -an;

I did some more re

[2020-10-27 16:05] wanoo commented on #169
I have personnally recompile this script with this parameter for the PORT

`DB_PORT=$(awk -F '[/:@]' '{print $7}' <<< $DATABASE_URL)`

[2020-10-27 17:47] fbossiere commented on #169
This is not good because it will contradict the DB_BASE definition when the port is not defined.

[2020-10-27 17:50] wanoo commented on #169
I also have made an if to detect if it's a number or not, and if not use default 3306 ports.

I will try to make a PR il my work give me free time

[2020-10-27 19:01] Schrolli91 commented on #169
@wanoo that would be nice - thanks ...

[2020-10-27 19:44] tobybatch commented on #170
Good point, well made about the listening. **But** See here for our reference docker-compose.yml for the fpm image that uses nginx as the reverse proxy. There's no ipv6 wizardry ;)

https://github.com/tobybatch/kimai2/blob/main/docker-compose.yml

To double check:

[code]

Those docs are managed by the upstream kimai maintainer, I'll raise a PR against his web repo, thanks for noticing.

I'm prett

[2020-10-27 19:56] limitedAtonement commented on #170
Cool, thanks!

I'll do you one better and close it myself. Thank you!

[2020-10-27 19:56] #170 closed, assigned to nobody

[2020-10-28 09:18] wanoo commented on #169
PR send

Thx

Regards

[2020-10-28 09:48] yayitazale opened #172 "[BUG] Connection to DB failed on startup"
Updated de MYSQL docker to latest and now I get this erro on the kimai docker log after host reboot:

`php -r "new PDO(\"mysql:host=$DB_HOST;dbname=$DB_BASE\", \"$DB_USER\", \"$DB_PASS\");" &> /dev/null
`

This is my compose:
[code]

[2020-10-28 12:37] #169 closed, assigned to tobybatch

[2020-10-28 12:37] Schrolli91 commented on #169
further discuss - if needed - in the PR

[2020-10-30 07:23] yayitazale commented on #172
Nothing? @kevinpapst can you help please? I can't restart Kimai on production.

[2020-10-30 07:44] Schrolli91 commented on #172
i have no idea what happened here ... can't see a real error message.
can you post a more complete log of the kimai startup please?

[2020-10-30 08:03] yayitazale commented on #172
[code]

And then repeats the last line again and again.

[2020-10-30 08:08] kevinpapst commented on #172
did you try a fresh clone on another machine?

[2020-10-30 08:12] kevinpapst commented on #172
I am not using docker in general, so I can only do wild assumptions...
if this line repeats, maybe it means that your database can't be reached and the process gets killed, because [this loop ](https://github.com/tobybatch/kimai2/blob/main/startup.sh#L24) doesn't stop?

[2020-10-30 08:18] yayitazale commented on #172
Ok I see maybe the new SQL container created a new volume... I don't know how fix this I wll try.

[2020-10-30 08:28] tobybatch commented on #172
That line waits for the SQL server to initialise and then provisions the new DB with the kimai schema.  Can you attach the output of docker-compose logs please.

[2020-10-30 08:29] yayitazale commented on #172
Confirmed, the update have created a new volume, so I have to recreate the container with the correct volume, I'm reading docs to figure it out how to do it.

[2020-10-30 08:30] yayitazale commented on #172
https://github.com/tobybatch/kimai2/issues/172#issuecomment-719385212

[2020-10-30 08:59] kevinpapst opened #174 "[FEATURE] Better handling of DB connection issues"
**Is your feature request related to a problem? Please describe.**

Actually while hunting the issue in #172 I was thinking:
- this loop has no break condition if it doesn't respond for eg 20 times
- this loop isn't very helpful in finding a possible cause: to me (without testing) it looks as even a typo in the password could lead to an infinite loop?

**Describe the solution you'd like**

I wrote

[2020-10-30 09:09] Schrolli91 commented on #174
Sounds good to me.
We realy should implement something like this to get better feedback if there some problems with the DB on startup.

[2020-10-30 14:59] tobybatch commented on #174
agreed, I'll look into it.

[2020-11-02 10:48] tobybatch opened #180 "Check for old builds that require composer 1.x"

[2020-11-02 12:26] tobybatch commented on #180
If you have come here from a failed build then you are trying to build an older version of Kimai.  You should really update to the latest stable release.  These releases keep track of function, performance and security enhancements that the excellent core team have included.

[2020-11-02 15:31] #180 closed, assigned to tobybatch

[2020-11-02 15:31] tobybatch commented on #180
Closed by #181

[2020-11-02 19:48] tobybatch opened #182 "[FEATURE] Add docs about extending out images"
**Is your feature request related to a problem? Please describe.**
We are starting to get issues raised asking us to add function to the base images.  This will inevitably add bloat.

**Describe the solution you'd like**
Document how to extend them.

**Describe alternatives you've considered**
We can consider and accept/reject requested to core images. We can still do that if we want.  It's just a

[2020-11-02 20:25] tobybatch commented on #158
@kevinpapst to write the docs about upgrading the public folder I just need to understand the issue (and the fix).

 * Am I right in thinking that there are/may be new assets in ./public?
 * How do I re-regenerate them? ```symfony assets:install```? ```yarn encore production```?

And while I'm writing this, which directories in var need saving (avatar images?)

[2020-11-02 21:07] tobybatch commented on #172
replaced by #174

[2020-11-02 21:07] #172 closed, assigned to nobody

[2020-11-02 21:22] kevinpapst commented on #158
The issue is: `public/build/` contains part of the versioned application (css and especially all javascript code).
So it needs to be up-to-dte with the Kimai version.
Now: most people have the `public/` directory as mount. When upgrading Kimai, these files are not overwritten with the latest code, but still contain the the ja/css of the older Kimai version. That can lead to all kind of weird bugs.

[2020-11-02 21:33] kevinpapst opened #185 "[BUG] Kimai version mismatch"
@tobybatch I just saw that there are different versions of Kimai mentioned in the Dockerfile.
Is that correct? Is the second variable even needed?

Compare Kimai 1.11.1

https://github.com/tobybatch/kimai2/blob/main/Dockerfile#L16-L18

with Kimai 1.8

https://github.com/tobybatch/kimai2/blob/main/Dockerfile#L178-L180

[2020-11-03 06:09] Schrolli91 commented on #158
+1 for remove the mount if the avatars the only generated files here ....

[2020-11-03 06:13] Schrolli91 commented on #185
Yes you're right.

The first version number is used to check out the files from github.
The second one is only for the final docker image, to know/tag which kimai version is inside.
Maybe we can change it, so the version number is only mentioned one a single position.

[2020-11-03 10:38] tobybatch commented on #158
@Schrolli91 Am I right in thinking this is a documentation issue?  We have to allow both the nginx and kimai images access to the public folder so that static assets and index.php can be served.  Is that right?

@kevinpapst Is index.php the only php file served from public?

[2020-11-03 10:42] Schrolli91 commented on #158
@tobybatch oh, yes - i have missed the fact that we have to share the assets etc. between php and webserver ...

[2020-11-03 10:47] kevinpapst commented on #158
See, thats why I am always saying "I have no experience with docker and don't use it" 😁

Yes index.php is the only file that needs the php runtime in public/

[2020-11-03 10:55] Schrolli91 commented on #158
Here we write the actual installed KIMAI Version into a file...
https://github.com/tobybatch/kimai2/blob/a230f5299b0d33de015f2d18ecfe3a50b1c766d3/startup.sh#L41

Maybe the startup.sh can check the version and if the new container is different from the old, we can update also the public files in the mounted folder?

That was btw. my inital plan a few months ago. Therefore i added this, to write the

[2020-11-03 11:15] kevinpapst commented on #158
@Schrolli91 Can we change that to something like:
[code]
Then the second variable can be avoided

[2020-11-03 13:03] kevinpapst commented on #185
Closed by #188 and #189

[2020-11-03 13:03] #185 closed, assigned to nobody

[2020-11-03 14:43] #182 closed, assigned to tobybatch

[2020-11-10 12:04] zoheirop opened #191 "[ERROR] Invalid configuration for path "kimai.ldap": LDAP is activated, but the LDAP PHP extension is not loaded."
Hi guys,

I created a config/packages/local.yaml

After run bin/console cache:clear --env=prod

i get this error
![ldap error](https://user-images.githubusercontent.com/9295687/98671773-110a1d80-2355-11eb-8eb4-e650249f2b83.PNG)

please any idea about this issue ?
**Additional context**
KIMAI | 1.8
PHP 7.3.4
APP_ENV | prod

regards

[2020-11-10 12:56] zoheirop commented on #191
i just install php ldap
apt install php-ldap

[2020-11-10 12:56] #191 closed, assigned to nobody

[2020-11-10 13:02] Schrolli91 commented on #191
@tobybatch shouldn't this included in the image?

[2020-11-10 13:05] kevinpapst commented on #191
Kimai 1.8 and "macas01-app10" hostname... is that even a docker image?

[2020-11-10 14:08] kevinpapst commented on #158
Here is another case with a critical error due to the outdated public directory:
https://github.com/kevinpapst/kimai2/issues/2105

How far are we with the issue? Can I help to fix this?

[2020-11-10 14:16] zoheirop commented on #191
yes @kevinpapst

[2020-11-10 15:28] marck-brusa commented on #158
I also experienced the miss-aligned dot issue upon install, which was fixed with an upgrade. I opened a ticket with kimai concerning the broken calendar view.

Having an avatars volume (or for files that should be served from the webserver) is fine for me.

[2020-11-10 15:53] kevinpapst commented on #158
@tobybatch no to forget: there are other files that are read by php (eg. build/entrypoints.json)

[2020-11-10 19:53] tobybatch commented on #158
@kevinpapst sorry.  I will get some docs done for this soon.

[2020-11-10 21:16] tobybatch commented on #191
This is not our kimai container.  Total red herring.  Hostname wrong, path wrong.

@zoheirop if you believe this is a container then please provide the docker command used to start it, or the docker-compose file.

[2020-11-10 21:44] zoheirop commented on #191
hi @tobybatch
i used this one with docker-compose installation
https://github.com/tobybatch/kimai2

steps :
- cd kimai2
-  git clone https://github.com/tobybatch/kimai2.git
-  ls
-  cd kimai2
-  ls
-  docker compose up
-  sudo docker-compose up

that's take me 5min for the installation :D
and this is the result
![image](https://user-images.githubusercontent.com/9295687/98737188-28bdc200-23a6-11eb-