[2020-11-11 05:39] Schrolli91 commented on #191
but on your console screenshot is a local machine, in my opinion.
Thats not the container... How does you join the container to write your commands?

[2020-11-11 09:04] kevinpapst commented on #191
In my opinion the problem is fixed and the issue could be locked now.

- The container definitely installs the ldap extension:
https://github.com/tobybatch/kimai2/blob/main/Dockerfile#L95
- Kimai 1.8 is outdated, we cannot support arbitrary old versions.
- If the screenshot is really the docker image, then it is customized (as @tobybatch said: wrong path). And you don't want to open the pandora bo

[2020-11-11 17:28] SoufianBakhti opened #192 "LDAP CONF"
Hi guys,

i'v just build kimai2 with docker-compose
everything is Ok

i just need your helps, i'am not an expert, i want configure LDAP authentification.

can someone gives me the step to use ldap please ?!

thanks a lot

[2020-11-11 17:57] SoufianBakhti commented on #192
@tobybatch any advice please !

[2020-11-11 18:47] tobybatch commented on #192
OK, so this is an issue with the kimai config.  You need to look here: https://www.kimai.org/documentation/ldap.html

Also to rule out issues with the config for your set up could re-open the issue here with your details please: https://github.com/tobybatch/kimai2/issues/new?assignees=&labels=&template=bug_report.md&title=%5BBUG%5D+

Without those details I can't debug what you are doing wrong.

[2020-11-11 18:47] #192 closed, assigned to nobody

[2020-11-12 09:06] tobybatch commented on #158
@kevinpapst I'm writing docs now. Are there any folders in the public folder that should be persisted between images? Uploads, imgages, etc?

[2020-11-12 09:10] kevinpapst commented on #158
No, nothing besides `avatars/` that needs persistence.
But you need to run composer or the assets:install console command afterwards, because the `bundles/` directory needs to be created/synced.

[2020-11-12 20:14] pbek commented on #166
Thank you for your work on the docker containers, @tobybatch!
Do you know if this already landed in in the current `kimai/kimai2:fpm-alpine-1.10.2-prod` container? I'm getting the same error when I start the kimai docker container.

[2020-11-13 09:14] tobybatch commented on #166
It should be fixed in 1.11.1

[2020-11-13 10:43] #158 closed, assigned to tobybatch

[2020-11-13 10:56] pbek commented on #166
Thank you, do you know a way to see what the current version is in the user interface of Kimai? 😅  I didn't find it anywhere.

[2020-11-13 11:58] kevinpapst commented on #166
1. User dropdown upper right corner => About
2. Doctor (pages subtitle)

[2020-11-13 12:07] pbek commented on #166
1.10.2. I missed that completely, thank you, @kevinpapst! And thank you for Kimai and a hello from Graz to Vienna! 😁

[2020-11-13 12:07] blurry-code opened #195 "[BUG] Kimai2 not starting"
**Describe the bug**
When I try to start the docker container on my server I get the following:
[code]

**To Reproduce**
Steps to reproduce the behavior:
I just used the initial `docker run`. Also tried a very basic docker-compose file for convenience.

**Desktop (please complete the following information):**
 - OS: Ubuntu 18.04.5 LTS
 - Docker version: 19.03.13
 - Docker compose version: 1.17.1

[2020-11-15 22:16] stranljip commented on #148
Hi @tobybatch, I actually started working on this. In my fork, I already have the necessary artifacts in order to deploy Kimai with MySQL and Apache via Helm. I think that I will need some more time to enhance and document that, but after that, I would like to reopen the issue and create a PR for that.

[2020-11-16 06:23] tobybatch commented on #148
@stranljip That would be great. Does this involve any container changes, or is it just doc changes?

[2020-11-16 06:26] stranljip commented on #148
No, I did not change any containers. I use the existing ones and plug them together with Helm. I have not any DevOps experience with Kimai - is it sufficient to have Apache or do nginx/fpm have any substantial advantages over Apache/PHP so that I should support both?

[2020-11-16 16:56] tobybatch commented on #148
I wouldn't worry about it from a Helm point of view. The nginx/fpm images tend to be smaller and faster but put up the docs for review and we'll all take a look.

I suggest a new page relating to Helm deployment and a link in the index page.

[2020-11-16 18:18] tobybatch opened #196 "Include var for mysql health check in in sample files"
This includes @pbek PR fix into the sample docker-compose.yml files.

[2020-11-16 19:20] #196 closed, assigned to tobybatch

[2020-11-19 11:49] tobybatch commented on #195
@blurry-code I'm not sure I can help with this. If the container runs locally then there should be no difference when it runs remotely.

Are there any differences?  OS? Arch?

[2020-11-24 18:28] bioinfornatics opened #200 "[BUG] 404 error while requesting main page"
Dear,
I tried to use your docker image with mysql. But they are nothing on the main page I got a 404 error

Below my config. Thanks for your help

[code]

[2020-11-25 08:12] tobybatch commented on #200
Hi,

Not your fault.  The default docker image runs with with php FPM so it needs a server in front of it for static assets.

To evaluate the image the simplest thing is to use the apache debian version, just change the line `image: kimai/kimai2` to `kimai/kimai2:latest-dev`

See here for a list of images: https://hub.docker.com/repository/docker/kimai/kimai2/tags?page=1&ordering=last_updated&name

[2020-11-25 08:12] #148 closed, assigned to stranljip

[2020-11-25 08:19] bioinfornatics commented on #200
Thanks a lot @tobybatch . I will take a took

[2020-11-25 17:42] bioinfornatics commented on #200
Thanks @tobybatch with your help I got it.
Below the `docker-compose.yml` file used:

[code]

[2020-11-25 17:42] #200 closed, assigned to nobody

[2020-11-27 12:39] blurry-code commented on #195
Hey, thanks for your response.

my colleague and I tried it again. We reinstalled a vanilla ubuntu 20.04 and later 18.04 on a rented server. We only installed the official docker-ce.

The docker image ist started using `docker run --rm -ti -p 8001:8001 --name kimai kimai/kimai2:latest-dev`.

You can see the result here http://45.129.182.38:8001/de/homepage. My colleague also ran the same commands

[2020-11-27 13:22] tobybatch commented on #195
@kevinpapst Any suggestions?  Could be write permissions to the var folder or something?  I'll spin up a 20.04 VM and try.

[2020-11-27 20:58] kevinpapst commented on #195
I don't really have an idea here.

Can the "compiled docker container" (however you call that) be copied from local (working) to the server (not working)?

[2020-11-27 21:15] blurry-code commented on #195
No, as far as I know, you'd be migrating the image to another host. So that would be exactly the same image.

[2020-11-28 09:52] kevinpapst commented on #195
Then why is one running and one giving an obscure error? It must be either the image or the environment.
So lets find a way to remove one from the list.

[2020-11-29 20:12] tobybatch commented on #195
I think it must be environment (possibly mounts).  The actual image is not change when it runs on a different host.

[2020-12-04 13:48] blurry-code commented on #195
Any idea how I could do it differently? I have tried on 4 different servers so far. Always the same result. Any environment specs I could provide that would help?

[2020-12-04 13:58] tobybatch commented on #195
I honestly don't know how to help.

Can we try a different tag and see if that makes a difference?

    docker run --rm -ti -p 8001:8001 --name kimai kimai/kimai2:apache-debian-1.11.1-prod
￼

[2020-12-06 09:59] blurry-code commented on #195
Thanks for further suggestions!
Using the tag I get following output in browser and docker log.

<img width="640" alt="Bildschirmfoto 2020-12-06 um 10 56 33" src="https://user-images.githubusercontent.com/18675822/101277043-c9d74700-37b1-11eb-9f61-87a5ae7077d9.png">

[code]

[2020-12-07 09:07] tobybatch commented on #195
[code]

This is your trusted host setting needs to be:

    TRUSTED_PROXIES=kimai.appplant.de,127.0.0.1

https://tobybatch.github.io/kimai2/troubleshooting.html#500-server-errors

[2020-12-13 15:01] marcelovital commented on #195
I'm having the same issue running a docker file, even with basic settings (embedded sqlite, no persistent volumes), in a fresh CentOS 7 instance in AWS Lightsail
_Argument 1 passed to Twig\Environment::getTemplateClass() must be of the type string, null given, called in /opt/kimai/vendor/twig/twig/src/Environment.php on line 309_

It worked in the past (one or two weeks ago) in a identic host mach

[2020-12-13 16:17] tobybatch commented on #195
How are you starting the image? docker or docker compose?

Have you checked the TRUSTED_PROXIES setting?

[2020-12-13 22:43] kevinpapst commented on #195
did you flush the cache entirely? maybe removing it with rm directly will help.

[2020-12-15 08:03] blurry-code commented on #195
Sorry for the late reply. The TRUSTED_PROXIES were the key. Thank you so much. We finally got it to work!

Thanks for all your patience and help!

[2020-12-15 08:15] tobybatch commented on #195
@marcelovital I'm pretty sure this will be the TRUSTED HOSTS issue. I'm closing this issue, please open a new one if if needed.

[2020-12-15 08:15] #195 closed, assigned to nobody

[2020-12-15 08:22] kevinpapst commented on #195
Wow, thats a weird error message for the trusted proxy issue.

Maybe worth an entry in the FAQ?

[2021-01-14 13:30] vanitasvitae commented on #105
I'm chiming in to let you know that I just had the same issue.
I'm running kimai2 via docker-compose based on this [documentation](https://tobybatch.github.io/kimai2/docker-compose.html#docker-compose). I'm running in the prod configuration.

My public/build/entrypoints.json file was suddenly missing the invoices entry.
Not sure how this happened, as I didn't knowingly mess around with the deploym

[2021-02-08 18:59] tobybatch opened #212 "www-data id has changed"
The alpine php fpm image seems to have switched the id for www-data from 33 to 82 and we breaks the permissions on `var/logs`

I have recklessly fixed it in the PR #213. The error is unpatched in this commit:

```git checkout 8a5885fecb091e7c235dea74adbd77e65c57cc52```

[2021-02-08 19:08] tobybatch commented on #212
Alpine FPM
[code]

Apache PHP
[code]

But I still don't see why https://github.com/tobybatch/kimai2/blob/main/Dockerfile#L249 doesn't fix it.

[2021-02-14 19:34] dasarne opened #214 "[BUG] Can't reach port 8001"
**Describe the bug**
Starting the docker-container does not open port 8001 but 9000

[root@jim ~]# nmap 172.17.0.6
Starting Nmap 7.91 ( https://nmap.org ) at 2021-02-14 19:59 CET
Nmap scan report for 172.17.0.6
Host is up (0.0000050s latency).
Not shown: 999 closed ports
PORT     STATE SERVICE
9000/tcp open  cslistener
MAC Address: 02:42:AC:11:00:06 (Unknown)

Nmap done: 1 IP address (1 host up) s

[2021-02-15 08:54] tobybatch commented on #214
Hi, You have started an FPM image without any web server to serve the site. Try this:

[code]

[2021-02-15 09:56] dasarne commented on #214
That fixes the problem!
Thanks for the support. Maybe you should add this info to the documentation ;-)

But...
- how does that update?
- is there anyone who needs a docker container with php inside the doesn't serve anything?
- wouldn't it be a better to include the apache in the docker-image? This is then closer to the development version...

Yours
 Arne

[2021-02-15 10:42] tobybatch commented on #214
This is a little out of scope for this repo but there are two main ways of runnnig PHP web site. There is a fairly good (but old) comparison here https://razercattleya.wordpress.com/2013/10/25/mod_php-vs-fastcgi-vs-php-fpm-for-web-server-scripting/

TLDR;
mod_apache is easier to install and set up but is _way_ slower
php-fpm is harder to set up and requires a second server but scales better and is

[2021-02-15 14:46] #214 closed, assigned to nobody

[2021-02-19 11:46] pbek commented on #94
For others who were seeking the same:

I added a volume for `./kimai/local.yaml` to he `kimai` section of my `docker-compose.yml`:

[code]

Content of `./kimai/local.yaml`:

[code]

[2021-02-25 15:31] tobybatch commented on #174
closed by #213

[2021-02-25 15:31] #174 closed, assigned to tobybatch

[2021-02-25 16:14] sputnik73 commented on #94
great, thank you.

[2021-03-13 14:52] wadedugas opened #220 "Docker image latest-prod runs "first run - install kimai" everytime the container starts"
Hi,

I created a docker compose file to use the Kimai docker image kimai/kimai2:latest-prod. How do I stop the kimai container from initializing Kimai every time the container starts?

Of course, this is a bit problematic for a production instance as it clears out all data on every restart ;-)

Here is the kimai service from my docker-copose.yml:
[code]

Thanks for your help!

[2021-03-14 12:57] wadedugas commented on #220
I just figured out the issue and have a workaround.

The problem is a permission issue when startup.sh tries to write out the installed file:

function handleStartup() {
  \# first start?
  if ! [ -e /opt/kimai/installed ]; then
    echo "first run - install kimai"
    /opt/kimai/bin/console -n kimai:install
    if [ ! -z "$ADMINPASS" ] && [ ! -a "$ADMINMAIL" ]; then
      /opt/kimai/bin/console k

[2021-03-15 08:17] tobybatch commented on #220
Thanks for the investigation. I'll take a look at this.

[2021-03-15 09:22] tobybatch commented on #220
The latest prod image does appear to have the line that runs the chown command:

[code]

And the image built with it does appear to have the ownership set to `www-data`:

[code]

Could you please run the above couple of commands and paste the response please? And what is the "IMAGE ID" of the image you are running?

--

I do take your point that the permissions could be tighter but with all due re

[2021-03-15 10:54] wadedugas commented on #220
The output of running the commands is the same as yours. I believe I see the issue. I followed your docker compose file, https://tobybatch.github.io/kimai2/docker-compose.html , as an example. SInce there is no volume created for /opt/kimai, the installed file does not survive container restarts. I had an issue with my setup where the database was being intialized on every container restart. I hav

[2021-03-15 12:07] tobybatch commented on #220
The /opt/kimai/installed file will survive strop/start actions, not stop, rm, start.

The database should not be re-initialised if it already exists, so that should be safe:

[code]

[2021-03-15 12:07] #220 closed, assigned to tobybatch

[2021-03-15 12:09] tobybatch commented on #220
I closed the ticket, as I think it is fixed. I'm happy to keep discussing the issue here though. Maybe we could raise a feature request to move that `installed` file to the var folder as that's where persistent stuff lives.

[2021-03-15 16:23] mxjeff opened #222 "[BUG]"
**Describe the bug**

 * Add a user
 * Remove it
 * Add it again triggers an sql  "Integrity constraint violation"

I'm running a docker composed setup with kimai v1.13.

Here is the traceback I got from fpm:

[code]

[2021-03-15 16:29] kevinpapst commented on #222
1. The next Kimai release will remove SQLite support entirely
2. These problems / SQLite warnings were clearly documented - so it works as crappy as expected

Closing as won't fix.

[2021-03-15 16:29] #222 closed, assigned to nobody

[2021-03-15 16:32] kevinpapst opened #223 "[FYI] Kimai 1.14 will remove SQLite support"
The title says it all 😁

SQLite was always buggy and caused many support requests, so I decided to drop support for it entirely.

This brings at least problems for the [DEV instances](https://tobybatch.github.io/kimai2/dev-instance.html#dev-instances) which are currently using SQLite.

I think switching to MySQL completely should be no big deal. If you need my input, please let me know!

[2021-03-16 03:49] #212 closed, assigned to nobody

[2021-03-19 08:22] vwoC opened #224 "Unsupported database engine: oci8. Kimai only supports one of: mysql, mysqli, sqlite"
Is it possible to use Oracle as a DB for Kimai2?

[2021-03-19 08:32] kevinpapst commented on #224
No

[2021-03-19 08:32] #224 closed, assigned to nobody

[2021-04-07 21:27] kevinpapst commented on #223
I am removing the documentation for the development images now, as there is no feedback from you guys and because SQLite is not supported any longer - the development docker image will fail soon.

Idea: using an internal mysql for development could replace sqlite.

[2021-04-08 07:56] tobybatch commented on #223
Sorry @kevinpapst, I didn't realise you needed anything from us. Yes I agree without sqlite we can't offer a self contained docker image any more. I'll raise a PR to include a `docker-compose.yml` file when the 1.14 image is released.

[2021-04-08 08:01] kevinpapst commented on #223
The sqlite docs had to be removed anyways 😄
I thought we might discuss / test a new / or remove the old dev image before 1.14 is released.
But the other way around is okay as well.

[2021-04-08 08:03] kevinpapst commented on #223
BTW. I am removing the Dockerfile from the Kimai repo. It's time to be honest with myself: I can't and won't maintain it.
So yours is the only one available.

[2021-04-08 08:07] tobybatch commented on #223
That makes sense, if we replace it with a docker-compose file that points at the `latest` tag then you can keep that is you want. I'll give it some thought.

[2021-04-08 08:07] #223 closed, assigned to tobybatch

[2021-04-13 03:51] JustTheSame opened #229 "Unable to get database tables information in docker container"
I use `docker-compose.yml` start my kimai application.
[code]
RUN SUCCESS!

[code]

I want see my database tables in my container, but it's empty.

[code]
The kimai application is working normally. Can you help me to solve it？

Thanks~

[2021-04-13 07:22] tobybatch commented on #229
I see what's missing, You have not added a `DATABASE_URL` in your kimai environment vars so the conatiner is failing over to a sqlite db.  Try this:

[code]

https://github.com/tobybatch/kimai2/blob/main/docs/runtime-args.md#runtime-arguments

[2021-04-13 07:22] #229 closed, assigned to nobody

[2021-04-14 05:21] JustTheSame commented on #229
@tobybatch Thanks~
[code]

[2021-04-18 00:36] FuXXz opened #231 "reverse proxy / jwilder nginx"
Hello everybody,

I'm trying to get Kimai to work. But I got lost. I've tried it for hours now, but I think I don't have the right skills and hope you can help me.

I use the jwilder nginx, this is set up and some other containers are running. But Kimai only gives me 500 or 502 errors. I've tried different images, but I can not make it
kimai / kimai2: apache-debian-1.13-prod
kimai / kimai2: fpm-al

[2021-04-18 20:50] tobybatch commented on #231
This is almost certainly a problem with the trusted hosts setting.

Can you attach the logs for start up please?

Check them for line that says unknown trusted host or something like that.

[2021-04-18 21:09] FuXXz commented on #231
The Container Kimai Logs has no lines with the word "unknow or trusted"
[_kimai_kimai_1_logs.txt](https://github.com/tobybatch/kimai2/files/6332208/_kimai_kimai_1_logs.txt)

[2021-04-19 08:07] tobybatch commented on #231
Well the good news is that your kimai container is running just fine. The problem is with your reverse proxy set up.  Can you try this please? And I'll look at your compose file.  Please change passwords as needed.

[code]

[2021-04-19 11:35] FuXXz commented on #231
Hi,
i have deleted all running container / Volumes and set up a clean docker environment.
then i have executed your compose file, which ends with errors

[code]

[2021-04-19 11:53] tobybatch commented on #231
Doh. I'm reworking the tags and docs before kimai 1.14 is released. I'd references the kimai container as a new one only in my local. Change the kimai image to be kimai/kimai2:fpm-alpine-1.10.2-prod

[2021-04-19 12:11] FuXXz commented on #231
I also added the server ip to trusted hosts and then it works :(
So that means I can't use kimai with the jwilder nginx?

[2021-04-19 19:57] tobybatch commented on #231
I'm sorry, I can't really answer that. I'm sure it's possible but we support the containerization of the kimai app, not every deployment of it.

I can see that the jwilder nginx app is very popular and if someone wants to contribute docs on how to set it up I'm very happy to include them.

One thing I did notice that j don't like is that it mounts the docker socket into the running container. I kn

[2021-04-19 19:57] #231 closed, assigned to nobody

[2021-04-20 00:40] e-tinchux opened #233 "Fail on docker swarm"
Hi Falks! Please, I need some help. I trying to deploy Kimai on my Swarm Cluster using this image "apache-debian-master-prod" but its fails

This is the log:
"task: non-zero exit (137): dockerexec: unhealthy container".

ibc-kimai_ibc_kimai.1.nqdqzxdzzpip@dockerworker03    |   ++ migrated (took 70221.4ms, used 24M memory)
ibc-kimai_ibc_kimai.1.nqdqzxdzzpip@dockerworker03    |
ibc-kimai_ibc_kimai.1

[2021-04-21 08:52] cianiandreadev opened #234 "Docker: 500 error on new installation"
Hi all.
I used the docker-compose template to build a production system, that works behind a reverse proxy I already have (haproxy).

When I run the system I always get a 500 error:

<img width="684" alt="Screenshot 2021-04-21 at 09 31 52" src="https://user-images.githubusercontent.com/1215511/115525715-a1974300-a28f-11eb-89a8-ba77f66c8f1e.png">

Here is my docer-compose file:

[code]

Can someone

[2021-04-21 19:48] tobybatch commented on #234
My best guess is that this is an error with the trusted hosts setting. You need it to match the host name of your proxy. Can you attach the logs of a web request for the index page please.

[2021-04-21 20:46] cianiandreadev commented on #234
Hi @tobybatch , thanks for you help.
I get the following:

[code]

Strange the `Untrusted Host` since I have `localhost` in the docker-compose.yml` as you can see above.
The `reverse-proxy` is the name of the container of the reverse proxy.
What could be wrong?

[2021-04-21 21:22] cianiandreadev commented on #234
I think I fixed the issue. I hope I won't have additional problems:

To fix I did:

1. For the `localhost` I changed to `127.0.0.1` as the error was showing (strange that `localhost` is not recognized)
2. For the external (production) incoming connection I removed the reverse proxy docker container name (in the docker compose I posted called `reverse-proxy` and I added the domain I am using in pro

[2021-04-22 09:16] tobybatch commented on #234
You have found the issue correctly:

Symfony\\Component\\HttpKernel\\Exception\\BadRequestHttpException: "Untrusted Host "127.0.0.1"." at /opt/kimai/vendor/symfony/http-kernel/HttpKernel.php line 83 {"exception":"[object]

If you can see the login page then it should be all good.

As for a PI, I've not tried but the pi supports docker containers and we do a multi-arch build so it should work.

[2021-04-22 09:16] #234 closed, assigned to nobody

[2021-04-22 09:28] tobybatch commented on #233
It looks like the health check is failing on the container. The health check is this:

[code]

Which executes inside the container. Can you try running it with the health check disabled?

docker-compose.yml, as a setting on the container at the same level as image.
[code]

If it works then there is an issue with the health check.

[2021-04-22 12:56] tobybatch opened #235 "Auto change logs"
Add semver change logs

[2021-04-22 19:58] e-tinchux commented on #233
Thanks @tobybatch !!!

Disable the heathcheck solve my problem!

You can close the ticker

[2021-04-22 19:58] #233 closed, assigned to nobody

[2021-04-25 21:38] pete1019 opened #236 "[BUG] ERROR Pulling kimai (kimai2/kimai:latest)"
Pulling kimai (kimai2/kimai:latest)...
ERROR: The image for the service you're trying to recreate has been removed. If you continue, volume data could be lost. Consider backing up your data before continuing.

ERROR: pull access denied for kimai2/kimai, repository does not exist or may require 'docker login': denied: requested access to the resource is denied

Could you please help? Thanks

[2021-04-25 21:54] pete1019 commented on #236
FIX:

You have a typo in every documentation:
its: kimai/kimai2:latest
not: kimai2/kimai:latest

[2021-04-27 18:34] urinal-cake opened #237 "Kimai application loses connection to database when upgrading from fpm-alpine-1.13 to fpm-1.14-prod"
This may not be a bug, as much as it could potentially be a problem with my setup. After modifying my docker-compose image from:
[code]
to
[code]

The Kimai2 container logs show the following:
[code]

Initially, I noticed that when compared to the docker-compose example located [here](https://github.com/tobybatch/kimai2/blob/main/docker-compose.yml), that I was missing this line:
[code]
I added th

[2021-04-27 18:41] kevinpapst commented on #237
Where does the port 3399 come from? I only see it in the connection string, but nowhere else

[2021-04-27 18:49] urinal-cake commented on #237
I pretty much nabbed that from the docker-compose file in this project. For whatever reason it didn't strike me, but the sqldb is running on 3306, so let me try that.

[2021-04-27 18:59] urinal-cake commented on #237
Okay, I have apparently broken my setup. I had to revert my compose changes, and am still getting this:
[code]
I'm in a meeting at the moment and will dig into what I can in a few minutes.

[2021-04-27 19:03] kevinpapst commented on #237
Does that mean the connection now works?
I have no clue how the update works with docker, but maybe ONLY the sources were updated without refreshing the other parts? https://tobybatch.github.io/kimai2/updating.html

[2021-04-27 19:29] urinal-cake commented on #237
Unfortunately, the connection did not work with the port set to 3306:
[code]
As per Toby's updating document, the image for fpm was changed appropriately (he told me in a separate email that the image should now be `kimai/kimai2:fpm-1.14-prod`) so that line was changed appropriately  here:
[code]
This is the command I ran per the update document to bring over static assets:
[code]

Getting a lot o

[2021-04-27 19:34] urinal-cake commented on #237
Neato:
[code]

[2021-04-27 19:38] kevinpapst commented on #237
Sounds as if something went really wrong 😞 but I don't believe that the data is really lost.
Can you rollback your docker-compose to 1.13?

[2021-04-27 19:41] urinal-cake commented on #237
Rolling it back (which involves just setting it back to the compose file listed [here](https://github.com/tobybatch/kimai2/issues/237#issue-869147845)) continues to produce a 500 error, and a number of critical php errors:
[code]
Here are _some_ of them.

I'm looking for the volume, and will inspect it to see if there is any sort of data loss. Luckily, I have some backups I took things offline.

[2021-04-27 19:49] kevinpapst commented on #237
The mentioned subscriber was added with 1.14.
So my best guess is: you are running with an invalid combination of cache and source files.
Switch into the container and execute `bin/console kimai:reload -n`

[2021-04-27 19:51] urinal-cake commented on #237
Because I have AuditTrailBundle plugin installed, I had already ran `bin/console kimai:reload --env=prod` in an attempt to refresh the cache.
I can attempt it with `-n` but do you know if it will make any difference?

[2021-04-27 19:53] kevinpapst commented on #237
Yes, it doesn't require an interactive shell. Without -n the command can fail in some environments silently.
You can also simply do an `rm -r var/log/cache/*` inside the Kimai directory

[2021-04-27 19:55] tobybatch commented on #236
Thanks, now fixed

[2021-04-27 19:55] #236 closed, assigned to nobody

[2021-04-27 19:57] tobybatch commented on #237
If you were missing the `DATABASE_URL` in previous versions then you were possibly using the SQLITE DB without realising it. Is that possible?

[2021-04-27 19:57] urinal-cake commented on #237
There was no `var/log/cache` dir, unfortunately:
[code]
You can find the output of running that command here:
https://gist.github.com/urinal-cake/83df57fdacb6842a6f988788b3a6b8f5

[2021-04-27 19:59] kevinpapst commented on #237
Sorry, too late: `rm -r var/cache/*`
@tobybatch I was thinking the same, but can't believe that this was working properly.

[2021-04-27 19:59] urinal-cake commented on #237
It is possible, yeah.

[2021-04-27 20:03] urinal-cake commented on #237
Speaking with my IT Manager, his analysis is starting to line up with the other theories I'm seeing here, that I may have been using an sqlite database the entire time.
If that's the case, I'm fairly certain I got a backup by backing up everything within `/opt/kimai` within the container itself.

[2021-04-27 20:04] kevinpapst commented on #237
Then you should read https://www.kimai.org/blog/2021/sqlite-and-ftp-support-removed/

[2021-04-27 20:07] tobybatch commented on #237
@urinal-cake That's a relief. I don't see another way back. If you do then

[code]

Will initialise and empty mysql DB.

[2021-04-28 13:16] urinal-cake commented on #237
So, as an update, I've resolved myself to instead not upgrading to 1.14 right now. My early tests suggest that the schema may have changed, not allowing me to easily dump from SQLite on 1.13 and import to 1.14. However, it's very likely those could be wrong.

Where I've spent my time instead, is working to bring my 1.13 instance back up, but with a MySQL database instead of SQLite. It should be kn

[2021-04-28 13:29] kevinpapst commented on #237
@urinal-cake have you read the post I linked above?
https://www.kimai.org/blog/2021/sqlite-and-ftp-support-removed/
there is a conversion script included, which works pretty well.

I think there is a .installed file somewhere, which tells docker that the database was initialized. That file needs to exist. But thats logic from the Dockerfile, so I am not entirely sure where and how.

[2021-04-28 13:58] urinal-cake commented on #237
If you're talking about the Ruby migration script, then yes, I saw it. I was still having some errors after using it, but that may have been my luck with Ruby. Any time I import the database, it seems intact, and the data I expect is there, so I consider that chapter done.

It sounds like I need to find out why this .installed file may be continuously deleted?

[2021-04-28 14:08] kevinpapst commented on #237
I don't know. Wasn't there an .installed file in /opt/kimai/ @tobybatch that prevented some scripts from running?

[2021-04-28 14:10] urinal-cake commented on #237
I'm seeing an "installed" file inside of /opt/kimai (which is mapped to Toby's GitHub) but no ".installed"

[2021-04-28 14:14] kevinpapst commented on #237
whatever, I do not know every filename from memory^^ but it was pretty close, wasn't it :D
no clue what docker is doing. can't help, as this is not really a kimai issue.
maybe toby can jump in

[2021-04-28 14:16] urinal-cake commented on #237
Yeah, no worries. Thanks for your help. :)
I'm continuing to prod around. I did find that it is indeed doing that:
[code]
Among other logs..

[2021-04-28 14:27] urinal-cake commented on #237
I've confirmed, via inspecting the `installed` file's timestamp that it is either getting modified or deleted and recreated every time a container is recreated. It exists in `/opt/kimai` yet it doesn't appear that the standard compose file has that folder mapped, only subfolders. From [docker-compose.yml](https://github.com/tobybatch/kimai2/blob/main/docker-compose.yml#L48):
[code]
My analysis may

[2021-04-28 14:41] urinal-cake commented on #237
I've mapped the installed file to prevent the constant reinitialization of the database. However, the instance is not starting up (with a blank database,) because it seemingly cannot reload cache:

[code]
  I'm investigating this issue now.

[2021-04-28 15:34] urinal-cake commented on #237
It looks like cache was corrupt, so I backed up the `/opt/kimai/var/cache` and then did `bin/console kimai:reload --env=prod` from within the container. It properly reloaded cache and the instance is now running.

I confirmed that I'm now using MySQL by running an update against a record in the db.

[2021-04-28 15:54] urinal-cake commented on #237
Now I'm stuck again, and am unable to upgrade (now that we are using MySQL instead of sqlite.)
Any time I follow [these steps](https://tobybatch.github.io/kimai2/updating.html) under `The fpm image` the database is wiped upon changing the tag and starting the instance, and the logs produce the same corrupted cache problem [shown here](https://github.com/tobybatch/kimai2/issues/237#issuecomment-828

[2021-04-28 16:00] tobybatch commented on #237
I'll need time to look, I'm in meetings for the next hour then I need to run to rugby training. I'll have a look ~20:00 UTC.

[2021-04-28 16:09] tobybatch commented on #237
OK quick look...

I don't know why the DB is empty, `kimai:install` is non destructive:

[code]

So can you check that your mysql is persisting correctly?

[2021-04-28 16:22] urinal-cake commented on #237
I will check by bringing the container down, and then only bringing up the mysql container and see if data persists.
However, I've had to inform folks that the time tracker is back up so that they can put in their time. So I'll be spending some time on an updated backup script, and creating a staging environment, before I do so.

[2021-04-28 16:35] urinal-cake commented on #237
I ran into some other issues, so I figured what the hell, I'll do the investigation now and let everyone know the tracker is still not available.
So my data is _not_ persisting, because `- /var/lib/mysql` is not considered a named volume, and will not persist. That was my mistake based on looking at the example docker-compose file. That should probably be updated to be something like `- kimai_mysq

[2021-04-28 16:51] urinal-cake commented on #237
The database is now persistent properly, which is great. I can clear cache just fine, and the instance runs on 1.13.

I just tried to upgrade to 1.14, however, by switching the tags and running the instance, and the logs start showing this after cache is cleared:
[code]

[2021-04-28 17:02] urinal-cake commented on #237
Going back to 1.13, no records can be updated due to:
[code]
I suspect this may be due to the AuditTrailBundle plugin, which I have checked out tag/1.10 on the mapped directory for that plugin. Thought, I'm not certain what else needs to be done to address it.

[2021-04-28 17:37] urinal-cake commented on #237
@kevinpapst Any idea on the [above error](https://github.com/tobybatch/kimai2/issues/237#issuecomment-828621729)?
I checked and kimai.kimai2_ext_log_entries.id is without a default value or auto-increment.

[2021-04-28 18:21] kevinpapst commented on #237
Holy crap. Thats exactly why I do not support Docker officially. You are going forward and backward, who knows what mix of cache and code you are running...
I can tell you that this message means that you haven't run the updater for 1.14:

Only updating the code is not enough, as stated in the documentation.

[2021-04-28 18:49] urinal-cake commented on #237
Okay, understood. The [second log result](https://github.com/tobybatch/kimai2/issues/237#issuecomment-828621729) is occurring when trying to work with a 1.13 installation. The [first is occurring](https://github.com/tobybatch/kimai2/issues/237#issuecomment-828613009) when trying to access a 1.14 installation.

I'll run the updater manually from inside the container. My belief is that the new docke

[2021-04-28 18:51] kevinpapst commented on #237
Update to 1.14 image, run the updater.
Or use 1.13, but then make sure to use plugins for 1.13.
Plugins should be BC safe, but not forward sad. The AuditBundle for 1.14 requires 1.14 and is VERY likely incompatible with 1.13.

[2021-04-28 18:54] urinal-cake commented on #237
I'm updating to 1.14 now. It doesn't appear that the command `bin/console kimai:update` is [within the Dockerfile](https://github.com/tobybatch/kimai2/blob/main/Dockerfile#L270) after `install` is done within the image:

[2021-04-28 18:57] urinal-cake commented on #237
I've updated to 1.14 with AuditTrailBundle 1.11.1 and have the instance running properly. Additionally, I cleared the cache after running the update.

Updating a log entry produces the following:
[code]

[2021-04-28 18:59] kevinpapst commented on #237
<img width="816" alt="Bildschirmfoto 2021-04-28 um 20 59 21" src="https://user-images.githubusercontent.com/533162/116458186-9c745e00-a864-11eb-9db2-8c663eff4981.png">

[2021-04-28 19:03] urinal-cake commented on #237
Yup, just remembered that, right after clicking submit on the last plugin. Woops!

A few takeaways that I have questions on, for this whole process:

1. Why does the docker-compose file [reference persisting data](https://github.com/tobybatch/kimai2/blob/main/docker-compose.yml#L11) but then give an example that does not name a volume or map it in the `volumes` section?
2. Why does the Dockerfile

[2021-04-28 19:13] urinal-cake commented on #237
Welp, I'm back to having the [problem described here](https://github.com/tobybatch/kimai2/issues/237#issuecomment-828621729) but with 1.14, and AuditTrailBundle 1.11.1, with AuditTrailMigrations [properly migrating](https://gist.github.com/urinal-cake/d5a6d5695d12134816eae658aebaa100) to `20210118201926` from `20200327165908`, and cache cleared.

I'll continue poking around, though.

[2021-04-28 19:19] kevinpapst commented on #237
How did you create the table when migrating from SQLite?

Please show me the output of :
[code]

[2021-04-28 19:26] urinal-cake commented on #237
[code]

[EXPLAIN kimai2_ext_log_entries;](https://gist.github.com/urinal-cake/db7a9503838b7f7c7f2de06e9ab5cb66)
[DESCRIBE kimai2_ext_log_entries;](https://gist.github.com/urinal-cake/754214a7a3981542759cb15b6b5436dd)
[SHOW CREATE TABLE kimai2_ext_log_entries;](https://gist.github.com/urinal-cake/d616551509aac1da0d716852dbd88528)

[2021-04-28 19:28] kevinpapst commented on #237
Which is wrong. Where did you get that statement from?
When migrating from SQLite you have to create all tables with Kimai and ONLY move the data to Mysql.
So you have to remove the tables, install the plugin, migrate the data

[2021-04-28 19:29] kevinpapst commented on #237
Mine looks like that:
[code]

[2021-04-28 19:30] urinal-cake commented on #237
Okay, thanks for the comparison. I'll work on making the appropriate changes to the table. This more than likely happened because I ran a script that was _not_ my *insert*-only script and used that, instead of using my insert-only script.
I had a lot of moving around of backups and whatnot that occurred.

[2021-04-28 20:06] urinal-cake commented on #237
All done, thanks @kevinpapst I dropped the database in its entirely, started from scratch with a blank 1.13 instance running ATB 1.10, then imported data only, then upgraded to 1.14 and ATB 1.11.1. Everything is working as expected! I appreciate the tiem Kevin, and I'm sorry to have frustrated you.

For @tobybatch when he reads this; don't worry, everything on my end is resolved. However, I'm stil

[2021-04-28 20:07] tobybatch commented on #237
This line states that it won't (currently) persist data,

    #volumes: # Uncomment to persist data

If you uncomment those two lines the data will persist.

We don't run `kimai:update` as the container initialises the DB from clean. It does run the migrations. I may need to re-investigate if that is not sufficient.

[2021-04-28 20:08] tobybatch commented on #237
And the installed file just saves time and is relevant to the tag of the kimai, the `kimai:install` and `kimai:update` commands are idempotent, so running them again does no damage to the schema.

[2021-04-28 20:31] urinal-cake commented on #237
Understood. My only worry is that the [next line](https://github.com/tobybatch/kimai2/blob/main/docker-compose.yml#L12) shows an example of a volume that will not persist, as far as I know. If it were a named volume or bind mapping, then the data would persist.

For whatever reason, when I modified my tag from 1.13 to 1.14, my instance did not work until I ran `kimai:update` I didn't catch whether

[2021-04-29 07:28] tobybatch commented on #237
@kevinpapst Am I correct in thinking the commands `kimai:install` and `kimai:update` are non destructive?

Can I just run one or the other whenever the server is started without causing damage?

[2021-04-29 09:36] kevinpapst commented on #237
Yes, totally. You can run install then update.

[2021-04-29 10:00] #237 closed, assigned to nobody

[2021-04-29 18:46] JC5 opened #241 "Tag does not exist"
It seems the tag `apache-latest` from the readme does not exist.

[2021-04-30 08:54] tobybatch commented on #241
Thanks, I'll update the README, I've been trying to simplify the tagging. The latest is now implicity. Just use :apache and you'll get the latest stable release.

[2021-04-30 08:54] #241 closed, assigned to nobody

[2021-04-30 12:21] JC5 commented on #241
Thanks, I appreciate it. I saw another discrepancy but I'm not sure if it's a problem.

[This page](https://www.kimai.org/documentation/docker.html) gives the instruction to build the container, which in itself is fine. However, it suggests the tag `kimai/kimai2:dev` which I personally consider your "personal" namespace so it's weird to build under that tag.

Rather, I'd advise to make people buil

[2021-04-30 13:57] tobybatch commented on #241
Good point, I'll ask kevin to fix that, it's in his repo, not mine.

[2021-05-03 15:51] jerosa opened #247 "[FEATURE] Dynamic listen port passed as environment variable"
Allow Kimai to start on a different port instead of always listen to 8001, for example passing it as an environment variable. This will be really helpful in case that port is already used and on cases we want a server with multiple kimai instances (multi tenancy)

**Describe the solution you'd like**
Use an environment variable (KIMAI_PORT) that set the port that will listen Apache/FPM

**Addition

[2021-05-04 07:04] jerosa commented on #247
This request is due to a limitation of AWS ECS when using the [network mode "awsvpc"](https://docs.aws.amazon.com/AmazonECS/latest/developerguide/task_definition_parameters.html#network_mode) which requires that the port of the container and the host must be the same. Since docker allows to change the port for the host this feature may not make much sense.

[2021-05-04 08:47] tobybatch commented on #247
In both cases the port is not restricted by Kimai, but by the web server that hosts them, either nginx or apache. If you are using nginx then you need to mount your own config, you can change the listen port there.

If you need to change the fpm fast cgi port then I think you'll need to override the file `/usr/local/etc/php-fpm.d/zz-docker.conf`

e.g.
[code]

And change the settings there.

I'd ch

[2021-05-10 10:54] bpjobin opened #251 "[BUG]"
**Describe the bug**
Search field hides the set of buttons next to it.

**Desktop (please complete the following information):**
 - Docker version: 18.09.8
 - Docker compose version: 1.24.0, build 0aa59064

[code]

**Additional context**
Problem occurs on Safari and Chrome and on every pages.

![Screen Shot 2021-05-10 at 6 53 22 AM](https://user-images.githubusercontent.com/46512567/117648626-7308

[2021-05-11 09:35] bpjobin commented on #251
Wrong repo. Sorry.

[2021-05-11 09:36] tobybatch commented on #251
Thanks, But possibly an issue with the building of assets. I'm just looking into it

[2021-05-11 09:38] kevinpapst commented on #251
public mount not updated for 1.14 ?

[2021-05-11 09:39] tobybatch commented on #251
@kevinpapst  It looks like a fresh pull, which does work for me, will an assets:install fix it if it is?

We do run kimai:update every starts, does that catch it?

[2021-05-11 09:49] tobybatch commented on #251
@bpjobin Can you try re-installing the assets please?

[code]

[2021-05-11 09:52] bpjobin commented on #251
Ran it. Problem still there. Should I restart the container?

![Screen Shot 2021-05-11 at 5 51 27 AM](https://user-images.githubusercontent.com/46512567/117796302-ef62f380-b21c-11eb-88f4-ceabcf1c9012.png)

[2021-05-11 09:55] tobybatch commented on #251
You could try, but I don't think that's it. Can you check the kimai version please, it's in about kimai off your profile menu, top right.

[2021-05-11 09:55] bpjobin commented on #251
1.12 stable (Ayumi)

[2021-05-11 09:56] bpjobin commented on #251
using this docker image: `kimai/kimai2:latest`

[2021-05-11 09:57] tobybatch commented on #251
[code]

[2021-05-11 10:02] bpjobin commented on #251
[code]

[2021-05-11 10:03] tobybatch commented on #251
Ha! docker hub has auto built an old image. Give me 30 mins

[2021-05-11 10:14] tobybatch commented on #251
[code]

And we should now be running 1.14,1
[code]

[2021-05-11 10:21] bpjobin commented on #251
Yes! It's working as expected now. Thank you!

[2021-05-11 10:21] #251 closed, assigned to nobody

[2021-05-12 11:45] jamescraig-engineer opened #252 "[BUG] issues with calendar display of tasks"
**Describe the bug**
Since the last update, both the week and day views in "Calendar" are blank. Activities show in the month view and can be created as normal.

**To Reproduce**

?

**Desktop (please complete the following information):**
 - OS: Ubuntu 20.04
 - Docker version: 19.03.13, build 4484c46d9d
 - Docker compose version: 1.27.4, build 4052419

**Docker compose file (with passwords redact

[2021-05-12 11:51] tobybatch commented on #252
How old is this install, it may need to follow the upgrade from older versions to 1.14.1 (latest)

what is the output of
[code]

[2021-05-12 11:53] kevinpapst commented on #252
Error messages look like a mix of new code and old cache

[2021-05-13 09:14] jamescraig-engineer commented on #252
Output is: (ran today 13/5)

REPOSITORY          TAG                 IMAGE ID            CREATED             SIZE

kimai/kimai2        latest              227967b7b5c0        11 days ago         395MB

I've run the updater (/opt/kimai/bin/console kimai:update) inside the kimai container which should have been sufficient to clear the cache?

It appears to be a display only problem as new items can

[2021-05-13 09:24] tobybatch commented on #252
You may want to try pulling newer images too. That one looks a little old.

[code]

[2021-05-13 10:45] jamescraig-engineer commented on #252
ok. i've pulled the latest.

--force-recreate appears to work without error.

problem still exists in the browser. thanks @tobybatch for the support & giving this some quick attention. it's much appreciated.

[2021-05-14 08:13] tobybatch commented on #252
Can you please open the developer tab (F12) and reload the calendar page, re-create the bug and paste any errors here please?

[2021-05-14 08:59] jamescraig-engineer commented on #252
Doing that, Firefox developer console shows the following error,

And two warnings,

[2021-05-14 09:03] tobybatch commented on #252
`Uncaught TypeError: DATES.formatSeconds is not a function` that's the one, @kevinpapst any ideas?

[2021-05-14 09:10] kevinpapst commented on #252
public assets are outdated

[2021-05-14 09:11] kevinpapst commented on #252
@jamescraig-engineer https://tobybatch.github.io/kimai2/updating.html

[2021-05-14 09:46] tobybatch commented on #252
I wrote those instructions some time ago, let me know hot it goes...

[2021-05-14 10:47] jamescraig-engineer commented on #252
OK. great. That's fixed it. Thanks both @tobybatch @kevinpapst for steering me to something I should probably have found for myself...

[2021-05-14 10:47] #252 closed, assigned to nobody

[2021-05-15 08:05] PenguinzTech opened #253 "[BUG] LDAP Group Mappings not working"
**Describe the bug**
I created a mapping based on docs for 3 groups in ldap I created for Role mapping, they are not applying. The user can login, but they do not receive the team lead, admin, or super admin roles.

**To Reproduce**
Steps to reproduce the behaviour:
Apply mapping based off config:
[code]

**Desktop (please complete the following information):**
 - OS:
 Distributor ID: Ubuntu
Descr

[2021-05-15 12:08] tobybatch commented on #253
So.... This isn't really a docker (or a Kimai) issue, but instead an LDAP set up issue.We use LDAP at neontribe but I'm not an expert.

This is our set up (that does work):

[code]

Maybe you need to better target the LDAP search?

[2021-05-15 12:08] #235 closed, assigned to tobybatch

[2021-05-15 12:09] #247 closed, assigned to nobody

[2021-05-17 15:11] #253 closed, assigned to nobody

[2021-05-18 10:01] tobybatch opened #254 "Add timezone data to alpine container"
My alipne didn't get DLS

[2021-05-21 14:53] #254 closed, assigned to nobody

[2021-05-26 09:01] tobybatch opened #257 "[FEATURE] Update docs to link out to external repo"
**Is your feature request related to a problem? Please describe.**
Supporting helm charts

**Describe the solution you'd like**
Link docs out to https://github.com/robjuz/helm-charts/tree/master/charts/kimai2

[2021-05-26 09:03] kevinpapst commented on #257
And remove the entire directory https://github.com/tobybatch/kimai2/tree/main/docs/helm ?

[2021-05-26 09:08] kevinpapst commented on #257
After having a quick look, I have to say that I am not happy with the link.
The link goes into a deep directory, but from my POV the target repo should be only a Kimai helm chart and nothing more.
Your repo here is MIT, the code of the target repo is based on this repo here(?) but does neither include a license nor the history of contributors.

@robjuz comments?

[2021-05-26 09:12] robjuz commented on #257
I will look at it in the evening. I’m at work ;)

W dniu śr., 26.05.2021 o 11:09 Kevin Papst ***@***.***>
napisał(a):

[2021-05-26 18:22] robjuz commented on #257
@kevinpapst
 I'm going to manage multiple charts in a single repo.

This is why the link point to a deeper directory (to the kimai chart Readme)

My chart is inspired by https://github.com/bitnami/charts/tree/master/bitnami/wordpress

My chart is using bitnami charts as dependencies

Do I need to include a Licence file in my repo? The bitnami charts repo in under Apache License

[2021-05-27 07:52] #257 closed, assigned to tobybatch

[2021-06-04 15:42] mircoMar opened #260 "[BUG]"
Hi,
I'm trying to run the latest production build of kimai2 as explained in

https://tobybatch.github.io/kimai2/

After I run

docker run --rm --name kimai-mysql-testing -e MYSQL_DATABASE=kimai -e MYSQL_USER=kimai -e MYSQL_PASSWORD=kimai -e MYSQL_ROOT_PASSWORD=kimai -p 3306:3399 -d mysql

I can connect to MySQL (with MySql Workbench for example) on port 3399 either with users root and kimai

when

[2021-06-04 15:48] tobybatch commented on #260
That port forward looks wrong. You are forwarding the local port 3306 into 3399 in the DB container, which won't connect to anything.

If your SQL Workbench is attaching to a valid DB I think that is your native mysql.

Try swapping the ports around.

[2021-06-04 15:51] tobybatch commented on #260
And I don't know how windoze handles name lookups but on a *nix machine localhost is a domain socket, you need to use 127.0.0.1 to access the container.

I don't believe windoze has domain sockets but you could try the IP instead

[2021-06-04 16:16] JustinGuese opened #261 "[BUG] default helm chart not launching"
**Describe the bug**
I tried to launch kimai with my settings, and as soon as that didn't work I tried launching it with default settings, but it fails.
it seems to install the matching databases, but then when "reloading configurations" it fails.

**To Reproduce**
Steps to reproduce the behaviour:
1. Start the container 'helm install kiami robjuz/kimai2'
2. Click on '....'
3. Scroll down to '....

[2021-06-06 09:15] tobybatch commented on #261
@JustinGuese I don't know much about helm, we recently factored the helm charts off into it's own repo. https://github.com/robjuz/helm-charts/tree/master/charts/kimai2

[2021-06-06 09:15] #261 closed, assigned to nobody

[2021-06-08 07:02] rel4xdev opened #264 "Separate var directory for install plugin"
Hi, I am using fpm image with docker composer,
How can I use plugins in this structure without pain :(
I have permission issue for adding and removing plugins

[2021-06-08 08:14] tobybatch commented on #264
Just mount a volume into the correct location in the image, assuming you have the `CustomCSSBundle` unpacked into `CustomCSSBundle-1.3` in the same folder as your `docker-compose.yml` then just mount it into your kimai conatainer:

[code]

You may need to run `bin/console kimai:reload` inside the container for it to be picked up.

[2021-06-08 08:14] #264 closed, assigned to nobody

[2021-06-08 09:56] rel4xdev commented on #264
Thank you toby, problem solved

[2021-06-19 11:23] rel4xdev opened #268 "Set ssl for kimai"
Hi toby, how can I configure ssl in docker compose file?

[2021-06-20 16:18] tobybatch commented on #268
SSL is not a feature of Kimai, but of the web server that serves it. If you are using an nginx (fpm) image then just set that up for SSL. If you are using apache then you will need to mount the certificates into the image using the `-v` or `volumes` settings and then overwrite the apache config to load them something like this:

    docker run -d --name kimai-with-ssl -v /path/to/certs:/certs -v /

[2021-06-20 16:18] #268 closed, assigned to nobody

[2021-06-20 16:18] #260 closed, assigned to tobybatch

[2021-06-23 14:18] praul opened #269 "Protocol error when marking invoice as paid over reverse proxy"
**Describe the bug**
When marking an invoice as paid there is an error when using a reverse proxy

`app.3b90b56b.js:2 Mixed Content: The page at 'https://XXX.duckdns.org/de/invoice/show' was loaded over HTTPS, but requested an insecure XMLHttpRequest endpoint 'http:/XXX.duckdns.org/de/invoice/change-status/27/paid'. This request has been blocked; the content must be served over HTTPS.`

This error

[2021-06-23 14:25] sgaechter opened #270 "[FEATURE] Update apache-debian-master-prod to latest Kimai Build"
I use the Container "apache-debian-master-prod" for my Kimai2 Installation.
As I saw, the Container is still on v1.13. Is it possible to update this Container to the latest Kimai2 release 1.14.3?

Many thanks for your work deploying all the Containers for Kimai.

[2021-06-23 14:27] DavyLandman opened #271 "[BUG] index.php returns 404 with fpm forwarding"
**Describe the bug**
After setting up a docker-compose with fpm forwarding, the index.php returns a 404 from the kimai server side.

**To Reproduce**
Steps to reproduce the behaviour:

1. open main url
2. get 404
3. access log from nginx:
[code]

4. log from kimai:

[code]

**Desktop (please complete the following information):**
 - OS: [e.g. iOS] Debian 10
 - Docker version: [e.g. 19.03.2]  20.10

[2021-06-23 17:00] tobybatch commented on #271
I think the issue is with the nginx/volume set up. I've never tried to use a different path between the volume mounts on the nginx/kimai containers.

Can you try mounting the kimai source into /opt/kimai/punlic in nginx? If that works we at least know what the issue is.

[2021-06-23 17:04] tobybatch commented on #270
Yes. The containers have been subtly renamed. You want `kimai/kimai2:apache`

Sorry, was in the changelog, I should have shouted louder.

[2021-06-23 17:04] #270 closed, assigned to nobody

[2021-06-23 17:57] DavyLandman commented on #271
That did it, I did not expect that, maybe the path can be hard coded in the nginx config? so that the path in the nginx container doesn't have to align?

Also, this linking of the containers, how does this handle updates to the kimai image? As far as I understand, if the volume doesn't exist, it's populated by the kimai image, but after that, changes aren't updated back into it right?

[2021-06-23 22:46] kevinpapst commented on #269
There is a tiny difference in the URL generation, so it might be wrong under certain setups.
I will prepare a patch tomorrow and would ask you to verify if it works, before merging it.

[2021-06-24 04:06] kevinpapst commented on #269
See https://github.com/kevinpapst/kimai2/pull/2621

[2021-06-24 07:24] DavyLandman commented on #271
Thinking a bit more, maybe it would be an idea to have a folder that you rsync at startup of the container?

- `/var/kimai/public/`: files in the container, never mapped
- `/opt/kimai/public`: mapped to the outside

on startup, you do an rsync from `/var/kimai/public/` to `/opt/kimai/public`. in that case updates of the containers will also work?

[2021-06-24 07:32] tobybatch commented on #271
That is an option. I use an LDAP container that does exactly that. The issue is that everybody's set ups are a little different and each time I add an edge case the image needs more tests and it grows a bit. I know these changes will only add a few Mb in the extra layers but if you look back through the other feature request this (simple) image would, set up apache or nginx, apply for easy ssl cer

[2021-06-24 07:34] tobybatch commented on #271
As for updates: https://tobybatch.github.io/kimai2/updating.html

[2021-06-24 15:45] #271 closed, assigned to nobody

[2021-06-25 07:48] #269 closed, assigned to nobody

[2021-06-29 16:24] jamescraig-engineer opened #272 "[BUG] Invoice with payment date not saved - Error."
**Describe the bug**
Set a payment date for a 'pending' invoice. Get error when trying to save.

**To Reproduce**
Mark any invoice to "PAID"

**Desktop (please complete the following information):**
 - OS: **Ubuntu**
 - Docker version: **19.03.13, build 4484c46d9d**
 - Docker compose version: **1.27.4, build 4052419**

**Docker compose file (with passwords redacted)**

[code]
![kimai_paid_not_save

[2021-06-29 16:31] tobybatch commented on #272
The container logs to the docker logs.

[code]

Can we the error that is logged there please? And maybe try it with the dev instance as well, use this image and well get the dev toolbar too. `kimai2/kimai:apache-dev` (982bc28536d8)

[2021-06-29 16:50] jamescraig-engineer commented on #272
From the docker logs...

[code]

[2021-06-29 18:59] kevinpapst commented on #272
Likely related to https://github.com/tobybatch/kimai2/issues/269

[2021-06-30 07:12] tobybatch commented on #272
@jamescraig-engineer Kevin will fix this in the next release of the core application. We'll build a new image as soon as that happens. I'll leave this issue open so I remember to ping you when that happens.

[2021-06-30 08:47] jamescraig-engineer commented on #272
Great, I'll wait for the image update. Thanks for the support. @tobybatch @kevinpapst

[2021-06-30 16:52] liferelay opened #273 "[BUG] Issue with the Docker Compose Deployment."
When using the Compose Yaml the Nginx container will not stay up and I often receive the following errors.

nginx: [emerg] host not found in upstream "kimai" in /etc/nginx/conf.d/default.conf:24

[2021-06-30 16:54] tobybatch commented on #273
docker-compose.yml please.

The issue is not with the kimai image but the container set up.

[2021-06-30 17:25] liferelay commented on #273
[kimaiv2.txt](https://github.com/tobybatch/kimai2/files/6742846/kimaiv2.txt)

[2021-06-30 17:28] tobybatch commented on #273
And can I see the log output please? Especially where nginx restarts.

[2021-06-30 17:30] tobybatch commented on #273
and your docker-compose.yml is missing the volumes key

[2021-06-30 17:34] liferelay commented on #273
The Volume Key is not there because i'm actually binding them to a file path, but I removed them to obscure the actual location.

[2021-06-30 17:36] liferelay commented on #273
Full Log output is:
 2021/06/30 17:34:14 [emerg] 1#1: host not found in upstream "kimai" in /etc/nginx/conf.d/default.conf:24
 nginx: [emerg] host not found in upstream "kimai" in /etc/nginx/conf.d/default.conf:24

[2021-06-30 19:59] tobybatch commented on #273
Do pages ever serve from the kimai instance? I notice you are using a custom network and wondered why?

The error message point to the nginx container unable to resolve the name kimai into an ip address. You could try shelling onto the nginx container and checking.

These commands should work,  I've not tested them:

[code]

and run

[code]

[2021-06-30 20:01] tobybatch commented on #273
And which OS/versions are you on. In fact if you'd fill in the info we asked for in the bug template that would really help.

[New bug ticket](https://github.com/tobybatch/kimai2/issues/new?assignees=&labels=&template=bug_report.md&title=%5BBUG%5D+)

[2021-07-22 09:00] #273 closed, assigned to nobody

[2021-07-29 03:35] #272 closed, assigned to nobody

[2021-08-02 15:00] johabk opened #279 "Issue with Kimai via Traefik"
Can someone cexplain, which stupid error I made in my compose file?
Kimai is working internally, but when I try to access it via through traefik, I get an Bad Gateway or an Gateway timeout.

docker-compose version 1.27.4, build 40524192

[code]

[2021-08-03 10:20] tobybatch commented on #279
Pretty much all of these errors end up being TRUSTED_HOST issues, https://tobybatch.github.io/kimai2/troubleshooting.html#500-server-errors

I don't use `traefik` so I can't really help. Do you hit the kimai instance at all? Can you attach the container logs?

[2021-08-09 14:13] timlegge opened #281 "[BUG] Out of memory exporting data"
**Describe the bug**

When attempting to export data to excel we are seeing the following error:

[2021-07-28 19:16:56] php.CRITICAL: Fatal Error: Allowed memory size of 134217728 bytes exhausted (tried to allocate 1052672 bytes) {"exception":"[object] (Symfony\\Component\\ErrorHandler\\Error\\OutOfMemoryError(code: 0): Error: Allowed memory size of 134217728 bytes exhausted (tried to allocate 105

[2021-08-10 06:39] tobybatch commented on #281
OK Tim, the thread limit for php is set to 128m per thread. To overrode this you'll need to override the limit for the server.

Which image are you using? fpm or apache?

[2021-08-10 11:28] timlegge commented on #281
kimai:
    image: nginx:alpine

  kimaiapp:
    image: kimai/kimai2:fpm-alpine-master-prod

Tim

[2021-08-11 07:37] tobybatch commented on #281
The file you need to override is the `php.ini`

[code]

Find the line that looks like:

[code]

Raise that number and mount it back in something like:

[code]

or something like that. This is all just a head dump, I've not tested it but it's the process needed to raise the memory level.

I we get more issues like this we could add a flag to start the server with more memory from a environment sett

[2021-08-12 12:20] timlegge commented on #281
Hi @tobybatch

I have:

bash-5.0$ ls /usr/local/etc/php
conf.d               php.ini-development  php.ini-production
bash-5.0$ ls /usr/local/etc/php/conf.d/
docker-php-ext-gd.ini         docker-php-ext-pdo_mysql.ini
docker-php-ext-intl.ini       docker-php-ext-sodium.ini
docker-php-ext-ldap.ini       docker-php-ext-zip.ini

I tried to modify php.ini-production  in the running container and clear t

[2021-08-12 12:21] tobybatch commented on #281
Sorry, yes a restart will be necessary.

[2021-08-12 16:33] timlegge commented on #281
@tobybatch you mention php.ini - I do not have one.  Should I specify php.ini-production or use that as a base for php.ini?

[2021-08-19 16:17] tobybatch commented on #281
There should be one in the running container

https://github.com/tobybatch/kimai2/blob/main/Dockerfile#L274

[2021-09-03 09:44] #279 closed, assigned to nobody

[2021-09-09 10:49] igrutje opened #285 "Cannot connect to mysql socket"
My setup (synology nas) uses a mariadb with a socket connection, no ports. In the docker environment variable the database url is described like
`mysql://kimai_admin:secret_pw@localhost:3307/kimai?unix_socket=/run/mysqld/mysqld10.sock`
This connection string is derived from [this page](https://www.kimai.org/documentation/synology.html).
Upon starting the docker this gives me the following error me

[2021-09-09 10:59] tobybatch commented on #285
Your problem (I think) is the localhost. The container has it's own IP and is a different host to your docker host (the nas).

Switch `localhost` to either the ip or host name of the NAS and try again.

[2021-09-09 11:14] igrutje commented on #285
indeed, thanks! Now I have a connection refused error.

[2021-09-09 11:28] tobybatch commented on #285
And that is probably the grant on that user being tied down to 127.0.0.1

Not sure what the best solution is, I always use a dedicated m(y|aria) dB in another docker, check the composer examples.

There is no noticeable overhead and it keeps all the data in one place

[2021-09-09 13:16] #285 closed, assigned to nobody

[2021-09-09 13:17] igrutje commented on #285
thanks for the quick response!

[2021-09-20 15:31] Martin-Forster opened #287 "Multiple pathes needs to persist during image change [FEATURE]"
**Is your feature request related to a problem? Please describe.**
During image update/change some data is lost
example: /var/invoice  ( custom templates for invoices )
php.ini

**Describe the solution you'd like**
I would like a common path to export for data which needs to be persistent across several image versions

**Describe alternatives you've considered**
exporting multiple files and paths,

[2021-09-20 15:59] kevinpapst commented on #287
Where invoices are stored: https://www.kimai.org/documentation/configurations.html#data-directory
Where invoice templates are searched: https://www.kimai.org/documentation/invoices.html#create-your-own-invoice-document

You can change both locations and point to one directory:
- data/invoice-tpl
- data/invoices
- data/...

[2021-09-20 17:44] tobybatch commented on #287
@kevinpapst is a super star. You can set these in a local.yaml ad mount that into your image at start time. If you want to add a docs page for this just raise a PR and I'll build it in.

[2021-09-21 07:57] Martin-Forster commented on #287
Thanks for the answers, sorry to raise the issue. RTFM would had help.

[2021-09-21 07:57] #287 closed, assigned to nobody

[2021-09-21 09:00] pbek opened #289 "Random JavaScript error, because of not updated public folder with apache docker image"
**Describe the bug**

I moved this over from https://github.com/kevinpapst/kimai2/issues/2785.

I'm using the `kimai/kimai2:apache` Docker container to run Kimai 2 with Traefik as ingress controller.

In Firefox 92 or Chrome 93 I get a JavaScript error on e.g. `https://my.domain.com/en/timesheet/`.

![image](https://user-images.githubusercontent.com/1798101/134137465-5407cdcc-bd21-49aa-b0a8-105d71

[2021-09-21 11:49] pbek commented on #289
I found the issue. The `/opt/kimai/public` folder wasn't migrated automatically according to <https://tobybatch.github.io/kimai2/updating.html>.

I even attempted to do it myself but that silently failed because my docker volume has another prefix like in the update instructions (see https://github.com/kevinpapst/kimai2/issues/2785#issuecomment-923903372).

[2021-09-21 13:05] evolutionIdGmbH opened #290 "Ease of Usage/Upgrade[FEATURE]"
**Is your feature request related to a problem? Please describe.**
The update process involves manually updating the public volume.

**Describe the solution you'd like**
In my case there are now high performance challenges, it would be enough, to just proxy the static stuff.

For high performance i would suggest to add the public files to the custom nginx container. Through tagging we can make sur

[2021-09-21 16:06] tobybatch commented on #289
@pbek I you can correct my docs I'd be eternally grateful. What was wrong? How did you fix it?

[2021-09-21 17:37] pbek commented on #289
Sure, I had a PR on my todo list. 😁  https://github.com/tobybatch/kimai2/pull/291

But the question remains... Why did I have to update the public volume when I used the Apache image? Did I do something wrong? Am I not supposed to even have a `kimai-public` volume mounted to `/opt/kimai/public`? Why does the public folder need to be a volume anyway?

[2021-09-21 18:41] pbek commented on #289
https://github.com/tobybatch/kimai2/blob/main/compose/docker-compose.apache.prod.yml has no volumes at all, not even mysql! That can't be right. 😅

[2021-09-21 18:59] pbek commented on #289
I had no issues dropping the `kimai-public` volume when using `kimai/kimai2:apache`.
But as I see it you will absolutely the other two volumes, so I made another documentation PR: https://github.com/tobybatch/kimai2/pull/292

[2021-09-21 19:42] tobybatch commented on #289
I'll need to look at it. The one missing volumes is just a proof of concept docker-compose file.

I can't guess all the deployments but I probably should document which files change, when and why.

[2021-09-21 19:54] pbek commented on #289
The two volumes I added in #292 are needed to actually persist data in the mysql database and in kimai. 😉
But the "public" volume imho is just needed for the nginx variant, which needs to share the files between the kimai container and the nginx container.

[2021-09-22 07:25] #281 closed, assigned to tobybatch

[2021-09-22 18:25] JackHewson opened #293 "[apache-prod] Upgrade from 1.14.3 to 1.15.1 failed"
I'm using docker compose with the apache image.

[code]

As in https://tobybatch.github.io/kimai2/updating.html described, it just changed the tag name to `1.15.1`:

[code]

After restarting the container `kimai` I get the following error:

Which additional steps are required to get the update? Thanks!

[2021-09-22 19:48] kevinpapst commented on #293
Try deleting the var/cache/prod/ directory and restart

[2021-09-22 20:07] JackHewson commented on #293
Yes, that worked!

I made these steps (for all readers of this issue):

1. Changing docker-compose to `apache-1.15.1-prod` and restarting the container `kimai`
2. during run of `kimai`, deleting `var/cache/prod/` as @kevinpapst described
3. restarted container `kimai` again, now the update worked.

Thank you @kevinpapst , for support and development!

[2021-09-22 20:09] kevinpapst commented on #293
Thanks for the feedback! I hope that saves the next user some time.

[2021-09-22 20:12] #293 closed, assigned to nobody

[2021-09-23 01:32] raskitoma commented on #293
That didn't worked for me, for some reason my user/passwd combination is not working.  I'm trying to use the CLI to "reset"  the password and after a bin/console `kimai:user:password admin devil`, I receive the following error:

[code]

Just rolled back to the previous working version.

[2021-09-23 08:05] tobybatch commented on #293
@raskitoma Something is wrong with your db setup. Which image are you using? what is your DB connection string

[2021-09-23 09:30] kevinpapst commented on #293
This column was added with 1.15, so presumably the migrations didn't run.
What fails is the command to create the admin user from env variables. Does that one happen to be executed before kimai:update?

[2021-09-27 08:27] csageder opened #295 "Fail to deploy kimai/kimai2:apache-1.15.1-prod"
**Describe the bug**
When starting a docker container with the tag: kimai/kimai2:apache-1.15.1-prod there are several errors in the log. With kimai/kimai2:apache-1.14.3-prod there are no issues at all

**To Reproduce**
Steps to reproduce the behaviour:
1. Start the container 'kimai/kimai2:apache-1.15.1-prod'
2. Check log

**Desktop (please complete the following information):**
 - Openshift 3.11

[2021-09-27 11:01] kevinpapst commented on #295
Read this: https://github.com/tobybatch/kimai2/issues/293

[2021-09-28 10:03] csageder commented on #295
Thanks, deleting the cache solved it

[2021-09-28 10:03] #295 closed, assigned to nobody

[2021-09-28 15:47] thisfro opened #296 "Column not found: 1054 Unknown column 't0.account' in 'field list'"
I installed kimai2 with this image some time ago and it was working well. Thank you for the great work!

However I tried to login just now and it says **wrong credentials**. I thought something was wrong with the DB but it is up and looks ok.

So I tried to change the password using the console `/opt/kimai/bin/console kimai:user:password` I get:
[code]
It also tells me, that there are 14 migration

[2021-09-29 06:27] tobybatch commented on #296
It certainly looks like a db migration issue.

Can you fill in the questions about which container you are using please? In particular I need to see how you are connecting to the DB and which image you are using.

[2021-09-29 06:30] tobybatch commented on #289
@kevinpapst Are there any files in the public folder that need to be persisted between version/installs.

I can overwrite the public folder on each restart with a fresh set of assets from a clean install and then run an assets install.

**BUT** Is there a potential to harm users' files?

[2021-09-29 06:33] tobybatch commented on #290
I like the idea but this repo doesn't contain a custom nginx container. I guess we could create one but it would be separate image/container and that container would need to know the version of kimai it was running against.

I'm really bust at my day job ATM, but I'll give it some thought a good idea and keep this issue open.

[2021-09-29 06:36] pbek commented on #289
https://github.com/kevinpapst/kimai2/issues/2785#issuecomment-925316815 might explain some things.

[2021-09-29 06:49] tobybatch commented on #289
You are dead right. Thanks to you and Kev.

I'll start on a fix asap, I'll get something out soon.

[2021-09-29 08:05] kevinpapst commented on #289
@tobybatch Kimai core and all of the plugins use the `assets_install` mechanisms to regenerate the contents of `public/`. The user avatar images were replaced by a CSS only solution, so if you find any mention of public/avatars/ you can remove it.

So for the vast majority of all users that auto-regeneration mechanism will fix a lot of issues ... and for us as well: I cannot even remember how ofte

[2021-09-29 10:27] thisfro commented on #296
Thank you for your answer!

I use the following docker-compose:
[code]

[2021-09-29 11:29] tobybatch commented on #296
Can connect to your DB and check it has the correct schema please?

    docker-compose exec sqldb mysql -u user -ppass kimai

Where the user and password are correct for your install, and run the commands

    show tables;
    desc kimai2_users;

[2021-09-29 11:34] thisfro commented on #296
[code]

[code]

[2021-09-29 12:36] tobybatch commented on #296
So the column is missing. looks like a migration didn't get run.

[code]

[2021-09-29 12:55] thisfro commented on #296
Yeah, I already tried that, but it seems (partially?) executed:
[code]

[2021-09-30 12:12] kevinpapst commented on #296
What is the output of `SELECT * FROM migration_versions`?

[2021-09-30 12:26] thisfro commented on #296
[code]
Looks like it never ran another migration after installation

[2021-09-30 12:35] kevinpapst commented on #296
The version `Version20200725213424 ` indicates that you installed Kimai in November 2020 with a Version between 1.10 to 1.13. But you have at least the bookmarks table, which is created with migration `Version20210316224358` in Kimai 1.14, but not mentioned in the migrations table.
That is weird and I have no clue how you got into that un-synced state. But reading your initial posting indicates th

[2021-09-30 12:58] kevinpapst commented on #296
It must have run, because of the existing bookmark table. But for some reason it does not show in the migrations table...
You are not the first docker user with that problem.

@tobybatch `bin/console kimai:update` is idempotent, it always runs on start/up?

[2021-09-30 13:45] tobybatch commented on #296
https://github.com/tobybatch/kimai2/blob/main/assets/startup.sh#L39

Yes it is.

[2021-09-30 13:48] kevinpapst commented on #296
So strange, I have never experienced the problem myself.
But from time to time users report the bug that there are missing migrations in the db (not saying it is always docker users though, there was just someone else this week - I guess it simply pops up after a new release).

[2021-09-30 16:12] thisfro commented on #296
I tried that, but it tells me
[code]
Which is weird, since `bin/console doctrine:migrations:list` shows me it's there:
[code]
Could it somehow be that it looks at a wrong directory and the startup script just failed silently?

[2021-09-30 17:27] kevinpapst commented on #296
Wait, if you use `bin/console doctrine:migrations:version --add  20210316224358` is says `Could not find migration version 20210802174320`. Its becoming even more interesting...

Try `bin/console doctrine:migrations:version --add  DoctrineMigrations\\Version20210316224358`, seems the format changed in the last update.

[2021-09-30 18:33] tobybatch commented on #296
or there is something screwy about the mounted folders .

Just to be sure, you are running `bin/console` inside the running container right?

[2021-09-30 18:55] thisfro commented on #296
That did the trick! I ran all migrations:
[code]

And I can edit my user and login again :)

But it is still weird that it migrated some things but not all apparently...

[2021-09-30 19:14] kevinpapst commented on #296
Not really, you told the framework that you ran them manually. I hope you checked that this is the case, otherwise you made it worse.

[2021-09-30 19:28] thisfro commented on #296
I think I only added one migration manually and the rest was actually done by `bin/console doctrine:migrations:migrate`

If it made things worse, I had a backup ofc :)

Thanks anyway!

[2021-10-01 08:07] #296 closed, assigned to nobody

[2021-10-01 08:37] csageder opened #298 "No Docker Image for 1.15.2 at docker hub"
**Describe the bug**
There has been a bug fix release 1.15.2 but no new docker image was published to the official docker hub (https://hub.docker.com/r/kimai/kimai2).

[2021-10-01 09:00] tobybatch commented on #298
I'm waiting for my co-contributors to review the PR.

https://github.com/tobybatch/kimai2/pull/297

Hang on...

[2021-10-01 09:08] tobybatch commented on #289
@pbek I'll close this and roll it into #290 as it's part of that enhancement.

[2021-10-01 09:08] #289 closed, assigned to nobody

[2021-10-01 09:14] tobybatch commented on #298
I just forced it through.

[2021-10-01 09:14] #298 closed, assigned to nobody

[2021-10-01 09:17] csageder commented on #298
thanks for the fast response

[2021-10-01 09:26] pbek commented on #289
Thanks again for this great Docker image!

[2021-10-19 01:31] gerroon opened #300 "[BUG] "/opt/kimai/public/" is forbidden,"
Hi

I cloned the repository and using the docker-compose file. I only modified the volumes and port (from 8001 to 18001) The containers start fine as far as I can tell but when I try to acces the page at `IP:18001` I am getting the  forbidden message.

I even tried 777 on the folder, that did not help. I wont be serving this over the web so 777 is ok for my testing here.

[code]

[2021-10-19 09:42] tobybatch commented on #300
It would be easier to debug if you had filled in the issue template. I have no idea which image you are using on which OS with what volumes.

You have permissions wrong in the container. 777 should have worked but I can't see how it is mounted. I need (at least) the docker-compose file with pwords redacted.

[2021-10-19 16:03] gerroon commented on #300
Hi

I am using Docker on Debian Testing, docker-compose version 1.22.0, build f46880fe, Docker version 20.10.8, build 3967b7d

As far as I can tell `ls public`is empty, no files are in there.

[code]

Here is the Docker file

[code]

[2021-10-20 09:10] tobybatch commented on #300
I suspect that your public folder existed before you started the containers and it is a file system rather than a docker volume mount.

Lets start by fixing your install. It's not one I have seen before. This should work.

In the directory that holds the `public` dir:

[code]

This should copy a copy of the public files from a working kimia into your public folder.

[2021-10-20 15:43] gerroon commented on #300
Hi

Thanks for your help,  I think that issue is resolved but I still can't access it properly.

I am still using the docker-compose I posted above.

[code]

[code]

[2021-10-20 15:52] tobybatch commented on #300
https://tobybatch.github.io/kimai2/troubleshooting.html#500-server-errors

[2021-10-20 15:52] #300 closed, assigned to nobody

[2021-10-24 19:35] derdeagle opened #302 "Question: Delayed docker images for release"
Hi,

I posted the question below in an official Kimai2 discussion and was redirected here, please find my question below.

I wanted to ask whether it is intentional that (as of now) for some releases there is no docker image available. The latest image version on Docker hub currently available is 1.15.2 while 1.15.6 is the latest release.
Are there currently any blocker to release new images or is

[2021-10-25 08:29] tobybatch commented on #302
I just hadn't noticed the new releases, I was busy with my day job.

The 1.15.6 release is building now. It should be available later today.

[2021-10-25 16:56] derdeagle commented on #302
Thank you very much for your fast action!

[2021-10-26 14:25] Apfelwurm commented on #302
Do you have reasons why you release it manually or could you use help to automate the task in the future ? :)

[2021-10-26 14:39] kevinpapst commented on #302
Automation is king and we want it. In the past there were limitations on cross project events in Github actions. So my release couldn't trigger a build here. Do you happen to know if that changed?
If you have input how to build an automation pipeline, yes please: share it! 👍

[2021-10-26 19:02] Apfelwurm commented on #302
especially when you have access to both repositories it should be pretty easy using https://github.com/marketplace/actions/dispatch-action like this:

create a personal access token on the Docker repository and store it into the PERSONAL_ACCESS_TOKEN secret and also your DOCKERHUB_USERNAME and DOCKERHUB_TOKEN secret

Kimai2 Repository side:

[code]

Docker Repository side

[code]

the hacky altern

[2021-10-26 19:34] derdeagle commented on #302
That'd actually be really nice!

[2021-10-27 07:25] tobybatch commented on #302
And.... It's not just a docker build, I also test the images and there are 4 different builds and when we first started this I ran out of execution time on github.

We have got a lot better at streamlining the builds and Kevin and I where just starting a discussion about automating the process.

[2021-10-27 07:27] tobybatch commented on #302
Oh and I second Kevin's :+1: please share a working solution for us if you have one. It would need to be a push from @kevinpapst I think.

[2021-10-27 10:06] Apfelwurm commented on #302
@tobybatch I think i provided two possible solutions above or is anything wrong with them?
Ofc when you currently test stuff manually before the publishing, that has to be automated before an automated build and push makes sense.

You can split the build and the push command with single actions to implement tests inbetween.

The limits of the github ci changed quiet a bit, so you can (more details

[2021-10-27 10:11] kevinpapst commented on #302
You two, please could you have a look at #304 ?

[2021-10-28 08:54] tobybatch commented on #302
@Apfelwurm When I first looked at GH actions the limits were way lower and we had a less efficient build process. We were busting the individual job limit. I did have it working in a local jenkins but that machine got repurposed by child #1 as a minecraft server.

The tests are a shell script but depend on a different docker to supply the DB for the images. I'll try and do those next. If you want

[2021-10-28 08:57] kevinpapst commented on #302
I thought it's about the fun when things work out the way you planned 😁

[2021-10-28 09:03] tobybatch commented on #302
Oh, don't get me wrong, I **love** automation. I'd love a job in dev ops. But Randal Monroe has a way of seeing stuff that I love. And every time I start writing an automation script I remember that comic.

:)

[2021-11-09 19:13] DustyArmstrong opened #307 "Plugin Errors"
**Describe the bug**

When trying to install a plugin, the plugin is detected however gives the following error from the logs.

`Uncaught PHP Exception Doctrine\DBAL\Exception\TableNotFoundException: "An exception occurred while executing 'SELECT COUNT(*) FROM kimai2_expense_category t0 WHERE t0.visible = ?' with params [1]: SQLSTATE[42S02]: Base table or view not found: 1146 Table 'kimai.kimai2_e

[2021-11-09 19:15] DustyArmstrong commented on #307
I'm stupid, I forgot to run:

`bin/console kimai:bundle:expenses:install`

[2021-11-09 19:15] #307 closed, assigned to nobody

[2021-11-12 01:12] DustyArmstrong opened #309 ".env File Query"
This isn't a bug but rather for me to understand the functionality.

I'm adding a plugin ([Easy Backup](https://github.com/mxgross/EasyBackupBundle)) and it uses the .env file to read the parameters to connect to the SQL database. I appreciate I am partially asking about a different repository. My .env file appears to be default:

`DATABASE_URL=mysql://user:password@127.0.0.1:3306/database?charset

[2021-11-12 08:55] tobybatch commented on #309
So there are more than one .env file involved here. The .env file that sits alongside the docker-compose.yml populates environment variables in the docker-compose.

The `environment` section of the docker-compose will set env variables in the running container, **if** they are specified in the `Dockerfile`, e.g. https://github.com/tobybatch/kimai2/blob/main/Dockerfile#L216

What you want is achiev

[2021-11-12 23:29] DustyArmstrong commented on #309
Thank you for the comprehensive answer. I have a test environment I can try this out with to see what the Easy Backup plugin is doing specifically as well. It's also looking for `git rev-parse HEAD` which I assume is another case of `RUN apk install git` or similar. I would plan to use the `fpm` version. I have the plugins location mounted as a volume for persistence currently and for easier manag

[2021-11-13 09:20] #309 closed, assigned to nobody

[2021-11-16 11:46] #290 closed, assigned to nobody

[2021-11-27 05:54] bt35 commented on #161
Hey All! I spent a good bit of time dealing with the error that Mebus saw.

Below in the list is what happened and also what I think also happened for Mebus. Though I am making an assumption that Mebus had the same exact problem I did. Assumptions you know? Apologies if I assumed wrongly and please pay close attention to the sentence marked with [*] if I did assume wrongly.

1. I did several docke

[2021-11-28 18:38] tobybatch commented on #161
The mysql image isn't anything to do with the kimai image, we just use it to store data.

Can you run the mysql command stand alone and have it connect, e.g.

    docker run --name some-mysql -e MYSQL_ROOT_PASSWORD=my-secret-pw -d mysql:tag

 1. Which docker-compose file are you you using? I can't see attached.
 2. Which passwords? I can see and examples of where the passwords are listed
 3. Which

[2021-11-29 03:02] bt35 commented on #161
Thanks for writing back. In short you need do nothing.

All I was trying to do was help others not make the same mistake I did. I used the same compose file as is in the github repo but modified the passwords, poorly.

More precisely, I set the mysql image kimaiuser password to "X" and did not set that password in the Kimai section of the compose file. Then I made things worse by changing the mysq

[2021-11-30 14:52] mariokorte commented on #302
Hey there, could you please release the newest 1.16 build as a docker image?

[2021-11-30 14:56] kevinpapst commented on #302
The release actions [were triggered](https://github.com/tobybatch/kimai2/actions). Maybe we should for now simply send a reminder email to @tobybatch that a new release is available? 😁

[2021-11-30 15:46] tobybatch commented on #302
Yes @kevinpapst . Sorry just too busy to fix it ATM. Email me and I'll do it by hand. It only takes 2 secs

[2021-12-02 15:01] muzammil22 opened #315 "This page isn’t working - HTTP ERROR 500"
I deployed the app on shared hosting by creating a folder inside public_html. composer install worked fine.
I want to know if I still want to serve this app using Synology or it can work in this scenario ?

Steps to reproduce the behaviour:
1. Git clone kimai
2. Composer install

**Desktop (please complete the following information):**
 - standard shared hosting where I host my Wordpress websites

[2021-12-02 18:52] muzammil22 commented on #315
So I have an update. I installed Symfony in my directory. Now when running " bin/console kimai:install -n" it returns
"There are no commands defined in the "kimai" namespace.:

Please advise.
Thanks.

[2021-12-02 20:12] #315 closed, assigned to nobody

[2021-12-02 20:15] tobybatch commented on #315
I think you are in the wrong place. This repo just handles the docker image for kimai. You want https://github.com/kevinpapst/kimai2/issues

But I do know that kimai wants to be at the root of a domain, not in a sub folder.

[2021-12-02 20:27] muzammil22 commented on #315
Apologies. I didn't know that. Will post it in the other thread.

[2021-12-04 23:43] jbgrobelny opened #316 "Question: Could not connect to 127.0.0.1:9000"
I have Kimai up and running fine, used apache prod. attached to existing MariaDB. Kimai works fine no issues except status of container is unhealthy with error  Could not connect to 127.0.0.1:9000.  Can ping 127.0.0.1 from container but not 127.0.0.1:9000  ( ping: 127.0.0.1:9000: Name or service not known ). any ideas?
Thanks Joe

[2021-12-07 07:50] csageder opened #317 "Call to undefined function cal_days_in_month()"
**Describe the bug**
I have installed the newest version of the Controlling Plugin. This Plugin uses the php function` cal_days_in_month()`.

**To Reproduce**
Steps to reproduce the behaviour:
1. Start the container
2. Execute a shell within the container
3. Within the shell run `php -a`
4. Run `echo cal_days_in_month(CAL_GREGORIAN, 8, 2003);`
5. The result is the following error message:
[code]

[2021-12-07 08:56] tobybatch commented on #317
So it seems that PHP needs to be built with calendar support enabled.

https://stackoverflow.com/questions/49612838/call-to-undefined-function-cal-days-in-month-error-while-running-from-server

I try to avoid adding too many extensions to support third party plugins. Once I start every plugin author wants a slightly different PHP set up. :)

However... Adding calendar support to a time tracking ap

[2021-12-07 08:57] tobybatch commented on #316
Please fill in a bug ticket. I can't even tell if you are using the apache or fpm image.

https://github.com/tobybatch/kimai2/issues/new?assignees=&labels=&template=bug_report.md&title=%5BBUG%5D+

[2021-12-07 08:57] #316 closed, assigned to nobody

[2021-12-07 09:57] kevinpapst commented on #317
Yeah or the method is replaced by a one line solution from php.net:
https://www.php.net/manual/de/function.cal-days-in-month.php#38666

[code]

@tobybatch I never needed any of those method in over 10 years of development around Kimai...

I checked a couple of systems, they all have calendar compiled in, so it is not a very exotic extension. BUT: Kimai composer does not require it. And it is not m

[2021-12-07 11:14] tobybatch commented on #317
@kevinpapst Yeah, I saw that too. It's being used by the `Controlling Plugin`. We don't build PHP for the container. If it's an option form the underlying mages then it's trivial to add, else out of scope. In that case it's a feature request for the plugin.

I'll look when I get time.

[2021-12-07 16:51] j0hannesr0th commented on #317
Hi @tobybatch I'm the creator of the `Controlling Plugin`. How are we going to resolve this?

Red pill: I'll test the suggest function of Kevin or find an other solution
Blue pill: You add support for the calendar functions of PHP

Hope you are a Matrix fan, too and get the reference 😉

[2021-12-07 17:46] csageder commented on #317
@tobybatch Adding the extension seam to be straight forward.
If I understand the strategy right a new extension image is created, and then only the resulting files are copied to the base image

[code]

And adding in the `base` image

[code]

Is this right?

[2021-12-08 09:07] tobybatch commented on #317
@csageder Yes that's totally right. I just wonder if the better solution isn't to remove the dependency on a custom php compilation in the plugin, using Kevin's solution.

I don't mean to be an arse, but each extension has some size to it:

[code]

and in if I build this one in then the next extension that need a custom build wants that one built in too and I may just as well build _all ~60_ of th

[2021-12-08 09:16] tobybatch commented on #317
You could extend our image if you need a custome ext.

Something like

[code]

This isn't tested but should work.

[2021-12-08 09:23] tobybatch commented on #317
@Schrolli91 @jokay Opinions please?

[code]

Pro:

 * It's only 41k
 * A plugin requires it

Con:
 * Does it set a president for add other php extensions (there are ~60)
 * It's not a core requirement for kimai
 * There is a work around.

[2021-12-08 09:52] Schrolli91 commented on #317
Users with special needs should create their own images - they can use this repo as base.
Otherwise we have to ship the image with ALL possible extension.

IMHO

[2021-12-08 09:57] jokay commented on #317
@tobybatch I'm sorry but I have very limited time and can't support the Docker image developmenet for kimai2 anymore.

For this case, I would say the same as @Schrolli91.

- Keep it as it is as long as it's not required by kimai2 *(only install extensions required by kimai2)*

or

- Provide an image with all required extensions for all possible plugins *(difficult to maintain)*

[2021-12-08 10:02] Schrolli91 commented on #317
@tobybatch
Maybe we can add a section in the docs - "how to build a custom image" - like your proposal above.

[2021-12-11 20:10] r0l1 opened #318 "[BUG] Mismatching build tags"
There seams to be a mismatch:
- Latest pushed images are 1.15.3 images (8 days ago), although the latest major and minor version is 1.16
- The `latest` build tag shows to `fpm-1.15.3-prod`, however it should be 1.16.8
- The 1.16.8 release is missing
Did I miss anything?

[2021-12-19 07:38] tobybatch commented on #318
No that's my fault, I built some missing images by hand. Should be fixed now,

[2021-12-19 07:38] #318 closed, assigned to nobody

[2021-12-19 14:43] ZoXx opened #319 "+0000 "GET /ping" 404[BUG]"
Hello all,

I have implemented the Docker version via Portainer.
All variables are implemented, Docker starts, writes to the database but at the end I only get the error mentioned above.

When I call the port on my end, I also get only ERR_EMPTY_RESPONSE.

Is there a bug or is there an incorrect configuration on my part?

Many greetings

My log:

My env:

[2021-12-19 20:36] tobybatch commented on #319
I haven't used portainer for several years so I'm not sure how to help.

Can you screenshot the portainer setup?

Where is your dB hosted?

Which image are you using?

[2021-12-20 09:08] ZoXx commented on #319
Good morning,

No problem.
[https://www1.xup.in/exec/ximg.php?fid=75240597](https://www1.xup.in/exec/ximg.php?fid=75240597)
[https://www1.xup.in/exec/ximg.php?fid=61007649](https://www1.xup.in/exec/ximg.php?fid=61007649)

Also in Docker. The data is also written to the database.

kimai/kimai2:latest

[2021-12-20 16:27] tobybatch commented on #319
I can't see those screen shots. They seem secured.

[2021-12-20 17:28] ZoXx commented on #319
Strange. They are public.
We try another hoster.
Here we go:
[https://i.postimg.cc/BnX6ZR7g/SCREEN1.jpg](https://i.postimg.cc/BnX6ZR7g/SCREEN1.jpg)
[https://i.postimg.cc/52TtXpZM/SCREEN2.jpg](https://i.postimg.cc/52TtXpZM/SCREEN2.jpg)

[2021-12-21 09:14] r0l1 commented on #318
Alright! Thank you

[2021-12-21 18:14] tobybatch commented on #319
Sorry, they don't really help. Can you run `docker ps -a` and post the results please?

[2021-12-21 21:31] ZoXx commented on #319
Hey,
am no longer at the PC until tomorrow evening. Why does not it help? Everything is visible on both screens from settings to env. What else do you need specifically? The docker listing doesn't help to find the problem or?

Thank you for your Support :)

[2021-12-22 15:06] ZoXx commented on #319
- 5182c861beb7   kimai/kimai2:latest             "/bin/sh -c /startup…"   3 days ago    Exited (255) 2 days ago   0.0.0.0:8001->8001/tcp, 9000/tcp                                                         Kimai
- 5e9f65b7a18e   mysql:latest                    "docker-entrypoint.s…"   3 days ago    Up 18 minutes             0.0.0.0:3306->3306/tcp, 33060/tcp

[2021-12-23 19:52] ZoXx commented on #319
Any news? :(

[2021-12-24 12:29] tobybatch commented on #319
Hah! it was obvious, I should have seen it earlier. You are running the FPM version without a web server. You need to add an nginx reverse proxy to serve the pages, or swap to the Apache image that bundles the web server.

[2021-12-24 12:53] ZoXx commented on #319
that makes sense! Can you link the docker with apache? Or the docker pull?
Have a nice christmas and thank you so much!

[2021-12-24 14:49] tobybatch commented on #319
I think for you just swap the tab for the kimai from fpm to apache

[2021-12-24 15:21] ZoXx commented on #319
Now I can no longer follow.
Can I change the .env variables or do I need to use a different image? If so which one?

[2021-12-24 16:02] tobybatch commented on #319
Sorry. Remove the existing kimai image and replace it with apache-prod. Don't change anything else, all the environment variables should not need to change.

[2021-12-24 18:05] ZoXx commented on #319
After I changed the image, it now runs clean. Thank you very much!

[2021-12-24 20:34] #319 closed, assigned to nobody

[2022-01-12 14:30] rjanossy opened #331 "Quick start doesn't work for me (https://tobybatch.github.io/kimai2/)"
Hi,
After starting the mysql container:

docker run --rm --name kimai-mysql-testing -e MYSQL_DATABASE=kimai -e MYSQL_USER=kimai -e MYSQL_PASSWORD=kimai -e MYSQL_ROOT_PASSWORD=kimai -p 3399:3306 -d mysql

I can connect to the mysql server like this :

mysql --host=127.0.0.1 --port=3399 -u kimai -p

and I see the kimai database

+--------------------+
| Database
+--------------------+
| information_

[2022-01-12 14:33] kevinpapst commented on #331
Port 3399 = host port
Port 3306 = port inside docker
Conclusion: adjust your DATABASE_URL

[2022-01-12 14:48] rjanossy commented on #331
THX Kevin,

Do you mean DATABASE_URL=mysql://kimai:kimai@127.0.0.1:3306/kimai ?

This gives the same error:
Testing DB:** new \PDO(mysql:host=127.0.0.1;dbname=kimai;port=3306, kimai, kimai, [ \PDO::ATTR_ERRMODE => \PDO::ERRMODE_EXCEPTION ]);*SQLSTATE[HY000] [2002] Connection refused (?)Checking DB: 10

Robert

[2022-01-12 14:56] rjanossy commented on #331
Solved!

I had to use the mysql  -container-ip 172.17.0.3

docker run --rm --name kimai-test -ti -p 8001:8001 -e DATABASE_URL=mysql://kimai:kimai@**172.17.0.3:3306**/kimai kimai/kimai2:apache

Thank you Kevin!
Robert

[2022-01-12 14:56] #331 closed, assigned to nobody

[2022-01-15 06:28] fsdgadfase opened #332 "Quick start example hindered by mysql timeout"
**Describe the bug**
Quick start example won't launch an instance of the server due to mysql timeout.

**To Reproduce**
Change to user in docker group (in my case root on test server).

Execute following command to start mysql docker container:
[code]

No errors were returned.

Launch an instance of kimai2, by executing:

[code]

The terminal prompts me the following output:
[code]
The latter line

[2022-01-17 18:29] tobybatch commented on #332
So in the command that starts the mysql container you are forwarding port 3399 into 3306, but in the DATABASE_URL you specify 3306 as the port.

Try changing the DATABASE_URL to `DATABASE_URL=mysql://kimai:kimai@${HOSTNAME}:3399/kimai`

[2022-01-24 07:46] mariokorte commented on #302
Hey there, could you please release the newest 1.17 build as a docker image? Thanks a lot!

[2022-01-25 12:49] whoisbarry commented on #16
✔️  I mounted my **local.yaml** file to `/opt/kimai/config/packages/local.yaml` with the following code.

[code]

:x: Unfortunately I am still able to register new users via the web interface.
:wrench: The settings don't show any hint to disable user registration either.

❓ How can I disable that?

[2022-01-25 12:51] kevinpapst commented on #16
Admin > Settings:
<img width="333" alt="Bildschirmfoto 2022-01-25 um 13 51 13" src="https://user-images.githubusercontent.com/533162/150980196-94165a0d-fdf0-400e-b0cc-8e7608fa6faf.png">

[2022-01-25 14:04] whoisbarry commented on #16
I can't see these settings in my Admin panel.
Forgot to mention that I had to use [bkraul/kimai2](https://hub.docker.com/r/bkraul/kimai2) image, since the original kimai2 docker image did not come up with a web-ui.

[2022-01-25 14:06] kevinpapst commented on #16
This is a closed issue and you are running a 2 year old docker image that we don't know...

[2022-01-25 16:10] whoisbarry commented on #16
I managed to get this to work with [kimai/kimai2:apache](https://hub.docker.com/layers/kimai/kimai2/apache/images/sha256-4aef5d22b4e91d726d21fc28aad9469882f7a7e11427d4dcc83c6a3060a6f478?context=explore) image.

From internal networks this works great with calling [http://localhost:8001](http://localhost:8001), now I can see the authentication settings.

But when trying to access the web interface

[2022-01-25 16:43] whoisbarry commented on #16
Figured it out, issue was caused by the TRUSTED_PROXIES entries.

[2022-01-25 22:34] kevinpapst opened #334 "Build failure"
Hi Toby,

the last three builds from releases failed:
https://github.com/tobybatch/kimai2/runs/4943730262?check_suite_focus=true

Could you build manually this time?

Thanks :)

[2022-01-26 09:41] tobybatch commented on #334
Will do. It looks like it's JSON not being escaped correctly

[code]

[2022-01-26 10:09] tobybatch commented on #334
Released by hand

[2022-01-26 10:09] #334 closed, assigned to nobody

[2022-01-26 10:19] #317 closed, assigned to tobybatch

[2022-01-27 11:42] ymarkus opened #335 "[BUG] Failed to connect to LDAP server"
**Describe the bug**
For some reason kimai will not connect to my Samba AD. There is not even a connection attempt logged in the samba server, so I guess it's either a bug or a config issue on my end.

**To Reproduce**
Steps to reproduce the behaviour:
1. Start the container with my config file below
2. Try to login with domain user
3. "Authentication request could not be processed due to a system

[2022-01-27 16:30] DerpgonCz commented on #335
Hello, I also found out LDAP does not work. And this was a peculiar one.

Docker uses PHP 8.1+, this is important because of [this](https://www.php.net/manual/en/function.ldap-connect.php#:~:text=Returns%20an%20LDAP%5CConnection%20instance%20now%3B%20previously%2C%20a%20resource%20was%20returned).

The package, `laminas/laminas-ldap`, while claiming to work with PHP 8.1 (as specified [here](https:

[2022-01-28 11:19] tobybatch commented on #335
Thanks @ymarkus and @DerpgonCz

The LDAP stuff hasn't been looked at for some time (years?). This is a core Kimai bug no a container one. BUT I was the person who did the early work that got LDAP into the core product.

I'll check this with @kevinpapst and we'll see if we can fix it.

Is there any chance one of you could install a native copy of Kimai and follow the instructions here: https://www.

[2022-01-28 11:37] kevinpapst commented on #335
This is an upstream bug in Laminas LDAP and not in Kimai.
But you can "easily" (I hope it is easy) workaround by using PHP 8.0 in the container.
Which should be done anyways, because Kimai never announced 8.1 compatibility 😁

[2022-01-28 11:49] tobybatch commented on #335
:vulcan_salute: Over eager dependabot. I'll roll back the php version and re-build the current images

[2022-02-04 11:21] #335 closed, assigned to nobody

[2022-02-12 12:22] ravensorb opened #341 "Currency Symbol should reflect currency setting"
**Describe the bug**
Not sure if this is a bug or a feature request.  Right now it seems that all of the currency fields show the Euro Symbol regardless of what currency is set for the customer or project.  If this is a feature request, then it would be great if it was possible to set the default currency for the system and then the symbol should reflect the selected currency.

**To Reproduce**
St

[2022-02-12 12:50] tobybatch commented on #341
@kevinpapst Any ideas?

This feels like it's a settings thing. We only containerise the Kimai application but it could be an issue with the server set up in the container. Write permissions or something like that.

Is it the apache or fpm version?

I'd like to see your `docker-compose.yml` or the command you use to start the docker if that's possible?

[2022-02-12 12:54] kevinpapst commented on #341
The only reason why this could be a docker issue is invalid ICU data and I highly doubt that.
This is most certainly a misunderstanding how Kimai works or the usual "I did not select a customer, so the currency is unknown for now" problem.
Re-post in the correct repository at https://github.com/kevinpapst/kimai2 - closing here.

[2022-02-12 12:54] #341 closed, assigned to nobody

[2022-02-12 13:17] ravensorb commented on #341
Found it -- looks like it was a combination of a browser cache issue and the symbol defaults to the Euro when loading up.  Shows correct when going back in and editing it.

[2022-02-14 08:51] ballj opened #342 "[FEATURE] Add Redis Support"
**Is your feature request related to a problem? Please describe.**
Add the php redis packages in for caching. It is a support Kimai feature here: [Using Redis for caching](https://www.kimai.org/documentation/redis.html)

**Describe the solution you'd like**
Add the php packages required to enable redis caching

**Describe alternatives you've considered**
N/A

**Additional context**
If the Redis co

[2022-02-14 16:57] SIXASIS opened #343 "[BUG] Question - Outdated version un About"
**Describe the bug**
Hi, after upgrading the docker, to the newer version of Kimai and after installing a new docker with the latest version, i found that the About keeps saying: 1.14.1 stable (Ayumi)  instead of 1.17.1 as it shows in the demo version at the Kimai oficial website.

[2022-02-14 18:48] idonos opened #344 "An exception occurred in driver: SQLSTATE[HY000] [2002] No such file or directory"
Hi :)

We're trying to setup the production image (https://hub.docker.com/r/kimai/kimai2) in our AWS cloud.

When running the container we get

_Wait for MySQL DB connection ...
Testing DB:** new \PDO(mysql:host=kimaitimetracking.[ACCOUNT_ID].eu-central-1.rds.amazonaws.com;dbname=kimai;port=3306, [USERNAME], [PASSWORD], [ \PDO::ATTR_ERRMODE => \PDO::ERRMODE_EXCEPTION ]);*Connection established
An

[2022-02-14 19:35] tobybatch commented on #344
TRUSTED_HOSTS is only needed for web requests, so it's not that.

[code]

So it is a DB related issue.

It's being thrown here: https://github.com/tobybatch/kimai2/blob/main/assets/startup.sh#L29

[code]

It should loop until dbtest.php exits with a 0 code, so lets look in there. https://github.com/tobybatch/kimai2/blob/main/assets/dbtest.php#L14

[code]

That is not throwing an exception. Assumin

[2022-02-14 19:36] tobybatch commented on #343
Can you make sure you have pulled the latest tag please. We are moving to automated deployments and I did the last one by hand. I may have messed up the version number but I have just rebuilt and pushed all the images.

[2022-02-14 21:34] SIXASIS commented on #343
Ill double check,
but i followed the upgrade procedure and the version still showed the 14.1 in the about, but the newer pluging got installed, and those plugings didnt work with 14.1.

So i deployed a second version following the installation steps just to validate if it was my mistake during the upgrade, and it also showed 14.1

But ill try to deploy a 3rd time just to ensure im not making a mis

[2022-02-15 07:50] tobybatch commented on #343
Can you share the `docker-compose.yml` or command you use to start the container please? I will then pull and check that image.

[2022-02-15 09:21] tobybatch commented on #343
[code]

[2022-02-15 12:33] SIXASIS commented on #343
Yes, this is the docker compose

version: '3.5'
services:

  sqldb:
    container_name: kimai_db_testing-NP
    image: mysql:5.7
    environment:
      - MYSQL_DATABASE=kimai
      - MYSQL_USER=kimai
      - MYSQL_PASSWORD=kimai
      - MYSQL_ROOT_PASSWORD=kimai
    volumes:
      - mysql:/var/lib/mysql
    command: --default-storage-engine innodb
    restart: unless-stopped
    ports:
      - 339

[2022-02-15 16:09] tobybatch commented on #343
I don't know where you are getting that image from :(

[code]

Can you run `docker pull kimai/kimai2:fpm` and post the output please?

Or try using `kimai/kimai2:latest`

[2022-02-15 17:33] idonos commented on #344
Yes, I redacted the credentials and connection string.
I was able to shell into my container.

The file you were speaking of is located on root.

_root@ip-10-0-5-239:/# ls
bin  boot  composer  dbtest.php  dev  etc  home  lib  lib64  managed-agents  media  mnt  opt  proc  root  run  sbin  self-test.sh  srv  startup.sh  sys  tmp  use_apache  usr  var_

I ran the php script and this is the output:
_r

[2022-02-15 19:02] SIXASIS commented on #343
Well, after pulling the image again, it worked and showed the version 1.17.

Thank you!

El mar, 15 feb 2022 a las 13:09, Toby Batch ***@***.***>)
escribió:

--
Saludos,

Nicolás A. Paramá

[2022-02-15 19:05] idonos commented on #344
To make sure my connection is really working I've installed mysql cli on my container.

root@ip-10-0-52-117:/# mysql -h kimaitimetrackingdatabase.[ACCOUNT_ID].eu-central-1.rds.amazonaws.com -u [USERNAME] -p
Enter password:
Welcome to the MariaDB monitor.  Commands end with ; or \g.
Your MySQL connection id is 60
Server version: 5.7.34-log Source distribution

Copyright (c) 2000, 2018, Oracle, Mari

[2022-02-22 13:40] idonos commented on #344
I found out what the problem was.
PHP PDO was unable to parse the password which was generated by AWS.

I've generated a new password and now the container does start.

[2022-02-23 08:24] tobybatch commented on #344
Thanks for letting me know.

[2022-02-23 08:24] #344 closed, assigned to nobody

[2022-02-23 08:24] #343 closed, assigned to nobody

[2022-03-04 13:17] philipp65 commented on #273
`/etc/nginx/conf.d/default.conf` shows that `kimai` is hardcoded.

For me the solution was either renaming the container to `kimai` or custom mounting my own `default.conf`.

[2022-03-04 13:21] philipp65 commented on #279
Here's my working traefik config for the reverse proxy:

`docker-compose.yml`
[code]

`.env`
[code]

[2022-03-05 16:19] chernesk commented on #273
@philipp65 Could you please detail what you did to get this working. I'd love to not have to reinvent the wheel. Can you post your docker-compose.yml in here or the steps that you went through?

Thank you!

[2022-03-08 14:24] keestux opened #351 "Docker images tagged apache and apache-dev are the same"
The docker images for `kimai/kimai2` tagged `apache` and `apache-dev` are currently identical. Is this on purpose?

And while we're at it, if I want to run `make` I first have to create a `.env` file. It is not documented what it should contain. I'm guessing that `TIMEZONE` and `KIMAI_VERSION` can be filled in.
[code]
After running `make` I get four tags:
[code]

[2022-03-08 16:09] tobybatch commented on #351
On the .env you are correct, in fact just the KIMAI_VERSION is all you _need_

As for the images we are migrating to an automated build system. The tagging should happen here:

https://github.com/tobybatch/kimai2/blob/main/.github/workflows/kimai-release.yml#L66

So there are some duplicate image tags, that's to support legacy naming, but the apache and apache-dev should be different. I'll look in

[2022-03-08 22:05] NK0D1NG commented on #273
Sorry for reopening this but I experience the exact same problem using the docker-compose file with Docker Swarm:
`nginx: [emerg] host not found in upstream "kimai" in /etc/nginx/conf.d/default.conf:24`

I already sh'd to the running container and did a ping and nslookup for kimai which is working fine. The kimai service is responding correctly and is reachable. Does anyone know what the problem i

[2022-03-08 22:20] NK0D1NG opened #352 "Kimai2 Apache Service is looping installation / update[BUG]"
**Describe the bug**
I got Kimai2 up and running in a Docker Swarm Cluster. It was running for some hours. But now the Service just keeps restarting the init/update procedure. The service container does not get up healthy correctly anymore (replicated 0/1). The database service is up and running perfectly without problems.

**To Reproduce**
Steps to reproduce the behaviour:
1. Use the Apache image

[2022-03-09 07:44] NK0D1NG commented on #352
For me the error seems to be in the startup.sh:
[code]

It seems like everything after the if-clause is not reached, because those echo commands are never output to the console. MAybe the kimai:update fails but does not output any errors?

[2022-03-09 09:37] tobybatch commented on #273
This isn't an issue with the container but the config. Your kimai instance does not have a the name `kimai` inside your cluster si the nginx reverse proxy cannot find it.

If this related to #352 then you need to check your swarm config. I don't use swarm so I can't directly help.

[2022-03-09 09:37] tobybatch commented on #342
@ballj Have you checked the latest images? I think redis support should be baked in now.

[2022-03-09 09:38] #332 closed, assigned to nobody

[2022-03-09 09:47] tobybatch commented on #351
You are completely correct, but I'm not sure why. I'll investigate.

Thank you.

[2022-03-09 09:59] tobybatch commented on #352
I don't use docker swarm so I'm not sure what is happening. but it looks like the image is crashing as it either installs or updates.

Can you try starting the kimai image with `entry-point /bin/sh` then shell in and run the commands in the start up shell by hand?

[2022-03-09 10:33] #351 closed, assigned to nobody

[2022-03-09 12:40] keestux opened #354 "Don't overwrite ports.conf in apache conf"
At the moment the apache listen port is changed to 8001. This is done by overwriting the default `/etc/apache2/ports.conf`.

I suggest to not do that, because it makes no sense inside the docker environment. Plus it destroys the default listen port 443. (More changes are needed to enable ssl.)

Or, is there another reason to overwrite `ports.conf`?

[2022-03-09 14:42] NK0D1NG commented on #352
I tried by addin this in the Docker-Compose File:
[code]

But that leads to the server not being started and I don't see any containers running the image via `docker ps`

[2022-03-09 14:43] NK0D1NG commented on #352
I will try to restart Kimai using simple single Node Docker-Compose without Docker Swarm to get it up and running again. The image does not seem to be able to be run with Docker Swarm.

[2022-03-09 14:54] bellakhal4med opened #355 "Can't connect to my kimai server using my web browser [BUG]"
**Describe the bug**
Hello all,
I'm trying to run the apache prod kimai server using the docker-compose file provided in "https://github.com/tobybatch/kimai2/tree/main/compose/docker-compose.apache.prod.yml" . When I try to connect to the server  on my web browser I get the following error : "Error: connect ECONNREFUSED 127.0.0.1:8001" (I also tried to ping the same address using postman and other

[2022-03-09 17:54] timlegge opened #356 "Question - nginx-fpm versus apache"
We were running an earlier version using the nginx proxy and nginx-fpm but are moving to openshift.  Is there an advantage to continuing to use the nginx proxy and nging-fpm instead of apache?  We were thinking of simplifying to just the apache and mysql database containers/pods.

[2022-03-11 15:18] #342 closed, assigned to tobybatch

[2022-03-11 15:18] #302 closed, assigned to nobody

[2022-03-11 16:39] nicolas-san-martin-palmieri opened #357 "getaddrinfo failed when doing second step of instalation"
I´m following the simple tutorial to install kimai with docker, as explained in https://hub.docker.com/r/kimai/kimai2, but when i execute the step 2, running the kimai instance, i get this error:

![image](https://user-images.githubusercontent.com/101418178/157909035-56803041-c241-4519-8164-c8d8cd468374.png)

I understand it is a problem with the DB URL, but i´ve tried replacing the ${HOSTNAME} wi

[2022-03-11 16:47] nicolas-san-martin-palmieri commented on #357
Found another post with same issue, i had to use the container´s IP address, which was 172.17.0.2

[2022-03-11 16:47] #357 closed, assigned to nobody

[2022-03-11 16:51] tobybatch commented on #355
This is probably the setting for TRSUSTED_HOSTS. Make sure your host name in that env setting.

[2022-03-11 16:52] tobybatch commented on #356
Nginx is faster and lower memory usage, Apache removes the need for an additional container.  It's kind of up to you. I run an Nginx set up but neither is right or wrong.

[2022-03-11 16:52] #356 closed, assigned to nobody

[2022-03-11 17:08] tobybatch commented on #354
There isn't really a good reason to do it, it's just a legacy thing. If I change the internal listen port now I will get _100_s of bugs raised because their installs break. I'll add it as a runtime config option.

[2022-03-11 18:34] keestux commented on #354
Maybe we should leave it as is. For me there is no rush anymore, because I've decided to skip the docker installation. It became too complicated to get a decent solution for SSL

[2022-03-11 20:02] tobybatch commented on #354
Agreed, most people use the nginx solution for production servers. Then the port/ssl config is handled by a separate container.

[2022-03-11 20:02] #354 closed, assigned to nobody

[2022-03-11 21:16] bellakhal4med commented on #355
Hello,
Thank you for your answer. It turned out that I needed to access the server using my computer's IP address not localhost or 127.0.1. This is probably related to my docker-compose setup and not to kimai.
Thanks for the help!

[2022-03-11 21:16] #355 closed, assigned to nobody

[2022-03-12 16:16] calarndt commented on #65
This issue's solution is not complete...
Quoting @urinal-cake
I had another developer that found that if you change
- TRUSTED_HOSTS=localhost,theIpOfYourHost

Excellent solution if one were to know WHERE to change that.
It exists in only in two .json files on my system. Both files buried way deep down inside
/var/lib/docker which to me appears to be the wrong place to change it.

I tried prefacing

[2022-03-13 07:34] tobybatch commented on #65
https://tobybatch.github.io/kimai2/runtime-args.html#runtime-arguments

[2022-03-14 15:28] NK0D1NG commented on #352
I just mentioned that I can't use Docker-Compose if I already use Swarm so I can't try that out. I will try to change the Dockerfile so that the update/install is only triggered if it's neccessary.

[2022-03-15 09:11] tobybatch commented on #352
I try and look at this when I get time but setting up two or three machines in a swarm (which I don't use) will take me a little time and my actual employment is a bit demanding at the moment.

[2022-03-16 03:22] idonos opened #358 "Plugin installation // Symfony: Cannot autowire service"
Hi :)

I have the production docker apache image running on my webserver.
The image is working fine.

In order to install some plugins I've mounted a directory to /opt/kimai/var/plugins/.
The directory contains these plugins (folders):

- VacationBundle
- SickDayBundle
- MetaFieldsBundle-1.21
- ControllingBundle

After restarting the container I get following exception when I try to access the web

[2022-03-16 04:16] #358 closed, assigned to nobody

[2022-03-17 17:30] philipp65 commented on #273
Sorry for the late response. Sure. @tobybatch basically pointed it out already.
**Problem**
I just ran into this issue, because I'm using a different `container_name` than `kimai` for the image `kimai/kimai2:fpm`.
**Reason**
Because of this, `tobybatch/nginx-fpm-reverse-proxy` couldn't find the `kimai/kimai2:fpm` instance.
**Solution 1**
using the hostname which the reverse proxy is looking for
[c

[2022-04-03 20:56] neben commented on #352
@NK0D1NG  Try the newest (1.19.1) image, I have it running without issues on Docker swarm. It did restart though several times before it became stable. Maybe the health check timed out due to strain on the system during update. You can temporarily [disable the healthcheck](https://docs.docker.com/compose/compose-file/compose-file-v3/#healthcheck) for testing:

[code]

@tobybatch you can have a sin

[2022-04-04 10:51] DerpgonCz opened #368 "[BUG] Rate visible in Export, Rate and Internal Rate visible in Print Export"
**Describe the bug**
Even though a user should not be able to view his own rates (neither rate nor internal rate), it is visible in default Export view next to tasks, and subsequently in Print view.

**To Reproduce**
Steps to reproduce the behaviour:
1. Use these permissions for User:
  - `edit_rate_other_timesheet: No`
  - `view_rate_other_timesheet: No`
  - `edit_rate_own_timesheet: No`
  - `vie

[2022-04-04 10:55] kevinpapst commented on #368
This is clearly documented: https://www.kimai.org/documentation/export.html

<img width="809" alt="Bildschirmfoto 2022-04-04 um 12 54 15" src="https://user-images.githubusercontent.com/533162/161529568-e6a02df6-0fad-4701-8c29-a6cdbcfd8d4f.png">

BTW: this repo is only for docker related questions. Come to the official repo for Kimai questions:
https://github.com/kevinpapst/kimai2

[2022-04-04 10:55] #368 closed, assigned to nobody

[2022-04-14 15:12] kevinpapst opened #373 "[FEATURE] Test image for the next major release"
Hi @tobybatch ,

do you think we could work on setting up a docker image for the next major release?
It will probably not be around for a couple of months... but it would be nice to have a test option for all docker users out there.

As Symfony changed their security system I had to rewrite all authenticators.
SAML login seems to work, LDAP as well. But both need some extra attention.
For unexplai

[2022-04-25 07:35] aldas opened #375 "fpm:latest has not been updated 2 months"
https://hub.docker.com/r/kimai/kimai2/tags?page=1&name=fpm

Seems that `docker pull kimai/kimai2:fpm` does not seem to be updated when new releases are tagged. Last image is 2 months old
All other fpm images are 6 days old.

![image](https://user-images.githubusercontent.com/2320301/165041329-8e2ed43f-8ad4-4973-97e9-116cc0bca826.png)
for example:

![image](https://user-images.githubusercontent.com

[2022-04-25 08:02] tobybatch commented on #373
I'm working on this, the move to 8.1 means I need to alter the php lib locations.

[2022-04-27 18:46] rjanossy opened #376 "Upgrade from 1.71.1 to 1.94.1 fails"
Hi,
Upgrade from 1.71.1 to 1.94.1 fails with the following error.

![kimai_error](https://user-images.githubusercontent.com/97611067/165597676-c69f30b9-b2a4-4ce8-b941-a01d39a05b94.jpg)

What can be wrong?
Best Regards,
Robert

[2022-04-28 08:35] tobybatch commented on #376
Can I get the details of which image, OS, docker version etc

[2022-04-28 08:58] rjanossy commented on #376
Hi,
I installed the latest Ubuntu 22.04 LTS on my server. No docker here.
Than followed the instructions here:
https://www.kimai.org/documentation/fresh-ubuntu-20.html

The only difference was here:
git clone -b **1.71.1** --depth 1 https://github.com/kevinpapst/kimai2.git
I wanted to use the 1.71.1 because we have an older system with this version.

1,71.1 was up and running. Then database was re

[2022-04-28 09:00] tobybatch commented on #376
OK, You're in the wrong place. This repo deals with the containerisation of Kimai. You want to be here: https://github.com/kevinpapst/kimai2/issues

[2022-04-28 09:00] #376 closed, assigned to nobody

[2022-04-28 10:13] rjanossy commented on #376
THX for guidance.
BR,
Robert

[2022-05-02 19:19] sgaechter opened #377 "[BUG] Kimai2 apache-latest:"
**Describe the bug**
After Updating the Kimai2 Docker Container to apache-latest the following Error occure when I try to enter the kimai2 Webpage:

coaching_kimai2 | [Mon May 02 21:08:44.486742 2022] [php:notice] [pid 65] [client 127.0.0.1:39316] [2022-05-02 19:08:44] php.CRITICAL: Uncaught Error: Nelmio\\CorsBundle\\EventListener\\CorsListener::__construct(): Argument #1 ($configurationResolver)

[2022-05-02 19:39] kevinpapst commented on #377
Probably an expired cache that is used with the new sources?
Can you run `bin/console kimai:reload` after the update?

[2022-05-02 20:27] sgaechter commented on #377
Hello Kevin. I updated and ran the suggested command:

          LOG
          Reloading configurations ...

           [OK] All 39 YAML files contain valid syntax.

           [OK] All 512 XLIFF files contain valid syntax.

           Rebuilding your cache, please be patient ...

           // Clearing the cache for the prod environment with debug
           // false

           [OK] Cache for th

[2022-05-02 20:44] kevinpapst commented on #377
Hm, something is messed up. Sorry, but I don't know Docker, so I can't really help if the default commands don't work.
Probably upgrading from 1.14 to 1.19 is not supported?

[2022-05-03 07:03] tobybatch commented on #377
@sgaechter Thanks for the bug and fix. We'll keep an eye on this but I think Kevin may be right about the big upgrade jump. When building the container it's always a trade off between run _every_ possible command that may be needed vs keep the process quick and the image small.

[2022-05-03 07:06] tobybatch commented on #377
Are you actually shelled into the container before you run those commands?

[code]

[2022-05-03 09:43] sgaechter commented on #377
Dear all. Thanks for your suggestions. I've updated my Container now from "apache-1.14.1-prod" to "apache-1.14.3-prod" with no issues. I only had had to clear the cache by using

           bin/console cache:clear --env=prod
           bin/console cache:warmup --env=prod

After updating to "apache-1.15.1-prod" I could update every major version step by step, finally, I arrived at "apache-1.19.6-pr

[2022-05-03 09:43] #377 closed, assigned to nobody

[2022-05-18 15:13] #375 closed, assigned to tobybatch

[2022-05-21 21:40] gerroon opened #381 "[BUG] Cant login after docker pull"
**Describe the bug**
I did a docker pull today. I stopped with docker-compose stop. I restarted the containers now I can't login. It says "invalid credentials" I tried both my admin and regular user name.

I am not a pro user so i cant be sure what happened. I do not believe that it would wipe my database :(

**To Reproduce**
Steps to reproduce the behaviour:
docker-compose pull
docker-compose sto

[2022-05-27 08:01] 3isenHeiM opened #383 "[BUG] Quickstart commands do not work"
**Describe the bug**
The quickstart commands detailed in the [README.md](https://github.com/tobybatch/kimai2/blame/main/README.md#L18) do not work as is.

**To Reproduce**
Copy and paste the commands from the README :
1. Start the MySQL container :
[code]
2. Start the Kimai container :
[code]

The container will throw this error :
[code]

I've tried setting the MySQL container name in the docker c

[2022-05-27 14:06] tobybatch commented on #381
So I don't know if it's what's causing the issue but the permissions on your mounted public folder (at least) are wrong.

Try running in same folder as yout docker-compose.yml

[code]

And try again.

[2022-05-27 14:46] tobybatch commented on #383
You are forwarding 3399 into the mysql container, but the DATABASE_URL you are using is set to 3306.

Try

[code]

[2022-05-28 00:39] somesmart opened #384 "I'm getting an error on install [BUG]"
**Describe the bug**
When trying to install via the instructions here: https://hub.docker.com/r/kimai/kimai2
I get the following error on Step 2:
SQLSTATE[HY000] [2002] php_network_getaddresses: getaddrinfo failed: Name or service not known (?)Checking DB: 10

**To Reproduce**
Steps to reproduce the behaviour:
1. Follow the instructions at https://hub.docker.com/r/kimai/kimai2
2. Perform step 2
3.

[2022-05-28 08:26] tobybatch commented on #384
I need to see either your docker compose file or the commands you use to start the db and kiimai instances.

[2022-05-29 00:32] somesmart commented on #384
I'm not the most experience with docker so I went ahead and did the manual install. But thanks!

[2022-05-29 00:32] #384 closed, assigned to nobody

[2022-05-31 09:53] 3isenHeiM opened #385 "[BUG] Full-dockerized version poses problem"
**Describe the bug**
I've built the docker-compose stack relying on public base images (php-fpm & nginx), in a very docker. Every micro-service is a separate container.

However, i get errors on the nginx container, that fails to serve files and throwing this error :
[code]

The tab shows the favicon correctly, I take that as a proof that the Nginx stack works well. However on the PHP side there i

[2022-05-31 10:05] tobybatch commented on #385
Why use this image?

[code]

The `kimai/kimai2:fpm` image has php-fpm build into it. Have you tried just running this `docker-compose.yml`?

[2022-05-31 10:05] #383 closed, assigned to nobody

[2022-05-31 12:21] 3isenHeiM commented on #385
I was not aware of this, thanks for the heads-up ! ;)

However, the standard nginx container does not work either, for instance with this `docker-compose.yml` :

[code]

I don't know why the official nginx image can't do the trick, and that's something I'd like to achieve (being able to use the latest nginx image0.

Here is the nginx config file I's mounting:

[code]

Running this gives me the err

[2022-06-01 14:29] 3isenHeiM opened #386 "[FEATURE] Support for db backups"
**Is your feature request related to a problem? Please describe.**
When installing Kimai with Docker, the image does not come with the tools required to take backups of the DB from the container itself.

Using backup plugins (like https://www.kimai.org/store/maximiliangross-easy-backup-bundle.html) is thus not possible since the kimai docker does not have the `mysql` and `mysqldump` binaries.

**D

[2022-06-02 11:44] tobybatch commented on #385
Your nginx container needs to reverse proxy into the kimai container. I've not used the CGI pass in this way. Sorry

It's a bit out of scope for this repo. Maybe the Apache image my suit you more if you are struggling to set up the reverse proxy.

[2022-06-02 11:48] tobybatch commented on #386
The database is not included in this repo at all. Those tools should exist in the Maria/postfix/mysql container. It's not in the PHP/kimai container's scope to handle SQL commands.

For example we don't mandate mysql. You could connect this image to a postfix db I'd you wanted.

[2022-06-02 11:48] #386 closed, assigned to nobody

[2022-06-02 11:51] kevinpapst commented on #386
Besides the fact that Kimai only supports MySQL: it is a bit strange inversion of responsibility if the application should backup itself.

You might want to setup a cron command in the DB container to dump the mysql database into a shared directory/volume.

[2022-06-02 12:37] 3isenHeiM commented on #386
I definitely will, thanks for the hint.

[2022-06-02 15:49] #385 closed, assigned to nobody

[2022-06-15 13:32] tobybatch commented on #373
#388

[2022-06-15 15:48] kevinpapst commented on #373
👍

[2022-06-15 15:48] #373 closed, assigned to tobybatch

[2022-06-19 15:08] #352 closed, assigned to nobody

[2022-07-04 13:39] fishfish77 opened #391 "Docker install got 400: Bad Request error"
Hello,

I set kimai up in 2 docker containers and if I want to connect to the site throught the browser, I only get an error 400...
Can anyone help me please?

Kind regards!
![Screenshot 2022-07-04 144057](https://user-images.githubusercontent.com/108674352/177166598-847fdc2e-526a-4690-b012-56b3099553c8.png)
![Screenshot 2022-07-04 144143](https://user-images.githubusercontent.com/108674352/177166

[2022-07-04 13:55] tobybatch commented on #391
I need more info. which image, which os, how was it started?

[2022-07-04 14:29] fishfish77 commented on #391
its a debian bullseye in an proxmox ve and following commands:

 sudo docker run  --name kimai-mysql-testing     -e MYSQL_DATABASE=kimai     -e MYSQL_USER=kimai     -e MYSQL_PASSWORD=kimai     -e MYSQL_ROOT_PASSWORD=kimai     -p 3399:3306 -d mysql

 sudo docker run --name kimai-test     -ti     -p 8001:8001     -e DATABASE_URL=mysql://kimai:kimai@192.168.74.13:3399/kimai     kimai/kimai2:apache

[2022-07-04 15:30] tobybatch commented on #391
And can I see the log output from the kimai container when the 400 is thrown. I believe this is something to do with your VE

[code]

[2022-07-05 07:57] fishfish77 commented on #391
[Tue Jul 05 09:55:22.715142 2022] [php:notice] [pid 173] [client 10.0.10.221:54801] [2022-07-05 07:55:22] request.ERROR: Uncaught PHP Exception Symfony\\Component\\HttpKernel\\Exception\\BadRequestHttpException:
"Untrusted Host "192.168.74.13"." at /opt/kimai/vendor/symfony/http-kernel/HttpKernel.php line 83 {"exception":"[object] (Symfony\\\\Component\\\\HttpKernel\\\\Exception\\\\BadRequestHttpE

[2022-07-05 08:00] tobybatch commented on #391
`Untrusted Host "192.168.74.13`

From the troubleshooting docs page:

[code]

[2022-07-05 08:00] #391 closed, assigned to nobody

[2022-07-10 10:05] #381 closed, assigned to nobody

[2022-09-05 15:00] varunpan opened #405 "[BUG] Error reloading cache: Cannot autowire service"
**Describe the bug**
I pulled new image and now getting an error when reloading cache.
I attempted to manually rebuild the cache and getting the same error when running the cache:clear and cache:warmup or any another bin/console functions.

**To Reproduce**
1. `docker pull kimai`
2. reloaded cache: `docker exec -ti kimai /opt/kimai/bin/console kimai:reload --env=prod`
3. See error:
[code]

**Addit

[2022-09-05 15:03] tobybatch commented on #405
I don't understand this. `kimai` isn't the correct image name.

Can you show the output of this command please?

[code]

[2022-09-05 15:07] varunpan commented on #405
Im sorry it was `docker pull kimai2:fpm`

[2022-09-05 15:10] tobybatch commented on #405
Is this started as a docker-compose tear up? what is running the web proxy for the FPM instance?

And I guess it's actually

[code]

[2022-09-05 15:11] tobybatch commented on #405
Can you post the output of

[code]

[2022-09-05 15:25] kevinpapst commented on #405
@tobybatch It is correct that the service definition was changed for this release, see line:
https://github.com/kevinpapst/kimai2/blob/master/config/services.yaml#L59

But it is not correct that this error is thrown. Can't tell you if this is some kind of weird cache problem or an update problem though. The only idea I have is to remove the existing cache with a hard `rm -rf /opt/kimai/var/cache/p

[2022-09-06 00:31] varunpan commented on #405
sure it is:

[code]

[2022-09-06 00:33] varunpan commented on #405
I did remove manually remove the cache and tried to manually rebuild the cache, but getting the same error when trying to run any type of bin/console command.

[2022-09-06 00:39] varunpan commented on #405
Yes, see below my docker compose file:

[code]

[2022-09-06 08:32] tobybatch commented on #405
@kevinpapst I can't reproduce this error but I am getting this when I run composer install in the running instance. The weird thing is if this command failed during the container creation we would be getting an error in the github build action.

[code]

But I can't see that bundle anywhere.

[code]

and finally

[code]

[2022-09-06 09:52] kevinpapst commented on #405
@tobybatch you are posting an output from the next major version. The package "TablerBundle" is not in 1.24 but only in 2.0

[2022-09-06 18:17] varunpan commented on #405
I reverted back to `kimai/kimai2:fpm-1.23.1-prod` image and it works, so it seems to be related to this update to 1.24 in the latest.

[2022-09-07 09:19] tobybatch commented on #405
@kevinpapst It shouldn't but looks like it may an issue with the github action.

Thanks, I'll take a look

[2022-09-21 16:32] l8gravely opened #406 "[FEATURE] docker-compose examples and documentation"
I've been trying to setup kimai2 using the sample docker-compose.yml file, but I'm missing some steps because I can't seem to login.  It would be nice to have some steps documented in the actual docker-compose.yml file for a first time user on what to change.  And how to maybe blow things away if you get into a total mess.

I'd really like to self host this as a test, so having the pointers on wha

[2022-09-22 07:27] tobybatch commented on #406
Can you outline what you have tried and what error you got?

I just ran

[code]

And logged in using the [superadmin](https://github.com/tobybatch/kimai2/blob/main/docs/runtime-args.md#runtime-arguments) and [changemeplease](https://github.com/tobybatch/kimai2/blob/main/docker-compose.yml#L42).

If you like to raise a PR to add a quick start page with more detailed instructions, then I'd be happy

[2022-09-22 15:23] l8gravely commented on #406
I had tried to edit the docker-compose.yml file ahead of time to
replace the 'changemeplease' password with something more secure.

But what I now see was probably my error was the 'superadmin'
username.

But I also think it would be good to note in the docker-compose.yml
file more of these assumptions.  Or expand the README.md to mention.

Hmm....

Looking at it more, I just pulled down the docke

[2022-09-22 16:41] tobybatch commented on #406
Your error message shows that the DB set in the docker compose is not correct.

I just ran this. >>> Is snipped content

[code]

[2022-09-23 17:55] l8gravely commented on #406
Thanks for your help.  I blew it all away and re-installed and it's
going.  I'm still going to ask that there be more documentation and
tips/tricks on getting this going.

I do appreciate your work.

Also, should the postscript install be updated to be able to point to
an upstream SMTP server, since I don't want to bother having to setup
a full postscript system here.  I looked at the docs of the

[2022-09-24 15:29] MrRulf opened #407 "[BUG] Can't get LDAP to run"
**Describe the bug**
I can't get LDAP to run with Kimai(Docker). I have other services using the same LDAP server so I'm pretty sure the problem is on Kimai site.

**To Reproduce**
local.yaml:
[code]

**Desktop (please complete the following information):**
 - OS: ubuntu 22.04 server
 - Docker version: 20.10.18
 - Docker Compose version: v2.10.2

**Command used to run the container**
 - [e.g. dock

[2022-09-24 15:34] kevinpapst commented on #407
Try to use a developer container with `APP_ENV=dev` (not sure if that works in the prod docker) to see the LDAP query logs.

[2022-09-24 17:24] MrRulf commented on #407
Did that, but I still can't find anything that looks related to ldap :/
[code]

[2022-09-24 18:02] kevinpapst commented on #407
You have to check the Kimai log file at kimai-root/var/log/dev.log, not the docker logs!

[2022-09-24 18:05] kevinpapst opened #408 "[FEATURE] Open repository feature "discussions""
Hi @tobybatch,

What do you think about opening up the discussions for this repo?
Since I did that in the main Kimai repo, a lot of the same repetitive questions stopped popping up.
People tend to search discussions, but closed issues easily get lost.
Issues are simply not made for storing informations.

Directly in Settings under the "Features" header there is a checkbox for it:
<img width="234"

[2022-09-26 07:44] MrRulf commented on #407
I can't access the root folder in the container, permission denied and sudo and su don't work :/
I used this comment to enter the container: ```sudo docker exec -it kimai bash```
(had no access to a pc to test in the last two days :/)

[2022-09-26 08:35] tobybatch commented on #408
Done. I don't even know it existed.

[2022-09-26 08:35] #408 closed, assigned to nobody

[2022-09-26 08:37] tobybatch commented on #407
[code]

[2022-09-26 08:45] tobybatch commented on #406
The postfix service is used to send password resets and stuff like that if you wanted to use an upstream SMTP server you can just override the mail server config by mounting your own `local.yml` and override it,

https://www.kimai.org/documentation/emails.html

I'll add a review of the docs to my to do list but I'm just a volunteer and don't as much time as I'd like to keep this repo running. I ha

[2022-09-26 08:45] #406 closed, assigned to nobody

[2022-09-26 08:57] kevinpapst commented on #407
@tobybatch doing a tail on the kimai log would be something like this ?
[code]

[2022-09-26 08:57] #407 closed, assigned to nobody

[2022-09-26 14:51] varunpan commented on #405
Still getting the error when using the latest tag:
[code]
Kimai version: 1.25.0

[2022-10-09 18:24] whoisbarry opened #416 "Uncaught PHP Exeption TypeError "SamlProvider""
Hello everyone,

I was using kimai2 on docker for several months now without any issue. To keep up to date I also included the containers into my watchtower routine to update them automatically every week.

Since updating to the latest version I'm now unable to access my kimai2 web interface with the following error.

![kimai01](https://user-images.githubusercontent.com/73469199/194773077-065ed2cb

[2022-10-09 19:48] kevinpapst commented on #416
Cache reload will solve the issue. Search discussion and/or closed issues, I think that exact error was discussed before.

[2022-10-09 19:48] #416 closed, assigned to nobody

[2022-10-21 12:09] PWolff27 opened #421 "Bug? Tag: fpm-latest not latest?"
We are using Kimai with Docker on Debian 11 and have written the tag fpm-latest in the docker-compose.yml.
 However, we get version 1.22.1 while the latest version is 1.27.0.

We tried to update Kimai after starting it up but nothing happens. It says that we already got the latest version (1.22.1)

Here are some screenshots out of the docker.compose.yml

![2022-10-21_14h08_02](https://user-images.

[2022-10-21 14:08] tobybatch commented on #421
Canyou try a manual docker pull please? I see 1.27.0

[code]

[2022-10-21 14:28] PWolff27 commented on #421
It worked thank you very much. I pulled the latest version manually and after that I started Kimai over docker compose again. Now it is 1.27.0

[2022-10-21 14:28] #421 closed, assigned to tobybatch

[2022-10-27 17:54] pinkworld123 opened #422 "support for volume mount with uid pid needed"
Hello,

Please support mount of volume with specific UID and PID so it can match the host UID PID. Currently there are error to mount volume with host path directory.

Thanks

[2022-10-27 18:29] tobybatch commented on #422
What you are actually asking for is run as UID. I can put that on the end of the wish list but it's not a high one. I would instead suggest using docker volumes where the permissions will be handled by the docker daemon.

[2022-10-27 22:19] pinkworld123 commented on #422
@tobybatch why its low priority, its better to use UID GID for running a docker process, that can be easy also for back up of volume when its easily accessible on normal disk path folder.

For example all docker containers made by this guys supports this by default. may be this can help you as an example.
https://github.com/linuxserver.

Thank you for reply. and Thanks for your time.

[2022-10-28 08:34] tobybatch opened #423 "[FEATURE] Provide a UID and GID at run time."
**Is your feature request related to a problem? Please describe.**
When I mount user space volumes the ownership of those files is uid 33 & gid 33

**Describe the solution you'd like**
Provide a UID and GID at run time.

**Describe alternatives you've considered**
Use docker volumes

[2022-10-28 08:35] tobybatch commented on #422
The docker already deescalates user level to `www-data` before running. Docker volumes are more convenient.

This repo is supported in my spare time and I have a bunch of features I want to include and, I'm sorry, but this just isn't a very pressing one. Maybe you would like to submit a PR that makes the changes for me? Or sponsor the project.

You could roll your own extended image.

Sorry, I can

[2022-10-28 08:35] #422 closed, assigned to nobody

[2022-10-28 08:36] tobybatch commented on #405
@varunpan Is this still an issue?

[2022-11-07 10:16] clyso-dr opened #426 "[DOCS] allow memory_limit to be set at runtime"
**Describe the bug**
The environment variable does not work.

**To Reproduce**
[code]

**Desktop (please complete the following information):**
 - OS: K8s 1.24.7
 - container runtime version: containerd 1.6.8
 - container version: apache-latest (1.28.1)

**Command used to run the container**
 - helm chart version 1.4.6

[2022-11-07 11:27] kevinpapst commented on #426
Try `php -D memory_limit=1G ../../bin/console kimai:reload`

[2022-11-07 11:34] clyso-dr commented on #426
yes, with -d instead of -D its working

[code]

[2022-11-07 12:16] kevinpapst commented on #426
added docs for the next one #427

[2022-11-07 12:20] clyso-dr commented on #426
But I get the memory error also on the start up of the container not only by the reload.

[2022-11-07 12:28] kevinpapst commented on #426
https://tobybatch.github.io/kimai2/runtime-args.html#runtime-arguments

If 512M is not sufficient, something is wrong.

[2022-11-07 12:36] clyso-dr commented on #426
Its 256M:
[code]
And if I do this with 256M its working, with 128 not:
[code]

With 128M:
[code]

So as I said by opening the ticket, the feature is not working...

[2022-11-07 13:45] tobybatch commented on #426
@clyso-dr which kimai image are you using?

[2022-11-07 13:48] clyso-dr commented on #426
container version: apache-latest (1.28.1)

[2022-11-07 14:01] tobybatch commented on #426
I don't use helm to start containers but it seems to work on the CLI. Could you confirm that if your run the same command you see the same outcome.

[code]

[2022-11-07 14:19] clyso-dr commented on #426
That we do not miss understand us, the variable is there and I added the feature to adjust it via the helm chart (https://github.com/robjuz/helm-charts/pull/26/files) so this is working, I just added 256M instead of 512M but the php of the container is still using 128M, expect I set manually "php -d....". So variable is there but without function in my perspective.

[2022-11-07 14:27] clyso-dr commented on #426
![Bildschirmfoto 2022-11-07 um 15 28 04](https://user-images.githubusercontent.com/95695776/200334829-41886808-6d97-4547-84d3-a2f20112ad9c.png)

[code]

[2022-11-08 10:06] jpVm5jYYRE1VIKL opened #428 "[FEATURE] Add sub-customer(service or work requester) per project"
**Is your feature request related to a problem? Please describe.**

Quite often exist following situations :
1 Project which have 1 customer who basically pay money .
but inside project also exist multiply sub-customers ( contractors ) who can ask to do different activities.
And invoicing to main customer have to go per every sub customer.
I. e . pay main customer but hours calculated per every su

[2022-11-08 10:09] kevinpapst commented on #428
Wrong repository, this is Docker.
Kimai is here: https://github.com/kevinpapst/kimai2

Not sure if custom-fields might be able to help you. There is a demo existing, where you can test it:
https://www.kimai.org/store/custom-fields-bundle.html

[2022-11-08 10:09] #428 closed, assigned to nobody

[2022-11-08 15:00] jpVm5jYYRE1VIKL commented on #428
This is not what i need. And i not ready to pay 50 Eur for such minor feature.

[2022-11-08 15:07] tobybatch commented on #426
So I'd guess that this is an issue with how the helm chart is starting the container. When it starts using the native docker daemon it correctly sets the env variable and the docker memory limit.

I don't use helm to deploy images so don't really know but it looks like that sets the virtual machine memory limit for php, the container also tries to set it's limit: https://github.com/tobybatch/kimai

[2022-11-14 10:26] tobybatch commented on #426
How do you pass in other environment settings, like DATABASE_URL? Could it me that as `memory_limit` mirrors the php setting name it is being masked during tear up?

We could try a dev build that used `KIMAI_MEMORY_LIMIT` instead of `memory_limit`

[2022-11-15 08:03] clyso-dr commented on #426
DATABASE_URL is a secret and will be also set as environment variable in the container as everything else. (https://github.com/robjuz/helm-charts/blob/master/charts/kimai2/templates/secret.yaml)

[code]
On the helm chart its always values.yaml -> configmap or secret -> environment variable

[2022-11-15 09:29] tobybatch commented on #426
So your secrets look something like

[code]

Is that right?

[2022-11-15 09:43] clyso-dr commented on #426
No because it must not be secure so it will just set as environment variabel ... but I think I found the problem:

`/startup.sh: line 42: /usr/local/etc/php/php.ini: Permission denied`

Because the container is running as www-data and the file permission is root:

[code]

[2022-11-17 09:57] clyso-dr commented on #426
Maybe as idea - **Example 1 php.ini Environment Variables**:
https://www.php.net/manual/en/configuration.file.php#example-36

[2022-11-21 09:18] tobybatch commented on #426
Yes, you can totally override the php ini files my mounting your own. In fact that will be the wuickest way to fix this issue. I'm going to need to re-think how the container starts before I can both; override system config files, and run as a delegated user. Ironically this used to the how we advised containers to be set up.

[2022-11-22 04:31] kevinpapst opened #432 "[BUG] Last build failed"
The `symfony-cmd` was not found

https://github.com/tobybatch/kimai2/actions/runs/3517863216/jobs/5896121624#step:8:3256

[2022-11-22 21:45] JayJohnsen commented on #432
hi guys,
I think I have the same error when building the container. Docker build exit with code 127 in stdn.

[code]

[2022-11-24 09:38] tobybatch commented on #432
The issue is with LDAP symfony plugin. I'll look at getting that fixed.

[2022-11-24 09:47] tobybatch commented on #432
Or maybe not. @kevinpapst I see

https://github.com/kevinpapst/kimai2/blob/master/composer.json#L147

But when I don't seem to have symfony-cmd installed, this was run in the container:

[code]

I see that the instructions for symfony cli seem to have renamed the command to just `symfony`. Any suggestions?

https://symfony.com/download

Or is that something else?

[2022-11-24 10:34] kevinpapst commented on #432
The composer entries are something else. It doesn't work locally as well if I try to run symfony-cmd.
It is a "shortcut" that tells the Symfony-Flex-Plugin (for composer) to execute this command:
https://github.com/symfony/flex/blob/1.x/src/ScriptExecutor.php#L83

Not sure what happens, but there are two possible reasons I can think of:
- The flex plugin is not executed, but I do not see the `--no

[2022-11-24 10:36] kevinpapst commented on #432
Ah damn, after writing this poem I found the reason and it is right in front of us:
https://github.com/tobybatch/kimai2/actions/runs/3517863216/jobs/5896121624#step:8:3233

[code]

Can you please try that @tobybatch ?
I am about to push a new patch release, so we can immediately try the change.

[2022-11-24 11:49] tobybatch commented on #432
@kevinpapst I'll take a look tonight :crossed_fingers: the CI should just get it. :smiley:

[2022-11-24 11:50] tobybatch commented on #432
If the patch doesn't work I can drop privs earlier in the build, or allow SU

[2022-11-24 19:45] JayJohnsen commented on #432
@kevinpapst you are right. i just ran a test locally and `ENV COMPOSER_ALLOW_SUPERUSER=1` fix the error for now.
but referring to `#86 0.552 Do not run Composer as root/super user! See https://getcomposer.org/root for details`  the composer docs 'strongly advised to avoid running Composer as super-user/root'.

[2022-11-28 12:10] kevinpapst commented on #432
@tobybatch any chance that you can push the fix with the new env?
I'd do it myself, but I don't know where to start... and I get emails why the docker image is not up-to-date 🙈

[2022-11-28 12:15] kevinpapst commented on #432
Well, I have no clue what I am doing, but if you could verify #434 @JayJohnsen that would be awesome!

[2022-11-28 14:01] JayJohnsen commented on #432
@kevinpapst  well, i have no clue too.  For now i have just added , like you do, `ENV COMPOSER_ALLOW_SUPERUSER=1` to the # global base build section of the Dockerfile.
I am not familiar with Composer but in the log was a link to https://getcomposer.org/root

But I'm not sure if that's the case here because it's quite common to run processes in the container as root.

[2022-11-28 14:06] kevinpapst commented on #432
Let's not get in the root discussion. Composer has to announce that and it is obviously true for various reasons.

But: we are in a container and the content of the composer file is known and the plugins can be trusted.

The env is a "quick fix".
I assume dropping permissions earlier is way more work for @tobybatch and for now I am mostly interested in getting build back to work.

So if you did th

[2022-11-28 14:31] JayJohnsen commented on #432
Sorry @kevinpapst it´s not my goal to start a root discussion! I´m not a native speaker i was not sure what want to onfirmed.
sorry i am just at work. i gues i call the Env a bit later in the final builds... but i gues it dosent matter. I can send you my Dockerfile if i have finished my Job. Thanks a lot for your Work!

[2022-11-28 15:55] kevinpapst commented on #432
Nothing to be sorry about, I appreciate any input/feedback! I am using GitHub daily, so I sometimes forget that processes here are not as clear if you are not used to it.

[2022-11-28 16:32] tobybatch commented on #432
@kevinpapst @JayJohnsen

Dropping perms earlier is a *way* better option. I'll add that to the TODO list. I'll push a fix using the env var tonight. Sorry busy with the day job recently.

@JayJohnsen Like Kevin I'm always open to to constructive suggestions.

[2022-11-28 16:39] tobybatch commented on #432
Just pushed a fix. It build fine locally. I'll re-trigger the git hub action

[2022-11-28 17:09] kevinpapst commented on #432
Re-running the old builds will fail, as the action will checkout the old code again.

I triggered it from Kimai repo again, seems to have worked!

[2022-11-28 17:23] kevinpapst opened #435 "[TECH DEBT] Build deprecation warnings"
**Is your feature request related to a problem? Please describe.**

The builds show a warning nowadays about deprecated GitHub action features, e.g.
https://github.com/tobybatch/kimai2/actions/runs/3566944034

<img width="764" alt="Bildschirmfoto 2022-11-28 um 18 19 17" src="https://user-images.githubusercontent.com/533162/204340827-e919760c-fd2b-46f4-a59e-c9136152e687.png">

I fixed that in my bu